.blog .content-block,
.blog-by-tag .content-block {
  padding-top: 90px;
}

.blog-by-tag .hero-inner {
  padding-top: 100px;
  padding-bottom: 0;
}

// Blog Tabs
.blog-tab-head {
  margin-bottom: 20px;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lighten($ink, 48);
  }

  .tab-head-item {
    font-size: $beta - 4px;
    color: lighten($ink, 30);
    border-bottom: 6px solid transparent;
    position: relative;
    cursor: default;

    &:hover {
      color: lighten($ink, 20);
      border-bottom-color: lighten($ink, 44);
    }

    &.active {
      color: $ink;
      border-bottom-color: $ink;
    }
  }
}

// Posts
.post-list {
  padding-bottom: 0;
  margin-bottom: 0;
  float: left;
  width: calc(100% - 200px);

  @media screen and (max-width: $medium) {
    width: 100%;
  }
}

.content li.post-item {
  padding-top: 0;
}

.post-item {
  @include clearfix;
  min-height: 200px;
  margin: $gutter 0;
  padding: 25px 0 28px;
  position: relative;


  @media screen and ( max-width: $medium ) {
    padding: 20px 0 40px;
  }

  &:after {
    content: "";
    height: 6px;
    width: 200px;
    background-color: lighten($ink, 48);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &:last-child {
    padding-bottom: 25px;

    &:after {
      display: none;
    }
  }
}

a .post-title {
  display: table;
  color: $primary;
  transition: 0.2s;
  line-height: 1;
  max-width: 90%;
  margin: 0 0 10px;

  @media screen and ( max-width: $medium ) {
    max-width: 100%;
  }

  .post-item & {
    @media screen and ( max-width: $medium ) {
      margin-bottom: 5px;
    }
  }

  &:hover {
    color: lighten($primary, 8);
  }
}

// Post Excerpt and Thumbnail
.blog-post-details {
  margin-bottom: 10px;
}

.post-thumbnail-wrapper {
  background-image: url('../img/blog/placeholders/pink-phold.svg');
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 200px;
  height: 140px;
  border: 2px solid lighten($pink, 30%);
  position: absolute;
  left: 0px;
  top: 0;

  @media screen and (max-width: $medium) {
    width: 150px;
    height: 100px;
  }

  @media screen and (max-width: $small) {
    width: 100px;
    height: 80px;
  }

  .post-item:nth-child(even) & {
    background-image: url('../img/blog/placeholders/blue-phold.svg');
  }

  .post-item:nth-child(3n+3) & {
    background-image: url('../img/blog/placeholders/purple-phold.svg');
  }

  .post-item:nth-child(4n+4) & {
    background-image: url('../img/blog/placeholders/orange-phold.svg');
  }

  .post-item:nth-child(5n+5) & {
    background-image: url('../img/blog/placeholders/green-phold.svg');
  }

  .post-item:nth-child(6n+6) & {
    background-image: url('../img/blog/placeholders/aqua-phold.svg');
  }
}

.post-excerpt p {
  font-size: 18px;
  line-height: 1.3;

  &:last-of-type{
    margin-bottom: 0px;
  }
}

.post-excerpt {
  margin: 15px 0;
}

.post-list-meta {
  padding-left: 200px + 12px;
  min-height: 140px;

  @media screen and (max-width: $medium) {
    padding-left: 150px + 12px;
  }

  @media screen and (max-width: $small) {
    padding-top: 100px;
    padding-left: 0;
  }
}


// Hero
.blog-pagination {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: $grey;

  @media screen and ( max-width: $small ) {
    padding-bottom: 20px;

    .btn-lrg {
      display: table;
      margin: 0 auto 20px;
    }
  }

  & + .gbl-foot {
    background-color: $grey;
  }

  @media screen and (min-width: $small) {
    .btn-old {
      position: absolute;
      right: 15px;
      top: 0;
    }
  }
}

// Post Categories
.post-categories li {
  display: inline-block;
  text-transform: capitalize;
}

// Sidebar
.blog-categories-sidebar {
  float: right;
  width: 200px;
  height: 100%;
  z-index: 3;

  @media screen and (max-width: $medium) {
    width: 100%;
    position: relative;
    padding: 12px;
  }
}

.blog-categories-sidebarul {
  line-height: 1.4;
  margin-bottom: 20px;

  li {
    margin-bottom: 2px;
  }

  @media screen and (max-width: $medium) {
    text-align: center;
    margin-bottom: 0;

    li {
      display: inline-block;
      font-size: $epsilon;
    }
  }
}

.blog-categories-other {
  @media screen and (max-width: $medium) {
    display: none;
  }
}

.blog-categories-title {
  font-size: $zeta;
  font-weight: $font-regular;
  color: lighten($ink, 25);
  margin-bottom: 2px;

  @media screen and (max-width: $medium) {
    text-align: center;
  }
}

.blog-category-title {
  font-size: $body-font-size;
}

.blog-category-head {
  font-weight: $font-bold;
  color: rgba(black, 0.3);
  margin-bottom: 2px;
}

.blog .hero-title,
.blog-by-type .herotitle {
  margin-bottom: 12px;
}

.blog-no-posts {
  float: left;
  width: calc(100% - 200px);
}

// card-tags
.blog-card {
  .card-img {
    background-image: url('../img/blog/placeholders/pink-phold.svg');
  }

  &:nth-of-type(2n) .card-img {
    background-image: url('../img/blog/placeholders/blue-phold.svg');
  }

  &:nth-of-type(3n) .card-img {
    background-image: url('../img/blog/placeholders/purple-phold.svg');
  }

  &:nth-of-type(4n) .card-img {
    background-image: url('../img/blog/placeholders/aqua-phold.svg');
  }

  &:nth-of-type(5n) .card-img {
    background-image: url('../img/blog/placeholders/orange-phold.svg');
  }

  &:nth-of-type(6n) .card-img {
    background-image: url('../img/blog/placeholders/green-phold.svg');
  }
}
