@mixin sprite( $spriteVals ) {
  width: nth( $spriteVals, 1 );
  height: nth( $spriteVals, 2 );
  background-repeat: no-repeat;
  background-image: url( #{ nth( $spriteVals, 3 ) } );
  background-position: nth( $spriteVals, 4 ) nth( $spriteVals, 5 );
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;

  &:hover {
    color: transparent;
  }
}

$gbl-sprite-path: '../../../../img/gbl-sprite.svg';
$play-pink: 28px 32px $gbl-sprite-path -531px -69px;
$play-ink: 28px 32px $gbl-sprite-path -499px -69px;
$arrowr-pink: 8px 12px $gbl-sprite-path -319px -33px;
$arrowr-white: 8px 12px $gbl-sprite-path -310px -33px;
$arrowr-ink: 8px 12px $gbl-sprite-path -301px -33px;
$logo-white: 170px 29px $gbl-sprite-path 0px 0px;
$charity-white: 21px 26px $gbl-sprite-path -164px -69px;
$gym-white: 26px 19px $gbl-sprite-path -188px -69px;
$pay-white: 26px 26px $gbl-sprite-path -136px -69px;
$beer-white: 25px 26px $gbl-sprite-path -108px -69px;
$ten-white: 24px 26px $gbl-sprite-path -81px -69px;
$snacks-white: 20px 25px $gbl-sprite-path -58px -69px;
$holiday-white: 26px 25px $gbl-sprite-path -28px -69px;
$flexible-white: 25px 26px $gbl-sprite-path 0px -69px;
$mail-black: 29px 25px $gbl-sprite-path -275px -69px;
$mail-pink: 29px 25px $gbl-sprite-path -467px -69px;
$mail-ink: 29px 25px $gbl-sprite-path -404px -69px;
$mail-white: 29px 25px $gbl-sprite-path -340px -69px;
$phone-pink: 29px 29px $gbl-sprite-path -435px -69px;
$phone-ink: 29px 29px $gbl-sprite-path -372px -69px;
$phone-white: 29px 29px $gbl-sprite-path -308px -69px;
$phone-black: 29px 29px $gbl-sprite-path -243px -69px;
$location-black: 23px 32px $gbl-sprite-path -217px -69px;
$close-grey: 17px 17px $gbl-sprite-path -280px -33px;
$menu-grey: 19px 19px $gbl-sprite-path -258px -34px;
$facebook-white: 22px 22px $gbl-sprite-path -233px -34px;
$facebook-pink: 22px 22px $gbl-sprite-path -105px -34px;
$linkedin-white: 22px 22px $gbl-sprite-path -208px -34px;
$linkedin-pink: 22px 22px $gbl-sprite-path -80px -34px;
$octocat-white: 23px 23px $gbl-sprite-path -181px -33px;
$octocat-pink: 23px 23px $gbl-sprite-path -53px -33px;
$twitter-white: 26px 21px $gbl-sprite-path -154px -33px;
$twitter-pink: 26px 21px $gbl-sprite-path -26px -33px;
$vimeo-white: 24px 21px $gbl-sprite-path -128px -33px;
$vimeo-pink: 24px 21px $gbl-sprite-path 0px -33px;


$client-sprite-path: '../../../../img/client-sprite.svg';
$vfs-logo-white: 195px 28px $client-sprite-path -450px -513px;
$bybox-logo-white: 171px 32px $client-sprite-path -461px -418px;
$express-logo-white: 120px 64px $client-sprite-path -708px -401px;
$pearson-logo-white: 170px 28px $client-sprite-path -463px -325px;
$pwc-logo-white: 97px 75px $client-sprite-path -719px -302px;
$hp-logo-white: 65px 65px $client-sprite-path -955px -305px;
$dentsu-logo-white: 65px 65px $client-sprite-path -76px -399px;
$bede-logo-white: 113px 54px $client-sprite-path -273px -405px;
$lloyds-logo-white: 138px 63px $client-sprite-path -917px -403px;
$bill-logo-white: 192px 39px $client-sprite-path -12px -508px;
$cancer-logo-white: 161px 63px $client-sprite-path -247px -497px;
$aljazeera-logo-white: 186px 63px $client-sprite-path -15px -305px;
$az-logo-white: 204px 51px $client-sprite-path -226px -307px;

$adon-logo-ink: 71px 31px $client-sprite-path -731px -218px;
$vfs-logo-ink: 195px 28px $client-sprite-path -450px -221px;
$bybox-logo-ink: 172px 33px $client-sprite-path -461px -126px;
$express-logo-ink: 121px 65px $client-sprite-path -708px -109px;
$pearson-logo-ink: 170px 28px $client-sprite-path -463px -33px;
$pwc-logo-ink: 98px 76px $client-sprite-path -718px -10px;
$hp-logo-ink: 220px 94px $client-sprite-path -877px 0px;
$dentsu-logo-ink: 66px 66px $client-sprite-path -75px -107px;
$bede-logo-ink: 114px 55px $client-sprite-path -272px -113px;
$lloyds-logo-ink: 220px 94px $client-sprite-path -877px -94px;
$bill-logo-ink: 193px 40px $client-sprite-path -12px -215px;
$cancer-logo-ink: 162px 64px $client-sprite-path -246px -205px;
$aljazeera-logo-ink: 187px 64px $client-sprite-path -15px -13px;
$az-logo-ink: 205px 52px $client-sprite-path -226px -15px;
