
<div class="blog-categories-sidebar">
  <h5 class="blog-categories-title">Top Categories:</h5>
  <ul class="blog-categories-sidebarul">
    <li>
      <a class="blog-category-title" href="/blog/tag/health/">Health</a>
    </li>
    <li>
      <a class="blog-category-title" href="/blog/tag/transport/">Transport</a>
    </li>
    <li>
      <a class="blog-category-title" href="/blog/tag/design/">Design</a>
    </li>
    <li>
      <a class="blog-category-title" href="/blog/tag/agile/">Agile</a>
    </li>
    <li>
      <a class="blog-category-title" href="/blog/tag/lightning-talks/">Lightning Talks</a>
    </li>
  </ul>
  <div class="blog-categories-other">
    <h5 class="blog-categories-title">Other Categories:</h5>
    <ul class="blog-categories-sidebarul">
      <li>
        <a class="blog-category-title" href="/blog/tag/tutorial/">Tutorial</a>
      </li>
      <li>
        <a class="blog-category-title" href="/blog/tag/opinion/">Opinion</a>
      </li>
      <li>
        <a class="blog-category-title" href="/blog/tag/digital-transformation/">Digital Transformation</a>
      </li>
      <li>
        <a class="blog-category-title" href="/blog/tag/lean/">Lean</a>
      </li>
      <li>
        <a class="blog-category-title" href="/blog/tag/innovation/">Innovation</a>
      </li>
      <li>
        <a class="blog-category-title" href="/blog/tag/bluetooth/">Bluetooth</a>
      </li>
    </ul>
  </div>
</div>
