<aside class="related-container">
  <h4 class="related-title grid">Related Posts</h4>
  <ul class="related-posts grid">
  {% for pcategory in page.categories %}

    {% assign pcatrep = pcategory | replace: ' ', '-' %}

    {% for post in site.posts %}

      {% for category in post.categories %}

          {% assign preCat = category | replace: ' ', '-' %}
          {% assign newCat = preCat | downcase %}

          {% if post.url != page.url %}
            {% if newCat == pcatrep limit:3 %}
              {% include blog-related-post.html %}
              {% assign noblogposts = false %}
            {% endif %}
          {% endif %}

      {% endfor %}

    {% endfor %}

  {% endfor %}
  </ul>
</aside>
