<li class="related-post-item col-1-3">
  <h3 class="related-post-title">{{ post.title }}</h3>
  <div class="related-post-list-meta">
    <div class="blog-post-details"><span class="post-author">{{ post.author }}</span> <span class="post-date">{{ post.date | date: '%B %d, %Y' }}</span></div>
    <ul class="post-categories">
      {% for category in post.categories %}
        {% assign catLink = category | replace: ' ', '-' %}
        <li><a class="blog-category-title" href="/blog/tag/{{catLink}}">{{category}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <a class="related-post-link" href="{{ post.url }}"></a>
  <a class="btn btn-block btn-primary btn-small" href="{{ post.url }}">Read Post</a>
</li>
