<section id="clients" class="clients-block block slash-shadow">
  <div class="block-inner grid">
    <h2 class="hidden">Clients</h2>
    <ul class="clients grid">
      <li class="client col-1-4">
        <span class="client-logo az-logo">AstraZeneca</span>
      </li>
      <li class="client col-1-4">
        <span class="client-logo pearson-logo">Pearson</span>
      </li>
      <li class="client col-1-4">
        <span class="client-logo bede-logo">Bede Gaming</span>
      </li>
      <li class="client col-1-4">
        <span class="client-logo cancer-logo">Cancer Research</span>
      </li>
      <li class="client col-1-4">
        <span class="client-logo aljazeera-logo">Al Jazeera</span>
      </li>
      <li class="client col-1-4">
        <span class="client-logo lloyds-logo">Lloyds Banking Group</span>
      </li>
      <li class="client col-1-4 ">
        <span class="client-logo bybox-logo">Bybox</span>
      </li>
      <li class="client col-1-4">
        <span class="client-logo express-logo">National Express</span>
      </li>
    </ul>
  </div>
</section>
