<section class="client-container">
  <h2 class="hidden">Clients</h2>
  <ul class="client-inner grid">
    <li class="client-item col-1-3 mobile-col-1-2 client-item-az">
      <img src="{{ site.baseurl }}/img/clients/logo-az.svg" alt="AstraZeneca">
    </li>
    <li class="client-item col-1-3 mobile-col-1-2 client-item-pearson">
      <img src="{{ site.baseurl }}/img/clients/logo-pearson.svg" alt="Pearson">
    </li>
    <li class="client-item col-1-3 mobile-col-1-2 client-item-bede">
    <img src="{{ site.baseurl }}/img/clients/logo-bede.svg" alt="Bede Gaming">
    </li>
    <li class="client-item col-1-3 mobile-col-1-2 client-item-cresearch">
      <img src="{{ site.baseurl }}/img/clients/logo-cresearch.svg" alt="Cancer Research">
    </li>
    <li class="client-item col-1-3 mobile-col-1-2 client-item-aj">
      <img src="{{ site.baseurl }}/img/clients/logo-aj.svg" alt="Al Jazeera">
    </li>
    <li class="client-item col-1-3 mobile-col-1-2 client-item-lloyds">
      <img src="{{ site.baseurl }}/img/clients/logo-lloyds.svg" alt="Lloyds Banking Group">
    </li>
  </ul>
</section>