<footer class="gbl-foot">
  <div class="gbl-foot-inner grid">
    <ul class="gbl-foot-links">
      <li><a href="tel:+442033273940">+44 (0) 20 3327 3940</a></li>
      <li><a href="mailto:{{site.email}}">{{site.email}}</a></li>
      <li><a href="{{ site.baseurl }}/contact">Find us</a></li>
      <li><a href="{{ site.baseurl }}/careers">Join us</a></li>
    </ul>
    <ul class="gbl-foot-social">
      <li><a href="https://github.com/{{site.github}}" class="github" target="_blank">Github</a></li>
      <li><a href="https://twitter.com/{{site.twitter}}" class="twitter" target="_blank">Twitter</a></li>
      <li><a href="https://vimeo.com/{{site.vimeo}}" class="vimeo" target="_blank">Vimeo</a></li>
    </ul>
    <span class="gbl-foot-tagline">Delivering Awesome!</span>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% if include.maps %}
  <!--[if gt IE 8]><!-->
  <script type="text/javascript"src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
  <!--<![endif]-->
{% endif %}
{% if include.lazyload %}
  <script type="text/javascript" src="{{ site.baseurl }}/js/vendor/jquery.lazyload.min.js"></script>
  <script>
    jQuery(function ($) {
      $('img.lazyload').lazyload({
        effect: 'fadeIn',
        threshold: 200
      });
    });
  </script>
{% endif %}
{% if include.prettyprint %}
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <script>
  [].forEach.call(document.getElementsByTagName("pre"), function(el) {
    el.classList.add("prettyprint");
  });
  </script>
{% endif %}
<script type="text/javascript" src="{{ site.baseurl }}/js/vendor/scrollReveal.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
{% for extrascript in include.extrascripts %}
  <script type="text/javascript" src="{{ site.baseurl }}/js/{{extrascript.link}}"></script>
{% endfor %}
