{% if page.layout == 'home' %}
  <section class="hero-block">
{% else %}
  <section class="hero-block slash-shadow block-{{ page.hero-translucancy }} {{ page.colour }}-bg slash-{{ page.hero-slash-angle }}">
{% endif %}

  <div class="hero-inner grid">
    <h1 class="hero-title col-1-1">{% if page.hero-title %}{{page.hero-title}}{% else %}{{page.title}}{% endif %}</h1>

    {% if page.hero-subtitle %}
      <p class="hero-subtitle col-1-1">{{page.hero-subtitle}}</p>
    {% endif %}
    {% if page.hero-btn-text %}
      <a href="{{page.hero-btn-url}}" class="btn btn-light btn-arrow btn-lrg btn-center">{{page.hero-btn-text}}</a>
    {% endif %}
    {% if page.hero-play-btn %}
      <button id="fs-video" class="hero-play-btn btn-play btn-block btn-circle white-bg">{{page.hero-play-btn}}</button>
    {% endif %}
  </div>
</section>
