<section class="hero-container {{ page.colour }}">
  <div class="hero-inner grid" data-sr="wait 0.3s, enter left move 100px">
    <h1 class="hero-title col-1-1">{% if page.hero-title %}{{page.hero-title}}{% else %}{{page.title}}{% endif %}</h1>
    {% if page.hero-subtitle %}
      <p class="hero-summary col-1-1">{{page.hero-subtitle}}</p>
    {% endif %}
    {% if page.hero-btn %}
      <a href="#{{page.hero-btn-url}}" class="btn btn-primary btn-block">{{page.hero-btn}}</a>
    {% endif %}
  </div>
</section>
<!-- /.hero-container -->