<section class="hero-container {{vsecloop.color}}">
  <div class="hero-inner grid">
    <h2 class="hero-title col-1-1">{{vsecloop.title}}</h2>

	<div class="vert-section">
		{% for paragraph in vsecloop.paragraphs %}
			
				{% if paragraph.list %}
					<ul>
					{% for paragraphlist in paragraph.list %}
				      <li>{{paragraphlist}}</li>
				    {% endfor %}
					</ul>
				{% else %}
				   <p>{{paragraph}}</p>
				{% endif %}
				
	    {% endfor %}
	</div>

  </div>
</section>
<!-- /.careers-container -->