<!--[if gt IE 8]><!-->
<section class="photos-container">
<ul class="photos-grid">
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-9.jpg" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/gif-6.gif" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-7.jpg" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-6.jpg" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/gif-2.gif" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-12.jpg" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-4.jpg" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/gif-7.gif" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-2.jpg" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/gif-1.gif" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-1.jpg" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-11.jpg" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-10.jpg" alt="pebble code culture!"></li>
  <!-- <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/gif-5.gif" alt="pebble code culture!"></li> -->
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-8.jpg" alt="pebble code culture!"></li>
  <!-- <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/gif-3.gif" alt="pebble code culture!"></li> -->
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-13.jpg" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-3.jpg" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-14.jpg" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-16.jpg" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/gif-4.gif" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-15.jpg" alt="pebble code culture!"></li>
  <li class="photos-item"><img src="{{ site.baseurl }}/img/culture/img-5.jpg" alt="pebble code culture!"></li>
</ul>
</section>
<!-- /.photos-container -->
<!--<![endif]-->