<div class="seminar-form-wrapper">
  <h3>Sign-up</h3>
  <form action="http://formspree.io/niall@pebblecode.com"
        method="POST">
        <div class="seminar-form-checkbox"><input type="checkbox" name="attending" value="yes"> Tick to confirm attendance
        </div>
        <div class="seminar-form-checkbox">
          <input type="checkbox" name="keep-me-informed" value="yes">
          Tick to be informed of future developments
        </div>
        <h4 class="seminar-form-title">Name</h4>
        <input class="seminar-form-input" type="text" name="name">
        <h4 class="seminar-form-title">e-mail</h4>
        <input class="seminar-form-input" type="email" name="_replyto">
        <input class="seminar-form-submit" type="submit" value="Sign me up!">
  </form>
</div>