<div id="seminar-signup" class="seminar-form-wrapper">
  <h3 class="seminar-form-header">Register</h3>
  <form action="http://formspree.io/stephenallottpa@pebblecode.com"method="POST">
    <div class="seminar-form-checkbox"><input type="checkbox" name="attending" value="yes"> Tick to confirm attendance
    </div>
    <div class="seminar-form-checkbox">
      <input type="checkbox" name="keep-me-informed" value="yes">
      Tick to be informed of future developments
    </div>
    <h4 class="seminar-form-title">Name</h4>
    <input class="seminar-form-input" type="text" name="name">
    <h4 class="seminar-form-title">Email</h4>
    <input class="seminar-form-input" type="email" name="_replyto">
    <input type="hidden" name="_next" value="events/thanks/" />
    <input class="seminar-form-submit btn btn-block btn-primary" type="submit" value="Register">
  </form>
</div>
