<section id="{{vsecloop.sectionid}}" class="vert-section-container {{vsecloop.color}} {{vsecloop.extra-classes}}">
  <div class="vert-section-inner grid">
  	<h4 class="vert-section-breadcrumb">{{page.title}}</h4>
    <h2 class="vert-section-title">{{vsecloop.title}}</h2>
    <img class="vert-section-large-image" src= '../img/verticals/{{vsecloop.largeimage}}' />
		{% for paragraph in vsecloop.paragraphs %}

				{% if paragraph.list %}
					<ul class="vert-section-points">
					{% for paragraphlist in paragraph.list %}
				      <li>{{paragraphlist}}</li>
				    {% endfor %}
					</ul>

				{% elsif paragraph.list-title %}
					<h3 class="vert-section-point-title">{{paragraph.list-title}}</h3>
				{% elsif paragraph.table %}
				<table class="vert-section-table" style="width:100%">
					{% for tablerow in paragraph.table %}
					<tr>
				    {% for tablecolumn in tablerow.row %}
				    	<td>
							{{tablecolumn}}
							</td>
				    {% endfor %}
				    </tr>
				   {% endfor %}
			   </table>
				{% else %}
				   <p>{{paragraph}}</p>
				{% endif %}


	    {% endfor %}

	    {% for casestudy in vsecloop.casestudies %}
	    <a class="vert-section-case-study">
				{{ casestudy }}
			</a>
	    {% endfor %}
  </div>
</section>
	{% if vsecloop.now-image %}
		  <div class="vert-section-prediction-wrapper">
		    <div class="grid">
	    	  <h3 class="vert-section-prediction-heading {{vsecloop.color}}">We predict:</h3>

					<div class="vert-section-prediction now">
								<h4 class="vert-section-prediction-title">Currently:</h4>

						<div class="vert-section-prediction-img-wrap">
							<img src="../img/verticals/{{vsecloop.now-image}}.svg" />
						</div>
						</div>

					{% if vsecloop.future-image %}
					<div class="vert-section-prediction future">
								<h4 class="vert-section-prediction-title">In the future:</h4>

						<div class="vert-section-prediction-img-wrap">
							<img src="../img/verticals/{{vsecloop.future-image}}.svg" />
						</div>
						</div>
					{% endif %}
				</div>
			</div>
		{% endif %}

<!-- /.vert-section-container -->