.contact-block {
  padding-bottom: 40px;

  @media screen and ( max-width: $medium ) {
    padding-top: 35px;
    padding-bottom: 10px;
  }

  h2 {
    font-size: $alpha;
  }

  &::before {
    @include pseudo;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: $blue;
    transform: rotate(2deg) scale(1.2);
    box-shadow: 0 10px 0 rgba(black, 0.15);
    bottom: -20px;
    height: 50px;
  }
}

.contact-item {
  -webkit-font-smoothing: antialiased;
  font-size: $gamma;
  color: white;
  line-height: 1.4;
  min-height: 50px;
  margin-top: 30px;

  @media screen and ( max-width: $medium ) {
    font-size: $delta;
  }

  a {
    padding: 0 $gutter * 2;
    display: block;
    color: white;
    word-break: break-word;
    border: none;

    @media screen and ( max-width: $medium ) {
      padding-right: 0;
    }

    &:hover {
      color: rgba(white, 0.7);
    }

    &:after {
      @include pseudo;
      opacity: 0.2;
      top: 0;
      left: 0;
    }
  }
}

.contact-item-address a:after {
  @include sprite($location-black);
}

.contact-item-phone a:after {
  @include sprite($phone-black);
}

.contact-item-email a:after {
  @include sprite($mail-black);
}

.map-block {
  padding: 0;
}

.map-container {
  position: relative;
  height: 500px;

  @media screen and ( max-width: $medium + 200px ) {
    height: 400px;
  }

  @media screen and ( max-width: $medium ) {
    height: 300px;
  }
}
