// BLOG
.blog {
  background-color: lighten($ink, 50);

  .gbl-head.show {
    box-shadow: none;
  }
}

// Category Header
.cat-head {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;

  &::before,
  &::after {
    @include shadow-pseudo;
  }

  &::before {
    bottom: -10px;
    height: 30px;
    z-index: 1;
    background-color: rgba(black, 0.1);
    transform: rotate(-1deg) scale(1.2);
  }

  &::after {
    top: -8px;
    height: 100%;
    z-index: 2;
    background-color: rgba($blue, 0.99);
    transform: rotate(-0.6deg) scale(1.2);
  }
}

.cat-head-inner {
  position: relative;
  z-index: 3;
  text-align: center;
}

.cat-head-btn {
  @include foutfix;
  margin: 105px 0 5px;
  line-height: 1.3;
  font-size: $beta - 2px;
  font-family: $brandon;
  font-weight: $font-black;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  color: white;
  text-shadow: 2px 2px 0 rgba(black, 0.2);
}

// Category Modal
.cat-modal {
  display: none;
}

// Featured Post
.hero-container-feature.hero-container {
  background-color: darken($blue, 6);

  .hero-inner {
    padding-top: 158px;
  }

  .hero-title {
    padding-top: 50px;
    padding-bottom: 60px;
    font-size: $tera - 8px;
  }

  .meta-title-container {
    padding-left: 20px;
  }

  .post-author {
    color: white;
    padding-left: 20px;
  }

  .post-date {
    color: rgba(white, 0.6);
  }
}

// Post List
.post-list {
  margin-top: -80px;
}

.post-item {
  padding: 35px 30px;
  position: relative;
  z-index: 1;
  transition: 0.3s transform;

  &:hover {
    transform: scale(1.01);

    .btn { @extend .btn-primary:hover; }
    .related-post-title { color: darken($primary, 8); }
  }

  &::before {
    @include shadow-pseudo;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(black, 0.1);
    transform: scale(1.02) rotate(-0.6deg);
  }
}

.post-author,
.post-date {
  display: inline-block;
  padding: 0 20px 20px 0;
}
