//===============================================================================
// BLOG
//===============================================================================
// Hero
.blog {
  .gbl-head {
    background-color: transparent;

    @media screen and ( max-width: $medium ) {
      background-color: $aqua;
    }
  }

  .content-container {
    margin-top: 10px;
  }
}

.hero-container-blog, .hero-container-blog.aqua {
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 70px, rgba(255,255,255,.1) 70px, rgba(255,255,255,.1) 140px);

  &:before {
    bottom: 25px;
    transform: rotate(-2deg) scale(1.2);
    -ms-transform: rotate(-2deg) scale(1.2);
    -webkit-transform: rotate(-2deg) scale(1.2);
  }

  &:after {
    transform: rotate(-1.4deg) scale(1.2);
    -ms-transform: rotate(-1.4deg) scale(1.2);
    -webkit-transform: rotate(-1.4deg) scale(1.2);
  }

  .meta-title-container {
    margin-bottom: 30px;
  }

  a .hero-title {
    margin-bottom: 50px;
    transition: 0.2s;
    display: table;

    @media screen and ( max-width: 1100px ) {
      font-size: $tera - 10px;
    }

    @media screen and ( max-width: 900px ) {
      font-size: $giga;
      margin-bottom: 30px;
    }

    @media screen and ( max-width: 800px ) {
      font-size: $mega;
    }

    @media screen and ( max-width: 700px ) {
      font-size: $mega - 5px;
    }

    @media screen and ( max-width: 600px ) {
      font-size: $alpha;
    }

    &:hover {
      transform: scale(1.03);
      -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
    }
  }

  .post-author {
    color: white;
  }

  .post-date {
    color: white;
    margin-bottom: 10px;
  }
}

// Blog Tabs
.blog-tab-head {
  margin-bottom: 20px;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lighten($ink, 48);
  }

  .tab-head-item {
    font-size: $beta - 4px;
    color: lighten($ink, 30);
    border-bottom: 6px solid transparent;
    position: relative;
    cursor: default;

    &:hover {
      color: lighten($ink, 20);
      border-bottom-color: lighten($ink, 44);
    }

    &.active {
      color: $ink;
      border-bottom-color: $ink;
    }
  }
}

// Posts
.post-list {
  padding-bottom: 0;
  margin-bottom: 0;
}

.post-item {
  margin: $gutter 0;
  padding: 25px 0 55px;
  position: relative;

  &:after {
    content: "";
    height: 6px;
    width: 200px;
    background-color: lighten($ink, 48);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &:last-child {
    padding-bottom: 25px;

    &:after {
      display: none;
    }
  }

  a {
    display: block;
  }
}

a .post-title {
  display: table;
  font-family: $brandon;
  font-weight: $font-black;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: $primary;
  transition: 0.2s;
  line-height: 1;
  max-width: 80%;
  margin: 0 0 10px;

  @media screen and ( max-width: $medium ) {
    max-width: 100%;
  }

  .post-item & {
    font-size: $alpha;
  }

  @media screen and ( max-width: $medium ) {
    font-size: $beta;
    margin-bottom: 5px;
  }

  @media screen and ( max-width: $small ) {
    font-size: $beta - 4px;
  }

  &:hover {
    color: lighten($primary, 8);
  }
}

.post-author {
  display: block;
  font-size: $gamma;
  font-weight: $font-bold;
}

.post-date {
  display: block;
  color: rgba($ink, 0.6);
}

.blog-pagination {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: lighten($ink, 50);
  position: relative;

  @media screen and ( max-width: $small ) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &:after {
    @include shadow-pseudo;
    top: -25px;
    height: 50px;
    background-color: white;
    z-index: 2;
    transform: rotate(1.2deg) scale(1.2);
    -ms-transform: rotate(1.2deg) scale(1.2);
    -webkit-transform: rotate(1.2deg) scale(1.2);

    @media screen and ( max-width: $small ) {
      display: none;
    }
  }

  .btn {
    display: table;
  }

  .btn-old {
    position: absolute;
    right: 15px;
    top: 0;
  }

  @media screen and ( max-width: $small ) {
  }
}