.benefits-block {}

.benefits-list {
  li {
    -webkit-font-smoothing: antialiased;
  }

  h3 {
    margin-bottom: 20px;

    &:before {
      content: "";
      height: 6px;
      width: 150px;
      background-color: rgba(white, 0.2);
      display: block;
      margin: 30px 0 50px;

      @media screen and ( max-width: $medium ) {
        margin-bottom: 30px;
      }
    }
  }
}

.benefits-list {
  margin-bottom: 0;
}

.benefits-list-item {
  padding: $gutter $gutter * 2 $gutter 60px;
  line-height: 1.2;
  position: relative;
  text-align: left;

  @media screen and ( max-width: $medium ) {
    padding-right: $gutter;
  }

  &:after {
    @include pseudo;
    top: 15px;
    left: 25px;
    opacity: 0.6;
  }

  &.benefit-flexible {
    padding-top: 8px;

    &:after { @include sprite($flexible-white); }
  }

  &.benefit-10 {
    padding-top: 8px;

    &:after { @include sprite($ten-white); }
  }

  &.benefit-holidays:after { @include sprite($holiday-white);  }

  &.benefit-snacks:after {
     @include sprite($snacks-white);
    left: 28px;
  }

  &.benefit-pay:after { @include sprite($pay-white); }

  &.benefit-gym {
    padding-top: 8px;

    &:after { @include sprite($gym-white); }
  }

  &.benefit-social:after { @include sprite($beer-white); }

  &.benefit-charity:after {
    @include sprite($charity-white);
    left: 28px;
  }
}

// Culture Photos grid
.photo-grid-block {
  z-index: -1;
  overflow: hidden;
  position: relative;
  margin-top: -230px;
  height: 650px;

  @media screen and ( min-width: 1500px ) {
    height: 500px;
  }

  @media screen and ( min-width: 1800px ) {
    height: 600px;
  }

  @media screen and ( max-width: $medium ) {
    margin-top: 0;
    margin-bottom: 0;
    height: 350px;
  }

  @media screen and ( max-width: $small ) {
    height: 300px;
  }
}

.photo-grid {
  position: relative;
  width: 120%;
  width: calc(100% + 220px);

  @media screen and ( min-width: 1500px ) {
    width: calc(100% + 280px);
  }

  @media screen and ( min-width: 1800px ) {
    width: calc(100% + 350px);
  }

  @media screen and ( max-width: $medium ) {
    width: calc(100% + 150px);
  }

  @media screen and ( max-width: $small ) {
    width: calc(100% + 100px);
  }
}

.photo-grid-item {
  padding: 0;
  width: 220px;
  height: 220px;
  position: relative;
  overflow: hidden;
  float: left;

  img {
    display: block;
    width: auto;
    max-width: none;
    min-width: 220px;
    width: auto;
    height: 220px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and ( min-width: 1500px ) {
    height: 280px;
    width: 280px;

    img {
      min-width: 280px;
      height: 280px;
    }
  }

  @media screen and ( min-width: 1800px ) {
    height: 350px;
    width: 350px;

    img {
      min-width: 350px;
      height: 350px;
    }
  }

  @media screen and ( max-width: $medium ) {
    height: 150px;
    width: 150px;

    & > img {
      min-width: 150px;
      height: 150px;
    }
  }

  @media screen and ( max-width: $small ) {
    height: 100px;
    width: 100px;

    & > img {
      min-width: 100px;
      height: 100px;
    }
  }
}
