

.project-item-img-feat {
  margin-bottom: 30px;
  max-width: 50%;

  @media screen and ( max-width: $medium ) {
    margin-bottom: 20px;
  }
}


.project-azsearch {
  .project-title {
    padding-top: 5px;
  }
  .project-item-inner {
    // background-image: url(../img/projects/hand.svg);
    z-index: 5;
    position: relative;
    background-position: top;
    background-size: 100% 100%;

    @media screen and ( max-width: $medium ) {
      background-size: 100%;
    }
  }

  & + .photo-container .photo-inner:after {
    background-color: $purple;
  }
}

.project-bede {
  .project-item-inner {
    background-color: $aqua;
    // background-image: url(../img/projects/flexible.svg);
  }

  & + .photo-container .photo-inner:after {
    background-color: $aqua;
  }
}

.project-azinno {
  .project-item-img-feat {
    max-height: 300px;
  }

  .project-item-inner {
    background-color: $blue;
    // background-image: url(../img/projects/trophy.svg);
  }

  & + .photo-container .photo-inner:after {
    background-color: $blue;
  }
}
