//===============================================================================
// CONTACT
//===============================================================================
// Hero
.hero-container-contact {
  &:before {
    @include shadow-pseudo;
    bottom: 20px;
    height: 20px;
    background-color: rgba(black, 0.15);
    transform: rotate(2.1deg) scale(1.2);
    -ms-transform: rotate(2.1deg) scale(1.2);
    -webkit-transform: rotate(2.1deg) scale(1.2);
  }

  &:after {
    @include shadow-pseudo;
    bottom: -25px;
    height: 50px;
    background-color: #da426e;
    transform: rotate(1.3deg) scale(1.2);
    -ms-transform: rotate(1.3deg) scale(1.2);
    -webkit-transform: rotate(1.3deg) scale(1.2);
  }
}


// Location
.location-tab-container {
  background-color: #da426e;
  position: relative;
  overflow: hidden;

  .tab-head-container {
    padding-left: $gutter * 2;
    padding-right: $gutter * 2;

    @media screen and ( max-width: $medium ) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .tab-head-item {
    color: rgba(black, 0.25);
    z-index: 1;
    position: relative;
    margin-top: 10px;
    border-bottom: 6px solid transparent;

    &:hover {
      color: rgba(black, 0.4);
      border-bottom-color: rgba(black, 0.1);
    }

    &.active {
      color: white;
      border-bottom-color: white;
      text-shadow: 1px 2px 0 rgba(black, 0.2);
    }

    @media screen and ( max-width: $medium ) {
      margin-top: 0;
    }
  }

  .tab-head {
    position: relative;

    @media screen and ( max-width: $medium ) {
      padding-left: $gutter;
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 6px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(black, 0.1);
    }
  }
}

.location-tab-content {}

.location-item {
  font-size: $gamma;
  color: white;
  line-height: 1.4;

  @media screen and ( max-width: $medium ) {
    font-size: $delta;
  }

  a {
    margin: $gutter * 2 0;
    padding: 0 $gutter * 2;
    display: block;
    color: white;
    transition: 0.2s;
    position: relative;
    word-break: break-word;

    @media screen and ( max-width: $medium ) {
      padding-right: 0;
    }

    @media screen and ( max-width: $small ) {
      margin: $gutter 0 0;
    }

    &:last-of-type {
      margin-bottom: $gutter / 2;

      @media screen and ( max-width: $small ) {
        margin: $gutter * 2 0 $gutter;
      }
    }

    &:hover {
      color: rgba(white, 0.7);
    }

    &:after {
      @include icon-pseudo;
      top: 0;
      left: 0;
    }
  }
}

.location-item-address {
  & a:after {
    @extend .i-location-grey;
  }
}

.location-item-phone {
  line-height: 1;

  & a:after {
    @extend .i-phone-grey;
  }
}

.location-item-email {
  line-height: 1;

  & a:after {
    @extend .i-email-grey;
  }
}

// Map
.location-map-container {
  position: relative;
  height: 500px;

  @media screen and ( max-width: $medium + 200px ) {
    height: 400px;
  }

  @media screen and ( max-width: $medium ) {
    height: 300px;
  }

  &:before {
    @include shadow-pseudo;
    top: 20px;
    height: 20px;
    background-color: rgba(black, 0.15);
    z-index: 1;
    transform: rotate(-2.1deg) scale(1.2);
    -ms-transform: rotate(-2.1deg) scale(1.2);
    -webkit-transform: rotate(-2.1deg) scale(1.2);
  }

  &:after {
    @include shadow-pseudo;
    top: -25px;
    height: 50px;
    z-index: 2;
    background-color: #da426e;
    transform: rotate(-1.3deg) scale(1.2);
    -ms-transform: rotate(-1.3deg) scale(1.2);
    -webkit-transform: rotate(-1.3deg) scale(1.2);
  }
}