//===============================================================================
// ERROR (404) Pages
//===============================================================================
@import url(https://fonts.googleapis.com/css?family=VT323);

@mixin pixel-border {
  content:"";
  width: 100%;
  display: block;
  position: relative;
  background-image: linear-gradient(0deg, transparent 50%, transparent 50%),
                    linear-gradient(90deg, transparent 50%, black 50%);
  background-size: 2px 2px, 2px 2px;
  background-position: 0 0, 0 1px;
}

$VT323: 'VT323', monospace;

$error-sprite-path: '../img/error-sprite.svg';
$folder-blackfill: 48px 38px $error-sprite-path -125px 0px;
$folder-black: 48px 38px $error-sprite-path -76px 0px;
$hd-blackfill: 43px 17px $error-sprite-path -31px -18px;
$hd-whitefill: 43px 17px $error-sprite-path -31px 0px;
$help-white: 28px 25px $error-sprite-path 0 -26px;
$help-black: 28px 25px $error-sprite-path 0 0;

// Error styles
.error {
  background-color: #8592e1;
  background-image: linear-gradient(0deg, transparent 50%, #8592e1 50%),
                    linear-gradient(90deg, #8592e1 50%, black 50%);
  background-size: 2px 2px, 2px 2px;
  background-position: 0 0, 0 1px;
  height: 100vh;

  // Reset
  * {
    transition: none !important;
    font-family: $VT323 !important;
    color: black;
    line-height: 1.1;
  }

  h1, h2, h3 {
    color: black;
    text-transform: none;
    font-style: normal;
  }
}

.error-menubar {
  width: 100%;
  background-color: white;
  border-bottom: 2px solid black;
  position: fixed;
  z-index: 10;

  @media screen and ( max-width: $medium ) {
    position: relative;
  }

  &::after {
    @include pixel-border;
    position: absolute;
    height: 2px;
    bottom: -3px;
  }
}

.error-menu {
  padding: 0 20px;
  width: calc(100% - 60px);
  overflow: auto;
  white-space: nowrap;
  font-size: $gamma;
}

.error-menu-btn {
  margin: 0;
  padding: 3px 10px 5px;
  display: inline-block;

  &:hover,
  &.active {
    background-color: black;
    color: white;
  }
}

.error-help-btn {
  @include icon;
  background-color: white;
  position: absolute;
  top: 0;
  right: 20px;
  padding-left: 8px;
  padding-right: 0;

  &::after {
    @include icon-pseudo;
    @include sprite($help-black);
    top: 3px;
  }

  &.active { color: transparent; }

  &:hover::after,
  &.active::after { @include sprite($help-white); }
}

.error-window {
  background-color: white;
  border: 3px solid black;
  border-right-width: 5px;
  border-bottom-width: 6px;
  position: absolute;
  transform: translate(0, 0);

  @media screen and ( max-width: $medium ) {
    position: relative;
    margin: 20px 0;
  }

  .error-btn {
    margin-bottom: 25px;
    float: right;
  }
}

.error-window-inner {
  @include clearfix;
  border: 3px solid black;
  box-shadow: 0 0 0 2px white;
}

.error-window-head,
.error-window-subhead {
  border-bottom: 2px solid black;

  &::after {
    @include pixel-border;
    height: 1px;
    bottom: -3px;
  }
}

.error-window-head {
  h3 {
    display: table;
    background-color: white;
    padding: 5px 10px;
    margin: auto;
    text-align: center;
    font-size: $delta + 2px;
    letter-spacing: 0;
  }

  .active & {
    box-shadow: inset 0 0 0 6px white;
    background: linear-gradient( black, black 2px, white 2px, white 4px );
    background-size: 100% 4px;
  }
}

.error-window-subhead {
  @include clearfix;
  white-space: nowrap;
  box-shadow: 0 1px 0 0px white, 0 1px 0 2px black;

  &::after { bottom: -6px; }

  span {
    padding: 2px 10px;
    display: block;
    float: left;
    width: 33.33%;

    &:nth-child(2) { text-align: center; }

    &:nth-child(3) { text-align: right; }
  }
}

.error-window-content {
  padding: 25px 30px;

  h1 {
    font-size: $beta;
    letter-spacing: 2px;
  }

  p { font-size: $gamma; }
}

.error-btn {
  padding: 3px 10px 5px;
  border: 1px solid white;
  box-shadow: inset 0 0 0 1px black, 0 0 0 3px black;
  background-color: white;
  color: black;
  letter-spacing: 1px;
  position: relative;
  border-radius: 1px;

  &:hover {
    box-shadow: inset 0 0 0 200px black, 0 0 0 3px black;
    color: white;
  }
}

.error-icon {
  cursor: pointer;
  color: black;
  text-decoration: none;

  &::before {
    @include icon-pseudo;
    position: relative;
    margin: auto;
    display: table;
  }

  span {
    margin: 1px auto;
    display: table;
    padding: 1px 3px 3px;
  }

  &:hover span {
    background-color: black;
    color: white;
  }
}

// Help Window
.error-help {
  display: none;
  top: 40px;
  right: 10px;
  z-index: 4;
  width: 400px;

  @media screen and ( max-width: $medium ) {
    width: 94%;
    top: 0;
    left: 3%;
    bottom: 0;
  }

  &.visible {
    display: block;
    z-index: 1000;
  }
}

// Message Window
.error-msg {
  z-index: 2;
  width: 500px;
  top: 20%;
  left: 10%;

  @media screen and ( max-width: $medium ) {
    width: 90%;
    top: 0;
    left: 5%;
    bottom: 0;
  }
}

// Finder Window
.error-finder {
  width: 600px;
  min-height: 400px;
  bottom: 20%;
  right: 10%;

  @media screen and ( max-width: $medium ) {
    width: 96%;
    top: 0;
    right: 0;
    left: 2%;
  }

  .error-window-inner { min-height: 400px; }

  .error-btn {
    margin-bottom: 25px;
    float: right;
  }
}

.error-folder-list {}

.error-folder-icon {
  float: left;
  width: 20%;
  padding: 10px 0 30px;

  @media screen and ( max-width: $medium ) {
    width: 33.33%;
  }

  &::before { @include sprite($folder-black); }
  &:hover::before { @include sprite($folder-blackfill); }
}

.error-desktop-icon {
  position: absolute;
  top: 30px;
  right: 0;
  margin: 20px;

  span {
    margin-top: 2px;
    background-color: white;
    border: 1px dotted black;
    padding: 0 2px 2px;
  }

  &::before { @include sprite($hd-whitefill); }
  &:hover::before { @include sprite($hd-blackfill); }
}
