.expertise-block {
  padding-bottom: 0;

  .feature-block:last-of-type {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .intro-block {
    padding-bottom: 60px;
    border-bottom: 3px solid rgba(black, 0.1);
  }
}
