//===============================================================================
// HOME
//===============================================================================
// Hero
.home .hero-container {

  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 400px;

  .hero-title {
    @media screen and ( max-width: 1100px ) {
      font-size: $tera - 10px;
    }

    @media screen and ( max-width: 900px ) {
      font-size: $giga;
    }

    @media screen and ( max-width: 800px ) {
      font-size: $mega;
    }

    @media screen and ( max-width: 700px ) {
      font-size: $mega - 5px;
      margin-bottom: 0;
    }

    @media screen and ( max-width: 600px ) {
      font-size: $alpha;
    }
  }

  .hero-inner {
    padding-bottom: 40px;

    @media screen and ( max-width: $medium ) {
      padding-bottom: 20px;
    }
  }

  .hero-summary {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &:after {
  width:0;
  height:0px;
    transform: rotate(0deg) scale(0);
    background-color: $pink;

  }
  &:before{
transform: rotate(0deg) scale(0);
  }
}

.home-photo-container {
  background-color: $blue;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &:before {
    //photo shadows background: transparent;
    transform: rotate(1.2deg) scale(1.2);
    -ms-transform: rotate(1.2deg) scale(1.2);
    -webkit-transform: rotate(1.2deg) scale(1.2);
  }

  &:after {
    background-color: $blue;
    transform: rotate(0.8deg) scale(1.2);
    -ms-transform: rotate(0.8deg) scale(1.2);
    -webkit-transform: rotate(0.8deg) scale(1.2);
  }

  @media screen and (max-width: 650px) {
      height: 230px;
  }

  @media screen and (min-width: 1500px ) {
      height: 500px;
  }


  .photo-inner{
    height: 400px;
    @media screen and ( max-width: $medium ) {
    // height: 261px;
    }

    @media screen and ( min-width: 1500px ) {
    height: 500px;
    }

    &:after {
      background-color: $pink;
    }
    &:before {
      //photo shadows background: transparent;
    }
  }
}



// Clients
.client-container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lighten($ink, 45);
  background-color: white;

  @media screen and ( max-width: $medium ) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .home {

  }
}

.home .client-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.client-item {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
  vertical-align: vertical;
}

.client-item img {
  width:100%
}

// Featured Case Study
.feat-content-container {
  background-color: $aqua;
  position: relative;
  padding-bottom: 50px;

  &.blue-bg {
    background-color: $blue;
  }
  @media screen and ( max-width: $medium ) {
    padding-top: 0;
    padding-bottom: 40px;
  }
}

.feat-content {
  padding-top: 0;
  padding-bottom: 0;
  color: white;

  .meta-title-container {
    padding: 30px 0 40px;
  }

  // &:before {
  //   @include shadow-pseudo;
  //   top: 20px;
  //   width: 100%;
  //   height: 20px;
  //   background-color: rgba(black, 0.15);
  //   transform: rotate(1.8deg) scale(1.2);
  //   -ms-transform: rotate(1.8deg) scale(1.2);
  //   -webkit-transform: rotate(1.8deg) scale(1.2);
  // }


}

.feat-content-text {
  @media screen and ( max-width: $medium + 100px ) {
    width: 100%;
    float: none;
  }

  .btn-block {
    margin: 30px 0 0;
    padding: 12px 25px;
    display: table;
  }

  h3 {
    color: white;
    text-shadow: 2px 2px 0 rgba($grey, 0.4);
    line-height: 1.1;
  }

  p {
    font-size: $delta;
  }
}

.feat-content-img {
  z-index: 2;
  height: 540px;
  right: 0;
  bottom: -70px;
  position: absolute;
  overflow: hidden;

  img {
    position: absolute;
    max-height: 100%;
  }

  @media screen and ( max-width: $medium + 100px ) {
    display: none;
  }
}

.feat-content-img-ipad {
  left: 60px;
  bottom: 0;
  min-height: 100%;
  max-width: none;
}

.feat-content-img-iphone {
  left: -20px;
  top: -30px;
  max-width: 340px;
}



.home .blue-top {
  .project-item-inner {
    background-color: $blue;

    &:before {
      background-color:$blue;
    }
    &:after {
      background-color:$blue;
    }
   }
}


.vert-content-img {
  z-index: 2;
  height: 335px;
  left: 0;
  bottom: 0px;
  position: absolute;
  overflow: hidden;

  img {
    position: absolute;
    max-height: 100%;
  }

  @media screen and ( max-width: $medium + 100px ) {
    display: none;
  }
}


.vert-content-img-insurance,
.vert-content-img-health,
.vert-content-img-transport {
max-width: 120px;

}
.vert-content-img-transport {


}
.vert-content-img-health {
  left:140px;

}
.vert-content-img-insurance{
  left:70px;
  top: 165px;

}

@media screen and (min-width: 500px) {

  .vert-content-img-insurance {
    left: 200px;
    max-width: 140px;
    top: 185px;
  }
  .vert-content-img-health {
    max-width: 155px;
    left: 250px;
  }
  .vert-content-img-transport {
    max-width: 162px;
    top:50px;
  }

}







.vert-content-img-bg {

}



.home .projects-item-inner.verticals {
  @media screen and (max-width: 800px) {
    padding-top: 280px;
  }
  @media screen and (max-width: 500px) {
    padding-top: 350px;
  }

  @media (max-width: 400px) and (min-width: 386px) {

  }

  @media (max-width: 386px) and (min-width: 0px) {
    padding-top: 450px;
  }
}






