//===============================================================================
// HOME
//===============================================================================
// Hero
.home .hero-container {
  .hero-title {
    @media screen and ( max-width: 1100px ) {
      font-size: $tera - 10px;
    }

    @media screen and ( max-width: 900px ) {
      font-size: $giga;
    }

    @media screen and ( max-width: 800px ) {
      font-size: $mega;
    }

    @media screen and ( max-width: 700px ) {
      font-size: $mega - 5px;
      margin-bottom: 0;
    }

    @media screen and ( max-width: 600px ) {
      font-size: $alpha;
    }
  }

  .hero-inner {
    padding-bottom: 40px;

    @media screen and ( max-width: $medium ) {
      padding-bottom: 20px;
    }
  }

  .hero-summary {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &:after {
    width:0;
    height: 0;
    transform: rotate(0deg) scale(0);
    background-color: $pink;
  }

  &:before {
    transform: rotate(0deg) scale(0);
    background-color: $pink;
  }
}

.home-photo-container {
  background-color: $pink;

  @media screen and (max-width: 650px) {
    height: 230px;

    .photo-inner { height: 230px; }
  }

  @media screen and (min-width: 1500px ) {
    height: 500px;

    .photo-inner { height: 500px; }
  }

  &::after { background-color: $blue; }

  .photo-inner::after { background-color: $pink; }
}

.home .client-container {
  padding-top: 30px;
  padding-bottom: 20px;

  @media screen and ( max-width: $medium ) {
    padding-top: 10px;
    padding-bottom: 0;
  }
}

// Featured Case Study
.feat-content-container {
  position: relative;

  @media screen and ( max-width: $medium ) {
    padding-top: 0;
    padding-bottom: 40px;
  }

  &::before,
  &::after {
    @include shadow-pseudo;
    z-index: 1;
  }

  &::before {
    bottom: 0;
    height: 20px;
    background-color: rgba(black, 0.15);
    transform: rotate(1.5deg) scale(1.2);
  }

  &::after {
    bottom: -40px;
    height: 50px;;
    background-color: white;
    transform: rotate(1.4deg) scale(1.2);
  }
}

.feat-content {
  padding-top: 20px;
  padding-bottom: 50px;
  color: white;

  @media screen and ( max-width: $medium ) {
    padding-bottom: 30px;
  }

  .meta-title-container {
    padding: 50px 0 40px;

    @media screen and ( max-width: $medium ) {
      padding: 20px 0 30px;
    }
  }
}

.feat-content-text {
  @media screen and ( max-width: $medium + 100px ) {
    width: 100%;
    float: none;
  }

  .btn-block {
    margin-top: 30px;
    display: table;
    position: relative;
  }

  h3 {
    color: white;
    text-shadow: 2px 2px 0 rgba($grey, 0.4);
  }

  p { font-size: $delta; }
}

.feat-content-img {
  top: 10px;
  z-index: 2;
  height: 450px;
  position: relative;

  img {
    position: absolute;
    max-height: 100%;
  }

  @media screen and ( max-width: $medium + 100px ) {
    display: none;
  }
}

.feat-content-img-ipad {
  left: 60px;
  bottom: 0;
  min-height: 100%;
  max-width: none;
}

.feat-content-img-iphone {
  left: -20px;
  top: -30px;
  max-width: 340px;
}

// Featured Content Lists
.feat-content-list {}

.feat-content-list-item {
  position: relative;
  margin-top: 20px;
  padding: 20px;
  transition: 0.5s;

  @media screen and ( max-width: $medium + 100px ) {
    width: 100%;
    display: block;
  }

  &::before {
    @include shadow-pseudo;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transform: rotate(-0.3deg) scale(0.98);
    background-color: rgba(white, 0.2);
    box-shadow: 0 0 10px rgba(black, 0.1);
  }

  @media screen and ( min-width: $medium + 100px ) {
    &:nth-of-type(even) { top: 5px; }
  }

  &:nth-of-type(2n)::before { transform: rotate(0.6deg) scale(0.98); }
  &:nth-of-type(3n)::before { transform: rotate(-0.5deg) scale(0.98); }

  &:hover {
    z-index: 1;
    transform: scale(1.03);

    .verticals-home-bubble { transform: scale(1.1); }

    &::before {
      background-color: lighten($blue, 17);
      box-shadow: 0 0 10px rgba(black, 0.2);
    }
  }

  .btn-block {
    margin: 20px auto 10px;
    display: table;
    position: relative;
    padding: 11px 15px 10px;

    &:hover { background-color: rgba(white, 0.3); }
  }
}

.feat-content-list-title {
  font-size: $beta;
  position: relative;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.feat-content-list-text {
  position: relative;
  margin-bottom: 10px;
  line-height: 1.3;
}

// Vertical Section
.verticals-content-container {
  padding: 15px 0 30px;
  text-align: center;

  @media screen and ( max-width: $medium + 100px ) {
    text-align: center;
    padding: 5px 10px 30px;

    h2 { margin-bottom: 40px; }
  }

  &::before {
    bottom: 0;
    height: 20px;
    background-color: rgba(black, 0.15);
    transform: rotate(-1.4deg) scale(1.2);
  }

  &::after {
    bottom: -40px;
    height: 50px;;
    background-color: $aqua;
    transform: rotate(-1deg) scale(1.2);
  }

  h2, h3 {
    text-shadow: 2px 2px 0 rgba($grey, 0.4);
  }

  .feat-content-list-item { color: white; }
}

.verticals-home-bubble {
  @include hide-text;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  width: 200px;
  height: 200px;
  display: inline-block;
  transition: 0.7s;
  box-shadow: 0 0 20px rgba(black, 0.3);
  border-radius: 50%;
  margin: -35px auto 15px;

  @media screen and ( max-width: $medium ) {
    width: 150px;
    height: 150px;
  }
}

.verticals-bubble-transport {
  background-image: url(../img/verticals/vert-transport-home.svg);
}

.verticals-bubble-health {
  background-image: url(../img/verticals/vert-health-home.svg);
}

.verticals-bubble-insurance {
  background-image: url(../img/verticals/vert-insurance-home.svg);
}
