//===============================================================================
// PAGE BASE
//===============================================================================
// Hero Section
.hero-container {
  background-color: $primary;
  position: relative;
  overflow: hidden;

  &:before {
    @include shadow-pseudo;
    bottom: 20px;
    height: 20px;
    background-color: rgba(black, 0.15);
    transform: rotate(2.1deg) scale(1.2);
    -ms-transform: rotate(2.1deg) scale(1.2);
    -webkit-transform: rotate(2.1deg) scale(1.2);
  }

  &:after {
    @include shadow-pseudo;
    bottom: -25px;
    height: 50px;
    background-color: white;
    transform: rotate(1.3deg) scale(1.2);
    -ms-transform: rotate(1.3deg) scale(1.2);
    -webkit-transform: rotate(1.3deg) scale(1.2);
  }

  .btn {
    margin: 30px $gutter;
    display: table;
    box-shadow: 0 4px 0 rgba(black, 0.1);
  }

  &.aqua {
    background-color: $aqua;
  }

  &.blue {
    background-color: $blue;

    &:before {
      bottom: 25px;
      transform: rotate(-2.2deg) scale(1.4);
      -ms-transform: rotate(-2.2deg) scale(1.4);
      -webkit-transform: rotate(-2.2deg) scale(1.4);
    }

    &:after {
      transform: rotate(-1.2deg) scale(1.2);
      -ms-transform: rotate(-1.2deg) scale(1.2);
      -webkit-transform: rotate(-1.2deg) scale(1.2);
    }

    .hero-inner {
      padding-bottom: 60px;
    }
  }

  &.purple {
    background-color: $purple;
    margin-bottom: 50px;

    @media screen and ( max-width: $medium ) {
      margin-bottom: 0;
    }

    &:before {
      bottom: 25px;
      transform: rotate(-2deg) scale(1.4);
      -ms-transform: rotate(-2deg) scale(1.4);
      -webkit-transform: rotate(-2deg) scale(1.4);
    }

    &:after {
      transform: rotate(-1.2deg) scale(1.2);
      -ms-transform: rotate(-1.2deg) scale(1.2);
      -webkit-transform: rotate(-1.2deg) scale(1.2);
    }

    .hero-inner {
      padding-bottom: 60px;
    }
  }
}

.hero-container-tile {
  background-image: url(../img/tile-white.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 400px;
}

.hero-inner {
  padding-top: 150px;
  padding-bottom: 90px;
  display: block;
  position: relative;

  @media screen and ( max-width: $medium ) {
    padding: 40px 0 60px
  }
}

.hero-title {
  text-shadow: 3px 4px 0 rgba(black, 0.2);
  color: white;
  margin: 0 0 10px;
  line-height: 1;

  @media screen and ( max-width: $medium ) {
    margin: 0 0 10px;
    line-height: 1;
  }
}

.hero-summary {
  font-size: $beta - 6px;
  color: white;
  padding: 15px $gutter * 2 10px $gutter;
  line-height: 1.4;

  @media screen and ( max-width: $medium ) {
    font-size: $delta + 2px;
    line-height: 1.4;
    padding: 10px $gutter;
  }

  @media screen and ( max-width: $small ) {
    font-size: $delta;
  }
}

// Content
.content-container {
  margin-top: 30px;
  position: relative;

  @media screen and ( max-width: $medium ) {
    margin-top: 10px; 
  }
}

.content-title {
  padding: 0 0 $gutter;
  margin: 0 $gutter 40px;
  line-height: 1;
  border-bottom: 5px solid lighten($ink, 50);

  @media screen and ( max-width: $medium ) {
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
}

.content-intro {
  font-size: $delta + 2px;
  line-height: 1.5;

  @media screen and ( max-width: $medium ) {
    font-size: $delta - 2px;
  }
}

.content {
  padding-bottom: 40px;

  h2 {
    padding: 0 0 30px;
    margin: 0 0 30px;
    line-height: 1;
    border-bottom: 5px solid lighten($ink, 50);

    @media screen and ( max-width: $medium ) {
      margin-bottom: 30px;
      padding-bottom: 10px;
    }
  }

  h3 {
    font-size: $beta;
    line-height: 1;

    @media screen and ( max-width: $medium ) {
      font-size: $beta - 4px;
    }
  }

  p {
    font-size: $delta + 2px;
    line-height: 1.5;

    @media screen and ( max-width: $medium ) {
      font-size: $delta - 2px;
    }
  }

  .video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    margin-bottom: 30px;
    height: 0;
  }

  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Meta
.meta-title {
  padding: 10px 15px;
  position: relative;
  line-height: 1.3;
  font-family: $brandon;
  font-weight: $font-black;
  font-style: italic;
  text-transform: uppercase;
  display: table;
  color: $ink;
  z-index: 2;

  &:after {
    @include shadow-pseudo;
    height: 100%;
    top: 0;
    background-color: white;
    box-shadow: 0 0 8px rgba(black, 0.3);
    z-index: -1;
    transform: rotate(-0.4deg) skew(1.2deg);  
    -ms-transform: rotate(-0.4deg) skew(1.2deg);  
    -webkit-transform: rotate(-0.4deg) skew(1.2deg);  
  }
}

.meta-subtitle {
  padding: 10px 15px;
  margin-left: 8px;
  position: relative;
  line-height: 1.3;
  font-family: $brandon;
  font-weight: $font-black;
  font-style: italic;
  text-transform: uppercase;
  display: table;
  z-index: 1;

  &:after {
    @include shadow-pseudo;
    height: 100%;
    top: 0;
    background-color: rgba(white, 0.3);
    box-shadow: 0 0 6px rgba(black, 0.15);
    z-index: -1;
    transform: rotate(-0.8deg) skew(0.8deg);  
    -ms-transform: rotate(-0.8deg) skew(0.8deg);  
    -webkit-transform: rotate(-0.8deg) skew(0.8deg);  
  }
}

.meta-container {
  font-size: $delta;
}

.meta-author {
  font-weight: $font-bold;
  display: block;
  color: white;
}

.meta-date {
  color: rgba(white, 0.8);
}

// Photo sections
.photo-container {
  height: 400px;
  position: relative;
  overflow: hidden;

  @media screen and ( max-width: $medium ) {
    height: 200px;
  }

  &:before {
    @include shadow-pseudo;
    bottom: 2px;
    height: 20px;
    z-index: 1;
    background-color: rgba(black, 0.15);
    transform: rotate(-1.2deg) scale(1.2);
    -ms-transform: rotate(-1.2deg) scale(1.2);
    -webkit-transform: rotate(-1.2deg) scale(1.2);
  }

  &:after {
    @include shadow-pseudo;
    bottom: -40px;
    height: 50px;
    z-index: 2;
    background-color: white;
    transform: rotate(-0.8deg) scale(1.2);
    -ms-transform: rotate(-0.8deg) scale(1.2);
    -webkit-transform: rotate(-0.8deg) scale(1.2);
  }
}

.home-photo-container {

  &:before {
    transform: rotate(1.2deg) scale(1.2);
    -ms-transform: rotate(1.2deg) scale(1.2);
    -webkit-transform: rotate(1.2deg) scale(1.2);
  }

  &:after {
    background-color: $aqua;
    transform: rotate(0.8deg) scale(1.2);
    -ms-transform: rotate(0.8deg) scale(1.2);
    -webkit-transform: rotate(0.8deg) scale(1.2);
  }
}

.photo-inner {
  background-size: scroll;
  background-repeat: no-repeat;
  background-position: center;
  // background-attachment: fixed;
  background-attachment: scroll;
  margin: 0;
  height: 450px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: block;
  overflow: hidden;

  .touch-device & {
    background-attachment: scroll;
  }

  @media screen and ( max-width: $medium ) {
    height: 250px;
  }

  &:before {
    @include shadow-pseudo;
    top: 15px;
    height: 20px;
    z-index: 1;
    background-color: rgba(black, 0.15);
    transform: rotate(-1.6deg) scale(1.2);
    -ms-transform: rotate(-1.6deg) scale(1.2);
    -webkit-transform: rotate(-1.6deg) scale(1.2);
  }

  &:after {
    @include shadow-pseudo;
    top: -25px;
    height: 50px;
    z-index: 2;
    background-color: white;
    transform: rotate(-1deg) scale(1.2);
    -ms-transform: rotate(-1deg) scale(1.2);
    -webkit-transform: rotate(-1deg) scale(1.2);
  }

  &.photo-hardware {
    background-image: url(../img/office/hardware.jpg);
  }

  &.photo-wshop {
    background-image: url(../img/office/wshop.jpg);
  }

  &.photo-couch {
    background-image: url(../img/office/couch.jpg);
  }

  &.photo-lunch {
    background-image: url(../img/office/lunch.jpg);
  }
}

// Aside content block
.aside-container {
  @include clearfix;
  position: relative;
  margin: 70px 10%;
  width: 80%;
  padding: 50px 40px 40px;
  z-index: 2;

  @media screen and ( max-width: $medium + 300px ) {
    margin: 70px 5%;
    width: 90%;
  }

  @media screen and ( max-width: $medium ) {
    background: white;
    width: calc(100% - 40px);
    margin: 40px $gutter;
    padding: 40px 30px 30px;
    box-shadow: 0 0 10px rgba(black, 0.2);
  }

  @media screen and ( min-width: $medium ) {
    &:after {
      @include shadow-pseudo;
      height: 100%;
      top: 0;
      background-color: white;
      box-shadow: 0 0 10px rgba(black, 0.2);
      z-index: -1;
      transform: rotate(-0.3deg) skew(1deg); 
      -ms-transform: rotate(-0.3deg) skew(1deg); 
      -webkit-transform: rotate(-0.3deg) skew(1deg);  
    }
  }

  h3 {
    font-size: $alpha - 2px;
    line-height: 1;
    margin-bottom: 10px;

    @media screen and ( max-width: $medium ) {
      font-size: $alpha - 6px;
    }
  }

  p {
    font-size: $gamma - 2px;

    @media screen and ( max-width: $medium ) {
      font-size: $delta;
    }
  }

  .btn {
    margin-top: 30px;
    display: table;
  }
}