.post {
  .gbl-head {
    background-color: transparent;

    @media screen and ( max-width: $medium + 100px ) {
      background-color: $aqua;
    }
  }

  .hero-container {
    background-color: $aqua;
  }

  .hero-inner {
    padding-top: 110px;

    @media screen and ( max-width: $medium + 100px ) {
      padding-top: 20px;
    }
  }

  .content-container {
    margin-top: 10px;
  }
}

.post-header {
  padding-top: 70px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  position: relative;

  @media screen and ( max-width: $large ) {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  @media screen and ( max-width: $medium ) {
    padding-top: 20px;
  }

  &:after {
    content: "";
    height: 6px;
    width: 300px;
    background-color: lighten($ink, 48);
    position: absolute;
    bottom: 0;
    left: 20px;
  }

  .post-title {
    margin-bottom: 40px;
    color: $primary;
    line-height: 1;

    @media screen and ( max-width: $large ) {
      font-size: $mega + 4px;
    }

    @media screen and ( max-width: $medium ) {
      font-size: $mega - 4px;
    }
  }
}

.post-content {
  padding-right: 150px;

  @media screen and ( max-width: 800px ) {
    padding-right: 20px;
  }
   
  .post-excerpt {
    color: $primary;
    font-size: $gamma + 4px;
    margin-bottom: 50px;

    @media screen and ( max-width: $large ) {
      font-size: $gamma;
      line-height: 1.4;
      margin-bottom: 40px;
    }

    @media screen and ( max-width: $medium ) {
      font-size: $delta;
    }

    a {
      text-decoration: underline;
    }
  }

  h2 {
    font-family: $museo;
    font-weight: $font-bold;
    font-size: $gamma;
    line-height: 1.1;
    text-transform: none;
    font-style: normal;
    letter-spacing: 0;
    border-bottom: none;
    margin: 50px 0 15px;
    padding: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  img, video, iframe, figure {
    display: table;
    margin: 20px auto;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }
  }

  figure {
    & > * {
      margin: 0;
    }
  }
}

.twitter-share {
  position: relative;
}

.twitter-share-text {
  display: block;
  padding: 50px 0;
  position: relative;
  font-size: $gamma;
  font-weight: $font-bold;

  &:before {
    content: "";
    display: block;
    width: 200px;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: lighten($ink, 48);
  }

  a:hover {
    color: $primary;
    opacity: 0.7;
  }

  .twitter {
    position: relative;

    &:after {
      @include icon-pseudo;
      @extend .i-twitter-pink;
      top: 2px;
      right: -32px;
    }
  }
}

.hero-container-blog.hero-container-related {
  @media screen and ( max-width: $medium + 100px ) {
    padding-top: 70px;
  }

  &:before {
    top: 15px;
    transform: rotate(-2deg) scale(1.2);
    -ms-transform: rotate(-2deg) scale(1.2);
    -webkit-transform: rotate(-2deg) scale(1.2);
  }

  &:after {
    top: -30px;
    transform: rotate(-1.4deg) scale(1.2);
    -ms-transform: rotate(-1.4deg) scale(1.2);
    -webkit-transform: rotate(-1.4deg) scale(1.2);
  }

  .hero-inner {
    padding-bottom: 50px;
  }
}