.post {
  .gbl-head,
  .hero-container {
    background-color: $aqua;
  }

  .content-container { margin-top: 10px; }
}

.post-header {
  padding-top: 70px;
  padding-bottom: 60px;
  margin-bottom: 50px;
  position: relative;

  @media screen and ( max-width: $large ) {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  @media screen and ( max-width: $medium ) {
    padding-top: 0;
    margin-bottom: 30px;
  }

  &:after {
    content: "";
    height: 6px;
    width: 200px;
    background-color: lighten($ink, 48);
    position: absolute;
    bottom: 0;
    left: 20px;
  }

  .post-title {
    margin-bottom: 40px;
    color: $primary;
    line-height: 1;

    @media screen and ( max-width: $large ) {
      font-size: $mega + 4px;
    }

    @media screen and ( max-width: $medium ) {
      font-size: $mega - 4px;
      margin-bottom: 20px;
    }

    @media screen and ( max-width: $small ) {
      font-size: $alpha - 4px;
      margin-bottom: 20px;
    }
  }
}

.post-meta {}

.post-author {
  font-weight: $font-bold;
  
  @media screen and ( max-width: $medium ) {
    font-size: $delta;
  }
}

.post-date {
  color: lighten($ink, 20);
}

.post-meta .post-categories {
  display: block;
  margin-bottom: 0;
}

.post-content {
  padding-right: 150px;

  @media screen and ( max-width: 800px ) {
    padding-right: 20px;
  }

  .post-excerpt {
    color: $primary;
    font-size: $gamma + 4px;
    margin-bottom: 50px;

    @media screen and ( max-width: $large ) {
      font-size: $gamma;
      margin-bottom: 40px;
    }

    @media screen and ( max-width: $medium ) {
      font-size: $delta;
    }

    a { text-decoration: underline; }
  }

  a {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  h2 {
    margin: 50px 0 10px;
    font-size: $beta;

    @media screen and ( max-width: $medium ) {
      font-size: $gamma + 4px;
    }
  }

  h2, h3 {
    color: $primary;
    padding: 0;
    border-bottom: none;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    font-size: $gamma + 4px;
    font-weight: $font-bold;
    margin: 30px 0 20px;
    font-size: $gamma + 4px;
    line-height: 1.3;
    text-transform: none;
    font-style: normal;
    letter-spacing: 0;

    @media screen and ( max-width: $medium ) {
      font-size: $gamma;
    }
  }

  h4 {
    font-weight: $font-black;
    font-size: $gamma;
    margin: 30px 0 5px;
  }

  img, video, iframe, figure {
    display: table;
    margin: 20px 0;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }
  }

  img {
    width: auto;
    max-width: 100%;
  }

  figure {
    & > * {
      margin: 0;
    }
  }

  ul {
    margin-bottom: 30px;

    li {
      list-style: disc outside;
      margin-left: 18px;
      line-height: 1.3;
    }
  }

  li {
    margin-bottom: 15px;
  }

  hr {
    margin: 30px 0;
  }
}

.hero-container-blog.hero-container-related {
  @media screen and ( max-width: $medium + 100px ) {
    padding-top: 70px;
  }

  &:before {
    top: 15px;
    transform: rotate(-2deg) scale(1.2);
  }

  &:after {
    top: -30px;
    transform: rotate(-1.4deg) scale(1.2);
  }

  .hero-inner {
    padding-bottom: 50px;
  }
}
