//===============================================================================
// SERVICES
//===============================================================================
// Services List
.services-list-container {
  width: 90%;
  padding: 35px 30px 30px;
  margin: -10px 5% 50px;

  &::after {
    border: 1px solid white;
    background-color: lighten($ink, 50);

    @media screen and ( max-width: $medium + 150px ) {
      display: none;
    }
  }

  @media screen and ( max-width: $medium + 150px ) {
    box-shadow: none;
    width: 100%;
    padding: 0 20px 0;
    margin: -20px 0 30px;
  }

  .services-list-header {
    padding: 0 0 $gutter;
    line-height: 1;
    text-align: center;

    @media screen and ( max-width: $medium + 150px ) {
      text-align: left;
      border-bottom: 5px solid lighten($ink, 50);
      margin-bottom: 20px;
    }

    @media screen and ( max-width: $medium ) {
      padding-bottom: 10px;
    }
  }
}

.services-list { padding: 0; }

.services-list-item {
  padding-right: 0;
  height: 80px;

  @media screen and ( max-width: $medium + 150px ) {
    width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: 10px;
  }
}

.services-list-inner {
  display: block;

  &:hover {
    .services-list-bubble { transform: scale(1.15); }
    .services-list-title { color: $pink; }
  }
}

.services-list-bubble {
  transition: 0.4s;
  width: 70px;
  height: 70px;
  vertical-align: middle;
  display: inline-block;
}

.services-list-title {
  transition: 0.2s;
  color: $ink;
  padding: 0 5px;
  display: inline-block;
  width: calc(100% - 90px);
  vertical-align: middle;
  line-height: 1.3;
  font-size: $delta;
}

// Services Process
.services-process-container {
  background-color: lighten($ink, 50);
  text-align: center;
  position: relative;
  overflow-x: hidden;

  &:after {
    @include shadow-pseudo;
    top: -25px;
    width: 100%;
    height: 50px;
    background-color: white;
    transform: rotate(-2deg) scale(1.2);
  }
}

.services-process-img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
}

// Services List
.services-container {
  overflow: hidden;
  background-color: $purple;
  position: relative;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  transition: background-color 0.8s;
  transform: translateZ(0);
  z-index: 1;

  @media screen and ( max-width: $medium + 150px ) {
    padding-top: 40px;
    padding-bottom: 0;
  }

  &:before {
    @include shadow-pseudo;
    top: 0;
    height: 30px;
    background-color: rgba(black, 0.15);
    transform: rotate(1.5deg) scale(1.2);
    z-index: 1;
  }

  &:after {
    @include shadow-pseudo;
    top: -25px;
    height: 40px;
    background-color: lighten($ink, 50);
    transform: rotate(1.3deg) scale(1.2);
    z-index: 1;
  }
}

.services-item {
  display: block;
  position: relative;
  min-height: 90vh;
  color: white;
  font-size: $delta;
  padding-top: 50px;
  padding-bottom: 50px;

  &:last-of-type {
    min-height: 100vh;
  }

  @media screen and ( max-width: 900px ) {
    font-size: $delta - 2px;
    line-height: 1.4;
  }

  @media screen and ( max-width: $medium + 150px ) {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 0;
  }
}

.services-item-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  @media screen and ( max-width: $medium + 150px ) {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    padding-top: 200px;
  }
}

.services-item-text {
  position: relative;
  z-index: 1;

  @media screen and ( max-width: $medium + 150px ) {
    float: none;
    display: block;
    width: 100%;
    padding-top: 30px;
  }

  h3 {
    color: white;
    text-shadow: 2px 2px 0 rgba($grey, 0.4);
    line-height: 1.1;
  }
}

.services-item-img {
  padding: 20px;
  position: relative;
  width: 45%;
  margin-left: 5%;

  &:first-child {
    margin-right: 5%;
    margin-left: 0;
  }

  @media screen and ( max-width: $medium + 150px ) {
    float: none;
    display: block;
    height: 200px;
    width: 50%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    position: absolute;

    @media screen and ( max-width: $medium + 150px ) {
      max-height: 200px;
    }
  }
}

// Strategy
.services-strategy-1 {
  top: 50px;
  right: 0;
  z-index: 1;

  @media screen and ( max-width: $medium + 150px ) {
    top: 10px;
    left: 10px;
    right: auto;
    max-width: 260px;
  }
}

.services-strategy-2 {
  top: 30px;
  right: 20px;
  max-height: 330px;

  @media screen and ( max-width: $medium + 150px ) {
    top: 10px;
    left: 0;
    right: auto;
  }
}

// Hacking
.services-hacking-1 {
  top: 40px;
  left: 100px;
  z-index: 1;
  max-width: 250px;

  @media screen and ( max-width: $medium + 150px ) {
    top: 20px;
    left: 70px;
  }
}

.services-hacking-2 {
  top: 120px;
  right: 0;

  @media screen and ( max-width: $medium + 150px ) {
    top: 50px;
    left: 10px;
    right: auto;
    max-width: 250px;
  }
}

.services-hacking-3 {
  top: 0;
  left: 70px;
  max-width: 280px;
}


// UX
.services-ux-1 {
  top: 30px;
  right: 70px;
  z-index: 1;

  @media screen and ( max-width: $medium + 150px ) {
    right: auto;
    left: -30px;
    min-height: 200px;
    max-width: none;
  }
}

.services-ux-2 {
  top: 50px;
  left: 210px;
  max-width: 250px;

  @media screen and ( max-width: $medium + 150px ) {
    left: 100px;
    max-width: 130px;
  }
}

.services-ux-3 {
  top: 70px;
  right: 110px;
  max-width: 310px;

  @media screen and ( max-width: $medium + 150px ) {
    top: 20px;
    left: 20px;
    right: auto;
    max-width: 170px;
  }
}

// UX Design
.services-uxdesign-1 {
  top: -20px;
  right: -30px;
  z-index: 1;
  max-width: 260px;

  @media screen and ( max-width: $medium + 150px ) {
    top: 0;
    right: auto;
    left: 180px;
  }
}

.services-uxdesign-2 {
  top: 0;
  left: 10px;
  max-width: 310px;

  @media screen and ( max-width: $medium + 150px ) {
    top: -20px;
    max-width: 290px;
  }
}

.services-uxdesign-3 {
  top: -50px;
  right: 50px;
  max-width: 300px;

  @media screen and ( max-width: $medium + 150px ) {
    top: -20px;
    max-width: 400px;
    left: 50px;
  }
}

// Graphic Design
.services-design-1 {
  top: 20px;
  left: -40px;
  max-width: 420px;

  @media screen and ( max-width: $medium + 150px ) {
    left: -20px;
  }
}

.services-design-2 {
  top: 50px;
  right: -10px;
  max-width: 230px;

  @media screen and ( max-width: $medium + 150px ) {
    right: auto;
    left: 180px;
    top: 30px;
  }
}

.services-design-3 {
  top: -10px;
  left: -30px;
  max-width: 470px;

  @media screen and ( max-width: $medium + 150px ) {
    top: 10px;
    left: 20px;
    max-height: 300px;
  }
}

// Agile
.services-agile-1 {
  top: 10px;
  right: -30px;
  z-index: 1;
  max-width: 490px;

  @media screen and ( max-width: $medium + 150px ) {
    left: 0;
    right: auto;
  }
}

.services-agile-2 {
  top: 20px;
  left: 80px;
  max-width: 350px;

  @media screen and ( max-width: $medium + 150px ) {
    top: 0;
    left: 60px;
  }
}

// Testing
.services-tests-1 {
  top: 40px;
  left: -10px;
  max-width: 440px;

  @media screen and ( max-width: $medium + 150px ) {
    top: 20px;
  }
}

.services-tests-2 {
  top: 20px;
  left: 40px;
  max-width: 340px;

  @media screen and ( max-width: $medium + 150px ) {
    top: 0;
  }
}

.services-tests-3 {
  top: -20px;
  left: -40px;
  max-width: 430px;

  @media screen and ( max-width: $medium + 150px ) {
    top: 0;
    left: 40px;
    max-width: 500px;
  }
}

// Collaboration
.services-collab-1 {
  top: 20px;
  left: 5px;
  max-width: 410px;

  @media screen and ( max-width: $medium + 150px ) {
    top: -20px;
    width: 320px;
  }
}

.services-collab-2 {
  top: 50px;
  left: 20px;
  max-width: 400px;

  @media screen and ( max-width: $medium + 150px ) {
    height: 200px;
    top: 0;
  }
}

.services-collab-3 {
  top: 10px;
  left: 15px;
  max-width: 390px;

  @media screen and ( max-width: $medium + 150px ) {
    top: -10px;
    left: 50px;
    min-height: 220px;
  }
}
