//===============================================================================
// Vertical
//===============================================================================
// Bubbles
.vert-bubble-container {
  text-align: center;
  padding: 30px;

  @media screen and ( max-width: $medium ) {
    padding: 12px;
  }

  .insurance & {
    padding: 0 30px;
  }
}

.vert-sec-bubble {
  height: 250px;
  width: 250px;
  display: inline-block;
  position: relative;
  vertical-align: top;

  img {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;


    @media screen and ( max-width: $medium ) {
      height: 100%;
      float: right;
      width: 100px;
    }
  }

  @media screen and ( max-width: $large ) {
    height: 200px;
    width: 200px;
  }

  @media screen and ( max-width: $medium ) {
    height: 100px;
    width: 100%;
    text-align: left;
    display: block;
    padding: 4px 12px;
    background: rgba(black, 0.2);
    border: rgba(white, 0.6) solid 6px;
    border-radius: 6px;
    margin-bottom: 8px;

    &:hover {
      background: $pink;
    }
  }

  &:first-child {
    margin-right: 24px;

    @media screen and ( max-width: $medium ) {
      margin-right: 0;
    }
  }

  &:nth-child(3) {
    margin-left:  24px;

    @media screen and ( max-width: $medium ) {
      margin-left: 0;
    }
  }


  &:hover {
    transform: scale(1.1);

    @media screen and ( max-width: $medium ) {
      transform: none;
    }
  }
}

.vert-sec-bubble-title {
  font-size: $gamma;
  text-transform: none;
  font-weight: $font-bold;
  font-style: normal;
  color: white;
  text-shadow: 2px 2px 0 rgba(black, 0.2);

  @media screen and ( max-width: $medium ) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 128px;
  }

}

// Insurance Bubbles
.vert-insur-list-container {
  text-align: left;
  width: 50%;
  float: left;
  margin-top: 50px;

  @media screen and ( max-width: $medium ) {
   width: 100%;
   float: none;

    h2 {
      position: relative;
      font-size: $delta;
      width: 100%;
      padding-right: 0;
      margin-bottom: 8px;
    }
  }
}

.insurance .vert-sec-bubble-title {
  &:before {
    content: "•";
    margin-right: 12px;
    color: $orange;
  }
}

.vert-insur-bubble-container {
  float: right;
  width: 50%;
  position: relative;
}

.vert-insur-bubble {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
}

[id*='vert-insur-bbl-'] {
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.vert-insur-thoughts-container {
  padding: 30px;

  @media screen and ( max-width: $medium ) {
    h2 {
      position: relative;
      font-size: $delta;
      width: 100%;
      padding-right: 0;
      margin-bottom: 8px;
    }
  }
}

.vert-insur-thoughts-inner {
  width: 50%;
  float: left;
  text-align: center;
  padding: 10px;
}

.vert-insur-thoughts-image-container {
  height: 250px;
  width: 250px;
  margin: auto;
}

.vert-sec-thoughts-title {
  color: white;
  text-shadow: 2px 2px 0 rgba(black, 0.2);
  border-top: 4px solid rgba(black, 0.2);

  span {
    display: block;
    font-weight: normal;
    color: darken($blue, 20%);
    text-shadow: none;
  }
}


a.vert-insur-cta-link {
  display: block;
  color: white;
  font-weight: $font-bold;

  &:hover {
    color: rgba(white, 0.8);
  }
}

// Paragraphs and Points
.vert-section-points {
  margin-bottom: 20px;
  max-width: 50%;

  @media screen and ( max-width: $medium) {
    max-width: 100%;
  }

  li {
    margin-bottom: 8px;
    padding: 10px 15px;
    line-height: 1.2;
    border: 5px solid rgba(white, 0.2);
  }
}

.vert-section-point-title {
  font-size: $gamma;
  text-transform: none;
  letter-spacing: 0;
  font-weight: $font-bold;
  font-style: normal;
  margin-bottom: 10px;
}

// Sections
.vert-section-container {
  background-color: $primary;
  position: relative;
  overflow: hidden;
  color: white;

  &.aqua { background-color: $aqua; }

  &.orange {
      background-color: $orange;

    &:before {   transform: rotate(-1.1deg) scale(1.2); }
    &:after { transform: rotate(-2.4deg) scale(1.2); }
  }

  &.pink {
    &:before { transform: rotate(-1.1deg) scale(1.2); }
    &:after { transform: rotate(-2.4deg) scale(1.2); }
  }

  &.blue {
    background-color: $blue;

    &:before { transform: rotate(-0.4deg) scale(1.2); }
    &:after { transform: rotate(-1.1deg) scale(1.2); }
  }

  &.purple {
    background-color: $purple;

    &:before { transform: rotate(1.8deg) scale(1.2); }
    &:after { transform: rotate(2.0deg) scale(1.2); }
  }

  &.green { background-color: $green; }

  &::before,
  &::after {
    @include shadow-pseudo;
  }

  &:before {
    bottom: 20px;
    height: 20px;
    background-color: rgba(black, 0.15);
    transform: rotate(2.1deg) scale(1.2);
  }

  &:after {
    bottom: -25px;
    height: 50px;
    background-color: white;
    transform: rotate(1.3deg) scale(1.2);
  }


  &:nth-last-of-type(2):after { background-color: $pink; }

  &:last-of-type {
    &:before,
    &:after {
     content: none;
    }
  }

  &.next-color-green:after { background-color: $green; }
  &.next-color-purple:after { background-color: $purple; }
  &.next-color-blue:after { background-color: $blue; }
  &.next-color-pink:after { background-color: $pink; }
}

.vert-section-inner {
  padding-top: 45px;
  padding-bottom: 90px;
  display: block;
  position: relative;

  @media screen and ( max-width: $medium + 100px ) {
    padding: 20px;
    padding-bottom: 90px;
  }

  p:first-of-type {
    font-size: 24px;
    line-height: 1.2;
    @media screen and ( max-width: $medium) {
      font-size: $delta;
    }
  }
}

.vert-section-title {
  color: white;
  margin: 0 0 10px;
  line-height: 1;
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 5px solid rgba(black, 0.2);
  text-shadow: 3px 4px 0 rgba(black, 0.2);

  @media screen and ( max-width: $medium ) {
    margin: 0 0 10px;
    line-height: 1;
  }
}

.vert-section-table {
  color: $ink;
  background-color: white;
  box-shadow: 0 0 10px rgba(black, 0.1);

  @media screen and ( max-width: $medium ) {
    width: 100%;
  }

  tr {
    &:nth-child(odd) {
      background-color: rgba($ink, 0.04);
    }

    &:first-child {
      background-color: rgba($ink, 0.1);
      font-weight: $font-bold;

      td { padding: 35px 15px 10px; }
    }
  }

  td {
    padding: 15px;
    line-height: 1.1;
  }
}

.vertical .hero-container {
  background-image: url(../img/tile-white.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 400px;

  &:after {
    background: $blue;
  }

  &.next-color-:after {
    background-color: $pink;
  }

  &.next-color-aqua:after {
    background: $aqua;
  }

  &.next-color-green:after {
    background-color: $green;
  }

  &.next-color-purple:after {
    background-color: $purple;
  }

  &.next-color-blue:after {
    background-color: $blue;
  }

  &.next-color-pink:after {
    background-color: $pink;
  }
}

h4.vert-section-breadcrumb {
  margin-bottom: 4px;
  color: rgba(black, 0.3);

  &:after {
    content: "›";
    margin-left: 4px;
  }
}

.vertical .hero-image-container {
  height: 250px;
  text-align: center;

  img {
    height: 100%;
  }
}

// Now & Future
.vert-section-prediction-title {}

.vert-section-prediction {
  width: 50%;

  @media screen and ( max-width: $medium ) {
    width: 100%;
  }

  &.now {
    float: left;
  }

  &.future {
    float: right;
  }
}

.vert-section-prediction-img-wrap {
  padding: 18px;
  height: auto;

  img {
    width: 100%;
  }
}

.vert-section-prediction-wrapper {
  background: white;
  overflow: hidden;

  @media screen and ( max-width: $medium) {
    padding: 12px;
  }
}

.vert-section-prediction-heading {
  &.blue {
    color: $blue;
  }

  &.purple {
    color: $purple;
  }
}

.vert-section-large-image {
  width: 400px;
  height: 400px;
  max-width: 50%;
  float: right;

  @media screen and ( max-width: $medium ) {
    height: 200px;
    width: 200px;
    float: none;
    display: block;
    margin: auto;
  }
}

// Case Study
.vert-section-case-study,
.vert-section-blog-link {
  margin: 20px auto;
  display: inline-block;

  a {
    width: 50%;
    background: rgba(black, 0.2);
    padding: 8px 18px;
    display: inline;
    border: 4px solid rgba(black, 0.2);
    color: white;
    font-weight: $font-bold;

    &:hover {
      background: white;
      color: $pink;
    }
  }
}

// Case Study
.vert-contact-sub {
  font-weight: normal;
  font-style: italic;
  color: rgba(black, 0.5);
  font-size: $beta;
  text-shadow: 2px 2px 0 rgba(black, 0.2);
}

.vert-contact-title {
  text-shadow: 4px 4px 0 rgba(black, 0.2);
}

.vert-contact-email {
  color: white;
  font-size: $gamma + 2px;

  &:after {
    @include sprite($mail-black);
  }
}

.vert-contact-para {
  font-size: $gamma + 2px;
  margin-bottom: 0;
}

.vert-section-contact .location-item {
  display: inline-block;
}

.vert-section-contact {
  .location-item a {
    margin: 0;
    margin-top: 40px;

    @media screen and ( max-width: $medium ) {
      margin-top: 20px;
    }
  }
}
