// VIDEO CASE STUDY
.casestudy-video .hero-title {
  font-size: $beta;
}

.casestudy-video .hero-summary {
  font-size: $gamma;
}

body.casestudy-video {
  background-color: black;
}

.casestudy-video .hero-container:after {
  background-color: black;
}

.content-video-wrapper {
  margin-bottom: 128px;
}
