//===============================================================================
// WORK
//===============================================================================
.project-container {
  background-color: $purple;
  z-index: 1;
  overflow-x: hidden;
}

.project-title-container {
  background-color: white;
}

.project-item {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-title {
  padding-top: 15px;
  margin: 0;
  z-index: 6;
  position: relative;

  @media screen and ( max-width: $medium ) {
    padding: 15px 20px 0;
    line-height: 0.9;
  }
}

.project-item-container {
  position: relative;

  hr {
    border-color: rgba(white, 0.2);
    margin-bottom: 30px;
  }

  .project-item-title {
    text-shadow: 2px 3px 0 rgba(black, 0.2);
    line-height: 1;
  }

  .project-item-intro {
    font-size: $gamma + 6px;
    margin-bottom: 40px;
    color: rgba(black, 0.4);
    line-height: 1.2;
    font-family: $brandon;
    font-weight: $font-black;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: -1px;
  }

  p {
    font-size: $delta;
    line-height: 1.4;

    @media screen and ( max-width: $medium ) {
      font-size: $delta;
    }
  }
}

.project-item-inner {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top right;
  padding-top: 80px;
  padding-bottom: 20px;

  .project-container:last-of-type & {
    padding-bottom: 50px;
  }

  &::before,
  &::after {
    @include shadow-pseudo;
    width: 100%;
  }

  &:before {
    top: 20px;
    height: 20px;
    background-color: rgba(black, 0.15);
    transform: rotate(1.8deg) scale(1.2);
  }

  &:after {
    top: -25px;
    height: 50px;
    background-color: white;
    transform: rotate(1deg) scale(1.2);
  }
}

.project-item-text {
  @media screen and ( max-width: $medium + 150px ) {
    float: none;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.project-item-img {
  position: relative;
  z-index: 1;

  @media screen and ( max-width: $medium + 150px ) {
    float: none;
    display: block;
    max-width: 100%;
    padding-top: 30px;
  }
}

.projects-item-inner {
  @media screen and ( max-width: $medium + 150px ) {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    padding-top: 175px;
  }

  @media screen and ( max-width: $small) {
    padding-top: 230px
  }

  @media (min-width: 312px) and (max-width: 400px){
    padding-top: 280px
  }

  @media (min-width: 0px) and (max-width: 312px){
    padding-top: 380px
  }
}

@media screen and ( max-width: $medium + 150px ) {
  .project-container [class*='col-'] {
    width: 100%;
    float: none;
  }
}

.project-aqua {
  background-color: $aqua;

  .project-item-inner::after { background-color: $pink; }
}

.project-last {
  .project-item-inner {
    background-image: url(../img/tile-white.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 500px;
    position: relative;
  }
}

.project-blue {
  background-color: $blue;

  & + .photo-container:after { background-color: $green; }
}

.project-pink {
  background-color: $pink;

  .project-item-inner::after { background-color: $orange; }
}

.project-green {
  background-color: $green;

  .project-item-inner::after { background-color: $blue; }
}

.project-orange {
  .project-item-inner {
    background-color: $orange;

    &::after,
    &::before {
      background-color: $orange;
    }
  }
}

.project-purple {
  .project-item-inner {
    background-color: $purple;

    &:after {
      background-color: $orange;
    }
  }
}

.project-item-img-feat {
  margin-bottom: 30px;
  max-width: 50%;

  @media screen and ( max-width: $medium ) {
    margin-bottom: 20px;
  }
}

.work-photo-container {
  background-color: $aqua;
  transform-style: preserve-3d;

  &:before {
    transform: rotate(1.2deg) scale(1.2);
  }

  &:after {
    background-color: white;
    transform: rotate(0.8deg) scale(1.2);
  }

  @media screen and (max-width: 650px) {
    height: 230px;
  }

  @media screen and (min-width: 1500px ) {
    height: 500px;
  }

  .photo-inner {
    height: 400px;

    @media screen and ( min-width: 1500px ) {
      height: 500px;
    }

    &:after {
      background-color: $aqua;
    }
  }
}

.pink-top {
  background-color: $pink;

  .project-item-inner::before,
  .project-item-inner::after,
  .photo-container::after {
    background-color: $pink;
  }
}

.green-top {
  background-color: $green;

  .photo-inner:after {
    background-color: $green;
  }
}

.green-top.photo-container:after {
  background-color: $orange;
}

.purple-top {
  background-color: $purple;

  .photo-inner:after {
    background-color: $purple;
  }
}

.purple-top.photo-container:after {
  background-color: $pink;
}

// Video Full Width
video {
  width: 100% !important;
  height: auto !important;

  @media screen and (min-width: 632px) {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  }
}

#gif1,
#gif2,
#gif3 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// Gifs & Images
.project-img-small {
  width: 80%;

  @media screen and ( max-width: $medium + 150px ) {
    width: 45%;
  }
  @media screen and ( max-width: $small ) {
    width: 80%;
  }
}

.project-img-large {
  width: 90%;

  @media (min-width: $medium) and (max-width: $medium + 150px){
    width: 70%;
  }
  @media screen and ( max-width: $small ) {
    width: 100%;
  }
}

.audio-icon {
  width: 25%;

  @media screen and ( max-width: $medium + 150px ) {
    width: 15%;
  }

  @media screen and ( max-width: $small) {
    width:25%;
  }
}

.audio-mobile {
  width: 40%;

  @media screen and ( max-width: $medium + 150px ) {
    width: 30%;
  }

  @media screen and ( max-width: $small) {
    width:40%;
  }
}

.alignme {
  display: inline-block;
  float: none;
  margin-right: -4px;
  vertical-align: middle;
}

.intranet-desktop {
  width: 80%;
}

.intranet-mobile {
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 515px;

  @media (min-width: 1000px) and (max-width: 1087px){
    left: 422px;
  }

  @media (min-width: 928px) and (max-width: 1000px){
    left: 386px;
  }

  @media (min-width: 800px) and (max-width: 928px){
    left: 380px;
  }

  @media (min-width: 500px) and (max-width: 700px){
    left: 400px;
  }

  @media (min-width: 535px) and (max-width: 519px){
    left: 350px;
  }

  @media (min-width: 366px) and (max-width: 535px){
    left: 233px;
  }

  @media (min-width: 0px) and (max-width: 366px){
    left: 191px;
  }
}

.project-container img .intranet-mobile {

  @media screen and ( max-width: $medium) {
    width:20%;
  }
}

.photo-inner.mobile {
  visibility: hidden;
}

// White Text Box
.aside-container.work-container {
  margin: 40px 15%;
  width: 70%;

  p {
    text-align:center;
  }

  @media screen and ( max-width: $small) {
    margin: 40px 10%;
    width: 80%;
    font-size: 16px;
  }
}

.work-container {
  color: $ink;
  margin-top: $gutter + 5px;
  margin-bottom: $gutter + 10px;

  &:after {
    @include clearfix;
    background-color: white;
    border: 5px solid #f5f6f7;
    box-shadow: none;
  }

  @media screen and ( max-width: $medium ) {
    background-color: white;
    margin-top: 0;
    margin-bottom: $gutter;
    border: 5px solid #f5f6f7;
    box-shadow: none;

    &:after {
      border: 0;
    }
  }
}
