.process-hero.block {
  padding-bottom: 0;

  @media screen and ( max-width: $medium ) {
    &.slash-shadow::after {
      bottom: 70px;
    }
  }
}

.process-title {
  @extend h2;
  color: lighten($ink, 35);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-90deg);

  @media screen and ( max-width: $medium ) {
    position: relative;
    transform: none;
    top: 0;
    text-align: center;
    padding: 30px 20px 0;
  }
}

.process-problem-block {
  padding-bottom: 0;
  margin-bottom: -100px;
}

.process-problem-diagram {
  position: relative;
}

.process-problem-points {
  margin: 50px 0 0 28%;
  padding-bottom: 80px;

  @media screen and ( max-width: $medium ) {
    margin: 20px 0 0 20%;
    padding-bottom: 80px;
  }

  &::before {
    @include pseudo;
    top: 10px;
    left: 24px;
    width: 45px;
    height: 110%;
    background-color: darken($blue, 10);
    border: 6px solid darken($blue, 13);
    box-shadow: $box-shadow;

    @media screen and ( max-width: $medium ) {
      border-width: 4px;
      left: 15px;
      width: 40px;
    }

    @media screen and ( max-width: $small ) {
      width: 30px;
    }
  }
}

.process-problem {
  text-align: left;
  margin-bottom: 30px;

  @media screen and ( max-width: $medium ) {
    margin-bottom: 20px;
  }

  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: $blue;
    border: 6px solid darken($blue, 5);
    box-shadow: $box-shadow;

    @media screen and ( max-width: $medium ) {
      width: 70px;
      height: 70px;
    }

    @media screen and ( max-width: $small ) {
      width: 60px;
      height: 60px;
      border-width: 6px;
    }
  }
}

.process-problem-title {
  -webkit-font-smoothing: antialiased;
  font-size: $gamma;
  line-height: 1.1;
  padding: 32px 0 25px 110px;

  @media screen and ( max-width: $medium ) {
    font-size: $delta;
    padding: 25px 0 25px 80px;
  }

  @media screen and ( max-width: $small ) {
    padding: 20px 0 15px 70px;
  }
}

.process-solution-block.slash-shadow {
  padding-top: 50px;
  padding-bottom: 20px;
}

.process-solution-diagram {
  padding: 0 20px 0 100px;

  @media screen and ( max-width: $medium ) {
    padding: 0;
  }
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba($aqua, 0.4), 0 2px 2px rgba(black, 0.2); }
  70% { box-shadow: 0 0 0 20px rgba($aqua, 0), 0 2px 2px rgba(black, 0.2); }
  100% { box-shadow: 0 0 0 0 rgba($aqua, 0), 0 2px 2px rgba(black, 0.2); }
}

// Process Targets
.target-btn {
  @include text-shadow;
  color: white;
  font-weight: $font-bold;
  font-size: $zeta;
  animation: pulse 2s infinite;
  padding: 3px 0 0 3px;
  margin-bottom: -30px;
  width: 30px;
  height: 30px;
  background-color: $aqua;
  border: 4px solid white;
  box-shadow: 0 2px 2px rgba(black, 0.2);

  &:hover {
    color: white;
    border-color: white;
    background-color: darken($aqua, 5);
    transform: scale(1.1);
  }
}

.target-popup {
  max-height: 0;
  overflow: hidden;
  padding: 20px 5px 5px;
  margin: 0 0 -25px -25px;
  transition: 0.2s;
  width: 400px;
  opacity: 0;
  top: 20px;

  @media screen and ( max-width: $medium ) {
    margin-left: -60px;
    width: calc(100vw - 30px);
  }

  .target.active & {
    top: 0;
    opacity: 1;
    max-height: 100%;
  }
}

.target-popup-inner {
  max-width: 450px;
  padding: 30px 30px 20px;
  background-color: $grey;
  box-shadow: $box-shadow;
  opacity: 0.98;

  &::before,
  &::after {
    @include pseudo;
    width: 20px;
    height: 20px;
    background-color: $grey;
  }

  &::before {
    top: -10px;
    left: 25px;
    transform: rotate(45deg);
    box-shadow: $box-shadow;

    @media screen and ( max-width: $medium ) {
      left: 60px;
    }
  }

  &::after {
    top: 0;
    left: 20px;
    width: 30px;

    @media screen and ( max-width: $medium ) {
      left: 55px;
    }
  }

  h4 {
    line-height: 1.2;
    color: $aqua;
  }

  p {
    font-size: $zeta;
  }

  .btn {
    margin-top: 10px;
  }
}

.target-popup-down {
  padding-top: 5px;
  padding-bottom: 50px;

  .target-popup-inner {
    &::before {
      top: auto;
      bottom: -10px;
    }

    &::after {
      top: auto;
      bottom: 0;
    }
  }
}

.target-close-btn {
  @include hide-text;
  position: absolute;
  padding: 0;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 2px;

  &::after {
    @include pseudo;
    @include sprite($close-grey);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0.5;
    transition: opacity 0.2s;
  }

  &:hover {
    border-color: rgba($ink, 0.4);

    &::after {
      opacity: 1;
    }
  }
}

.target-1 {
  top: 18%;
  left: 27%;
}

.target-2 {
  bottom: 53%;
  left: 27%;
}

.target-3 {
  bottom: 15%;
  left: 27%;
}

.target {
  position: absolute;
  z-index: 4;
  text-align: left;

  &.active {
    z-index: 5;
  }

  @media screen and ( max-width: $medium ) {
    left: 15%;
  }
}

.target-4 {
  top: 10%;
  left: 25%;

  @media screen and ( max-width: $medium ) {
    left: 12%;

    .target-popup {
      margin-left: -50px;
    }

    .target-popup-inner::before {
      left: 50px;
    }

    .target-popup-inner::after {
      left: 45px;
    }
  }
}

.target-5 {
  bottom: 3%;
  left: 34%;

  @media screen and ( max-width: $medium ) {
    left: 20%;
    bottom: 18%;

    .target-popup {
      margin-left: -75px;
    }

    .target-popup-inner::before {
      left: 80px;
    }

    .target-popup-inner::after {
      left: 70px;
    }
  }
}

.z-index-fix {
  z-index: 1;
}
