<section id="verticals" class="card-block block blue-bg slash-shadow slash-top slash-right block-light">
  <div class="block-inner grid">
    <h2 class="text-center">Industry Innovation</h2>
    <p class="text-center"><br></p>
    <div class="card col-1-3">
      <a href="/health" class="card-link">
        <img src="/img/illustrations/health-ball.svg" alt="" class="card-ball">
        <h3 class="card-title text-center">Health</h3>
        <p class="card-excerpt text-center">Precision medicine, patient centricity, smart research.</p>
      </a>
      <a href="/health" class="card-btn text-center">
        <button class="btn btn-light btn-arrow">Learn more</button>
      </a>
    </div>
    <div class="card col-1-3">
      <a href="/transport" class="card-link">
        <img src="/img/illustrations/transport-ball.svg" alt="" class="card-ball">
        <h3 class="card-title text-center">Transport</h3>
        <p class="card-excerpt text-center">Customer satisfaction, smart ticketing, internet of things.</p>
      </a>
      <a href="/transport" class="card-btn text-center">
        <button class="btn btn-light btn-arrow">Learn more</button>
      </a>
    </div>
    <div class="card col-1-3">
      <a href="/insurance" class="card-link">
        <img src="/img/illustrations/insurance-ball.svg" alt="" class="card-ball">
        <h3 class="card-title text-center">Insurance</h3>
        <p class="card-excerpt text-center">Internet of Things, cyber-security, speed to market.</p>
      </a>
      <a href="/insurance" class="card-btn text-center">
        <button class="btn btn-light btn-arrow">Learn more</button>
      </a>
    </div>
  </div>
</section>
