.action-block {
  .btn {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }

  h2 {
    line-height: 1.1;
  }
}

.action-img {
  display: table;
  margin: -140px auto 0;
  width: 300px;
  max-width: 70%;
}

.brain-action-img {
  width: 200px;
}

.action-title {
  margin-top: 30px;
  @extend h1;
}
