.block {
  padding-top: 50px;
  padding-bottom: 50px;

  & > & {
    padding-top: 0;
    padding-bottom: 0;
  }

  .delta {
    font-size: $delta + 2px;

    @media screen and ( max-width: $medium ) {
      font-size: $epsilon;
    }
  }

  .epsilon {
    font-size: $epsilon;
  }
}

.block-light {
  color: white;

  h1, h2, h3 {
    @include text-shadow;
  }
}

.block-content {
  h2, p {
    margin-bottom: 20px;
  }
}

.block-clear {
  z-index: 0;

  &.pink-bg {
    background: linear-gradient(-10deg, transparent 40%, $pink 40%), linear-gradient(10deg, transparent 40%, rgba($pink, 0.5) 40%);
  }

  &.blue-bg {
    background: linear-gradient(-10deg, transparent 40%, $blue 40%), linear-gradient(10deg, transparent 40%, rgba($blue, 0.5) 40%);
  }

  &.blue-dark25-bg {
    background: linear-gradient(-10deg, transparent 40%, shade($blue, 25%) 40%), linear-gradient(10deg, transparent 40%, rgba(shade($blue, 25%), 0.5) 40%);
  }

  &.aqua-bg {
    background: linear-gradient(-10deg, transparent 40%, $aqua 40%), linear-gradient(10deg, transparent 40%, rgba($aqua, 0.5) 40%);
  }

  &.purple-bg {
    background: linear-gradient(-10deg, transparent 40%, $pink 40%), linear-gradient(10deg, transparent 40%, rgba($pink, 0.5) 40%);
  }

  &.purple-dark25-bg {
    background: linear-gradient(-10deg, transparent 40%, shade($purple, 25%) 40%), linear-gradient(10deg, transparent 40%, rgba(shade($purple, 25%), 0.5) 40%);
  }

  &.slash::after {
    opacity: 0.92;
    bottom: 0;
    height: 80%;
  }

  &.slash {
    padding-bottom: 30px;
  }

  &.thick-slash::after {
    height: 120%;
  }
}

.block-clear-top {
  @extend .block-clear;

  &.pink-bg {
    background: linear-gradient(10deg, $pink 65%, transparent 65%), linear-gradient(-10deg, rgba(darken($pink, 20), 0.8) 65%, transparent 65%);
  }

  &.blue-bg {
    background: linear-gradient(-10deg, transparent 40%, $blue 40%), linear-gradient(10deg, transparent 40%, rgba($blue, 0.5) 40%);
  }

  &.aqua-bg {
    background: linear-gradient(-10deg, transparent 40%, $aqua 40%), linear-gradient(10deg, transparent 40%, rgba($aqua, 0.5) 40%);
  }

  &.slash::after {
    top: 0;
    bottom: auto;
  }
}
