.block {
  padding-top: 50px;
  padding-bottom: 50px;

  & > & {
    padding-top: 0;
    padding-bottom: 0;
  }

  .slash-shadow:not(.slash-top) + & {
    padding-top: 100px;
  }

  .delta {
    font-size: $delta + 2px;

    @media screen and ( max-width: $medium ) {
      font-size: $epsilon;
    }
  }

  .epsilon {
    font-size: $epsilon;
  }
}

.block-light {
  color: white;

  h1, h2, h3 {
    @include text-shadow;
  }
}

.block-content {
  h2, p {
    margin-bottom: 20px;
  }
}

.block-clear {
  z-index: 0;

  &.pink-bg {
    background: linear-gradient(-10deg, transparent 40%, $pink 40%), linear-gradient(10deg, transparent 40%, rgba($pink, 0.5) 40%);
  }

  &.blue-bg {
    background: linear-gradient(-10deg, transparent 40%, $blue 40%), linear-gradient(10deg, transparent 40%, rgba($blue, 0.5) 40%);
  }

  &.blue-dark25-bg {
    background: linear-gradient(-10deg, transparent 40%, shade($blue, 25%) 40%), linear-gradient(10deg, transparent 40%, rgba(shade($blue, 25%), 0.5) 40%);
  }

  &.aqua-bg {
    background: linear-gradient(-10deg, transparent 40%, $aqua 40%), linear-gradient(10deg, transparent 40%, rgba($aqua, 0.5) 40%);
  }

  &.purple-bg {
    background: linear-gradient(-10deg, transparent 40%, $purple 40%), linear-gradient(10deg, transparent 40%, rgba($purple, 0.5) 40%);
  }

  &.purple-dark25-bg {
    background: linear-gradient(-10deg, transparent 40%, shade($purple, 25%) 40%), linear-gradient(10deg, transparent 40%, rgba(shade($purple, 25%), 0.5) 40%);
  }

  &.ink-bg {
    background: linear-gradient(-10deg, transparent 40%, $ink 40%), linear-gradient(10deg, transparent 40%, rgba($ink, 0.5) 40%);
  }

  &.slash::after {
    opacity: 0.92;
    bottom: 0;
    height: 80%;
  }

  &.slash {
    padding-bottom: 30px;
  }

  &.thick-slash::after {
    height: 120%;
  }
}

.block-clear-top {
  @extend .block-clear;

  &.pink-bg {
    background: linear-gradient(10deg, $pink 65%, transparent 65%), linear-gradient(-10deg, rgba(darken($pink, 20), 0.8) 65%, transparent 65%);
  }

  &.blue-bg {
    background: linear-gradient(-10deg, transparent 40%, $blue 40%), linear-gradient(10deg, transparent 40%, rgba($blue, 0.5) 40%);
  }

  &.aqua-bg {
    background: linear-gradient(-10deg, transparent 40%, $aqua 40%), linear-gradient(10deg, transparent 40%, rgba($aqua, 0.5) 40%);
  }

  &.slash::after {
    top: 0;
    bottom: auto;
  }
}

@media screen and ( min-width: $medium ) {
  .block-inner-right {
    direction: rtl;

    * {
      direction: ltr;
    }
  }
}

.block blockquote {
  text-align: center;
  color: $ink;
  border-left: none;
  position: relative;
  padding: 70px $gutter 0;
  margin-bottom: 0;

  &.block-light {
    color: white;

    &::before {
      background-color: rgba(white, 0.2);
    }
  }

  &::before {
    @include pseudo;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 80px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba($ink, 0.2);
  }

  .quote {
    font-weight: $font-bold;
    font-size: $beta;
    line-height: 1.3;
    position: relative;

    @media screen and ( max-width: $medium ) {
      font-size: $gamma;
    }

    &::before,
    &::after {
      font-weight: $font-black;
      font-size: 200px;
      opacity: 0.2;
      position: absolute;
      line-height: 1;
    }

    &::before {
      content: "\201C";
      top: -30px;
      left: -30px;
    }

    &::after {
      content: "\201D";
      bottom: -130px;
      right: -30px;
    }
  }

  .quote-author {
    margin-top: 40px;
    opacity: 0.7;

    @media screen and ( max-width: $medium ) {
      margin: 20px auto 0;
      font-size: $delta;
    }
  }
}
