.feature-block {
  &.block {
    padding-top: 80px;
    padding-bottom: 80px;

    @media screen and ( max-width: $medium ) {
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: left;

      .text-right {
        text-align: left;
      }
    }
  }

  [class*='col-'] {
    vertical-align: middle;

    @media screen and ( max-width: $medium ) {
      width: 100%;
      display: block;
    }
  }

  img {
    margin: 10px auto;
    width: 70%;

    @media screen and ( max-width: $medium ) {
      margin: 0 0 40px;
    }
  }

  h2 {
    margin-bottom: 20px;

    &.text-center {
      margin-bottom: 40px;
    }
  }

  p {
    font-size: $delta;

    &:first-of-type:not(:only-of-type) {
      -webkit-font-smoothing: subpixel-antialiased;
      margin-bottom: 20px;
    }
  }

  .btn {
    margin-top: 30px;
  }
}

.feature-hero-block {
  &.block {
    padding-bottom: 30px;
  }

  @media screen and ( max-width: $medium ) {
    [class*="col-"] {
      width: 100%;
    }
  }

  h2 {
    font-size: $alpha + 10px;
    margin-bottom: 10px;

    @media screen and ( max-width: $medium ) {
      font-size: $alpha - 8px;
    }
  }

  img {
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    @media screen and ( max-width: $medium ) {
      display: none;
    }
  }
}

.feature-meta {
  margin-bottom: 20px;

  @media screen and ( max-width: $medium ) {
    margin-top: -20px;
  }

  .meta-date {
    color: rgba(white, 0.6);
  }

  .meta-location {
    color: rgba(white, 0.4);

    @media screen and ( max-width: $medium ) {
      display: block;
    }
  }
}
