.post-block {
  .card-title {
    padding-top: 5px;
  }

  .card-excerpt {
    font-size: $epsilon;
  }

  .card-meta {
    padding-top: 30px;
  }

  .post .btn {
    margin-left: 20px;
  }
}

.post {
  box-shadow: $box-shadow;
  position: relative;

  @media screen and ( max-width: $medium ) {
    margin-left: 0;
  }

  &:hover {
    box-shadow: $box-shadow-lrg;
  }

  .grey-bg & {
    background-color: white;
  }

  &::before,
  &::after {
    display: none;
  }
}

.post-link {
  display: block;
  border: none;
}

.post-inner {
  padding: 10px 0 30px 260px;
  text-align: left;

  @media screen and ( max-width: $medium ) {
    padding-top: 180px;
    padding-left: 0;
  }
}

.post-thumb {
  position: absolute;
  height: 100%;
  width: 250px;
  background-size: cover;
  background-position: center;

  @media screen and ( max-width: $medium ) {
    width: 100%;
    height: 180px;
  }
}
