.team-block {
  h2 {
    margin-top: -40px;
    margin-bottom: 20px;
    position: relative;
  }

  .block-inner {
    margin-top: -70px;

    @media screen and ( min-width: $medium ) {
      padding: 0 50px 50px;
    }
  }
}

.team-col {
  @media screen and ( max-width: $medium ) {
    width: 100%;
    margin: 0;
  }
}

.person {
  @media screen and ( max-width: $medium ) {
    margin: 30px 0;
    padding-bottom: 30px;
  }

  @media screen and ( min-width: $medium ) {
    &:nth-of-type(odd) {
      margin-bottom: 50px;
    }
  }

  .card-img {
    height: 200px;
  }
}
