//===============================================================================
// STYLES FIXES BEFORE MAIN.CSS LOADS
//===============================================================================
img { display: none; }

// Fix touch sizing
.btn,
.feat-content-list-item,
.gbl-foot-links a,
.gbl-foot-social a,
.gbl-head-btn,
.gbl-head-nav-item,
.gbl-head-logo {
  padding: 10px;
  display: block;
}

.btn,
.gbl-head-btn {
  margin: 10px;
}

.photo-container { height: 400px; }
