.gbl-head {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  border-bottom-color: rgba(white, 0.25);
}

.gbl-head-inner {
  padding: 33px $gutter * 2 17px;

  @media screen and ( max-width: $medium ) {
    padding: 20px 0 15px;
  }
}

.gbl-head-logo {
  @include sprite($logo-white);
  border: none;
  transition: 0.2s;

  @media screen and ( max-width: $medium ) {
    margin-left: $gutter;
  }
}

.gbl-head-nav {
  position: absolute;
  top: 37px;
  right: $gutter * 2;

  @media screen and ( max-width: $medium ) {
    position: relative;
    top: 15px;
    right: 0;
    max-height: 0;
    overflow: hidden;
  }
}

.gbl-head-nav-item {
  color: white;
  display: block;
  float: left;
  margin-left: $gutter * 2;
  border: none;
  color: rgba(white, 0.5);

  @media screen and ( max-width: $medium ) {
    float: none;
    margin: 0;
    border-top: 1px solid rgba(black, 0.08);
    padding: 12px $gutter 10px;
  }
}

.gbl-head-btn {
  @include hide-text;
  display: none;
  position: absolute;
  margin: 0;
  top: 10px;
  right: $gutter - 5px;
  height: 45px;
  width: 45px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 0 rgba(black, 0.1);
  border: none;
  transition: box-shadow 0.2s, opacity 0.2s;

  &::after {
    @include pseudo;
    @include sprite($menu-grey);
    top: 13px;
    left: 13px;
  }

  @media screen and ( max-width: $medium ) {
    display: block;
  }
}
