.hero {}

.hero-inner {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 40px;

  @media screen and ( max-width: $medium ) {
    padding: 90px $gutter 10px
  }
}

.hero-title {
  @include text-shadow-lrg;
  margin-bottom: 0;
}

.hero-subtitle {
  font-size: $gamma;
  margin-top: 20px;

  @media screen and ( max-width: $medium ) {
    font-size: $delta;
  }
}
