.hero-block {}

.hero-inner {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 140px $gutter * 2 40px;

  @media screen and ( max-width: $medium ) {
    padding: 90px $gutter 10px
  }
}

.hero-title {
  @include text-shadow-lrg;
  margin-bottom: 0;
}

.hero-subtitle {
  font-size: $gamma;
  margin-top: 20px;

  @media screen and ( max-width: $medium ) {
    font-size: $delta;
  }
}

.hero-label {
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 20px auto 30px;
  font-weight: $font-regular;
  color: rgba(white, 0.7);
  font-size: $zeta - 2px;
}

.hero-play-btn {
  position: absolute;
  left: 50%;
  bottom: -110px;
  transform: translateX(-50%);

  &:hover {
    transform: translateX(-50%) scale(1.1);
  }
}
