//===============================================================================
// TYPOGRAPHY - CRITICAL STYLES
//===============================================================================
h1, h2, h3 {
  @include foutfix;
  line-height: 1.3;
  font-family: $brandon;
  font-weight: $font-black;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h1 {
  font-size: $tera;

  @media screen and ( max-width: $medium ) {
    font-size: $mega;
  }
}

h2 {
  font-size: $mega;

  @media screen and ( max-width: $medium ) {
    font-size: $alpha;
  }
}

h3 {
  font-size: $alpha;

  @media screen and ( max-width: $medium ) {
    font-size: $alpha - 8px;
  }
}
