h1 {
  font-size: $tera;
  font-family: $brandon;
  font-weight: $font-black;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  letter-spacing: -2px;

  @media screen and ( max-width: $large + 300px ) {
    font-size: $giga;
    font-size: 9vw;
  }

  @media screen and ( max-width: $medium ) {
    font-size: $mega;
  }

  @media screen and ( max-width: $small ) {
    font-size: $alpha;
  }
}

h2, h3 {
  font-weight: $font-bold;
  line-height: 1;
}

h2 {
  font-size: $alpha;

  @media screen and ( max-width: $medium ) {
    font-size: $alpha - 8px;
  }
}

h3 {
  font-size: $beta;

  @media screen and ( max-width: $medium ) {
    font-size: $beta - 4px;
  }
}

a {
  color: $primary;
  text-decoration: none;
  border-bottom: 2px solid rgba($primary, 0.2);
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    color: $primary;
    border-bottom-color: rgba($primary, 0.6);
  }
}
