.aside-block {
  position: relative;
  padding: 0;
  box-shadow: 0 -2px 10px rgba(black, 0.12);

  &::before,
  &::after {
    @include pseudo;
    transform: rotate(-3deg) skewX(-2.5deg);
    width: 100%;
    bottom: -25px;
    transition: 0.2s ease-in-out;

    @media screen and ( max-width: $medium ) {
      display: none;
    }
  }

	&::before {
    transition: 0.2s;
  	height: 45px;
  	box-shadow: -1px 1px 10px rgba(black, 0.12);
	}

	&::after {
  	position: relative;
  	height: 50px;
  	background-color: white;
  }

  .block-inner {
    padding: 0 $gutter * 2;

    @media screen and ( max-width: $medium ) {
      padding: 0 $gutter;
    }
  }
}









// Aside content block
.aside-container {
  @include clearfix;
  position: relative;
  margin: 70px 10%;
  width: 80%;
  padding: 50px 40px 40px;
  z-index: 2;

  @media screen and ( max-width: $medium + 300px ) {
    margin: 70px 5%;
    width: 90%;
  }

  @media screen and ( max-width: $medium ) {
    background: white;
    width: calc(100% - 40px);
    margin: 40px $gutter;
    padding: 40px 30px 30px;
    box-shadow: 0 0 10px rgba(black, 0.2);
  }

  @media screen and ( min-width: $medium ) {
    &:after {
      @include shadow-pseudo;
      height: 100%;
      top: 0;
      background-color: white;
      box-shadow: 0 0 10px rgba(black, 0.2);
      z-index: -1;
      transform: rotate(-0.3deg) skew(1deg);
    }
  }

  h3 {
    font-size: $alpha - 2px;
    line-height: 1;
    margin-bottom: 10px;

    @media screen and ( max-width: $medium ) {
      font-size: $alpha - 6px;
    }
  }

  p {
    font-size: $gamma - 2px;

    @media screen and ( max-width: $medium ) {
      font-size: $delta;
    }
  }

  .btn {
    margin-top: 30px;
    display: table;
  }
}
