<section class="clients-block block slash-shadow">
  <div class="block-inner grid">
    <h2 class="hidden">Clients</h2>
    <ul class="clients grid">
      <li class="client col-1-4">
        <span class="client-logo az-logo-ink">AstraZeneca</span>
      </li>
      <li class="client col-1-4">
        <span class="client-logo pearson-logo-ink">Pearson</span>
      </li>
      <li class="client col-1-4">
        <span class="client-logo bede-logo-ink">Bede Gaming</span>
      </li>
      <li class="client col-1-4">
        <span class="client-logo cancer-logo-ink">Cancer Research</span>
      </li>
      <li class="client col-1-4">
        <span class="client-logo aljazeera-logo-ink">Al Jazeera</span>
      </li>
      <li class="client col-1-4">
        <span class="client-logo lloyds-logo-ink">Lloyds Banking Group</span>
      </li>
      <li class="client col-1-4 ">
        <span class="client-logo bybox-logo-ink">Bybox</span>
      </li>
      <li class="client col-1-4">
        <span class="client-logo express-logo-ink">National Express</span>
      </li>
    </ul>
  </div>
</section>
