html {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: $brandon;
  font-size: $body-font-size;
  font-weight: $font-regular;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
  color: $ink;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.grid {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: $large;
}
