{{ range .Data.Pages }}
{{ if eq .Type "index" }}
  {{ partial "head.html" . }}
  <body>

    {{ partial "header.html" . }}
    {{ partial "hero.html" . }}

    <section class="intro-block block grey-bg slash-shadow slash-top slash-right">
      <div class="block-inner grid">
        <h2>{{ .Params.intro_title }}</h2>
        <p>{{ .Params.intro }}</p>
      </div>
    </section>

    {{ partial "clients.html" . }}

    <section id="expertise" class="expertise-block block blue-bg slash-shadow slash-right">
      <div class="intro-block block block-light">
        <div class="block-inner grid">
          <h2>{{ .Params.expertise_title }}</h2>
          <p>{{ .Params.expertise_subtitle }}</p>
          <a href="{{ .Params.expertise_work_btn_url }}" class="btn btn-lrg btn-light btn-arrow">{{ .Params.expertise_work_btn_text }}</a>
          <a href="{{ .Params.expertise_wiw_btn_url }}" class="btn btn-lrg btn-light btn-arrow">{{ .Params.expertise_wiw_btn_text }}</a>
        </div>
      </div>
      <div class="feature-block block block-light">
        <div class="block-inner grid">
          <div class="col-1-2">
            <img src="/img/illustrations/{{ .Params.expertise_one_illustration }}" alt="">
          </div>
          <div class="col-1-2">
            <h3>{{ .Params.expertise_one_title }}</h3>
            <p>{{ .Params.expertise_one_summary }}</p>
          </div>
        </div>
      </div>
      <div class="feature-block block block-light blue-dark5-bg">
        <div class="block-inner block-inner-right grid">
          <div class="col-1-2">
            <img src="/img/illustrations/{{ .Params.expertise_two_illustration }}" alt="">
          </div>
          <div class="col-1-2 text-right">
            <h3>{{ .Params.expertise_two_title }}</h3>
            <p>{{ .Params.expertise_two_summary }}</p>
          </div>
        </div>
      </div>
      <div class="feature-block block block-light">
        <div class="block-inner grid">
          <div class="col-1-2">
            <img src="/img/illustrations/{{ .Params.expertise_three_illustration }}" alt="">
          </div>
          <div class="col-1-2">
            <h3>{{ .Params.expertise_three_title }}</h3>
            <p>{{ .Params.expertise_three_summary }}</p>
          </div>
        </div>
      </div>
    </section>

    <section class="photo-block">
      <div class="photo" style="background-image: url(/img/features/{{ .Params.photo1_url }})"></div>
    </section>

    <section class="action-block intro-block block slash-shadow slash-top">
      <div class="block-inner grid">
        <img class="action-img" src="/img/illustrations/{{ .Params.action_illustration }}" alt="">
        <h2 class="action-title pink-text">{{ .Params.action_title }}</h2>
        <p class="pink-text">{{ .Params.action_summary }}</p>
        <div class="upcoming-hackdays">
        <h4 class="text-center">Upcoming:</h4>
          {{ range .Params.hackday_events }}
            <div class="col-1-3">
              <a href="{{ .Site.BaseURL }}{{ .link }}">{{ .name }}</a>
            </div>
          {{ end }}
        </div>
        <a href="{{ .Site.BaseURL }}{{ .Params.action_btn_url }}" class="btn btn-lrg btn-center btn-arrow">{{ .Params.action_btn_text }}</a>
      </div>
    </section>

    {{ partial "footer.html" . }}
  </body>

  <script>
    // Header change colour
    var headerContainer = $('.gbl-head');
    if ($(headerContainer).length > 0) {
      var expertise;

      var scrollPositions = function () {
        expertise = $('#expertise');
      };

      var headerBG = function () {
        var windowTop = $(window).scrollTop();
        if (windowTop > expertise.offset().top - 200 || expertise.offset().bottom) {
          headerContainer.css({'background-color':'#0ea2dc'});
        } else if (windowTop < 1) {
          headerContainer.css({'background-color':''});
        } else {
          headerContainer.css({'background-color':'#ed4f7e'});
        }
      };

      $(window).resize(scrollPositions).scroll(headerBG);
      scrollPositions();
      headerBG();
    }

    // Video - loop the video
    var video = document.getElementById('officespace');
    if (video) {
      video.addEventListener('ended', function(e) {
        this.play();
      });
    }

    var videoPlay = document.getElementById('fs-video');
    if (videoPlay) {
      var $videoContainer = $('#fs-video-container');
      var videoClose = $videoContainer.find('.btn-close')[0];

      videoClose.addEventListener('click', function(e) {
        videoStop()
      });

      $(document).keyup(function(e) {
        if (e.keyCode == 27) { videoStop() }
      });

      var videoStop = function() {
        $videoContainer.fadeOut(350, function() {
          $videoContainer.find('#fs-video')[0].pause();
        });
      }

      videoPlay.addEventListener('click', function(e) {
        $videoContainer.find('#fs-video')[0].play();
        $('#fs-video-container').fadeIn(350, function() {
          $(this).css('display', 'flex');
        });
      });
    }
    </script>
{{ end }}
{{ end }}
