//===============================================================================
// CODE STYLES (PRETTIFY)
//===============================================================================
code {
  background-color: lighten($ink, 48);
}

pre.prettyprint.prettyprinted {
  background-color: lighten($ink, 48);
  padding: 20px;
  border: none;

  * {
    font-family: monospace;
  }

  code {
    background-color: transparent;
  }

  .pln {
    color: $ink;
  }

  @media screen {
    .str {
      color: darken($aqua, 10);
    }

    .kwd {
      color: darken($blue, 10);
    }

    .com {
      color: darken($pink, 10);
    }

    .typ {
      color: #550078;
    }

    .lit {
      color: #007c7c;
    }

    .pun, .opn, .clo {
      color: $purple;
    }

    .atn {
      color: #550078;
    }

    .atv {
      color: darken($aqua, 10);
    }

    .dec, .var {
      color: #550078;
    }

    .fun {
      color: red;
    }
  }

  @media print, projection {
    .str {
      color: #060;
    }

    .kwd {
      font-weight: bold;
      color: #006;
    }

    .com {
      font-style: italic;
      color: #600;
    }

    .typ {
      font-weight: bold;
      color: #404;
    }

    .lit {
      color: #044;
    }

    .pun, .opn, .clo {
      color: #440;
    }

    .atn {
      color: #404;
    }

    .atv {
      color: #060;
    }
  }

  ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
  }

  li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: none;
  }

  li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #eee;
  }
}
