.clients-block {
  padding-top: 50px;
  padding-left: $gutter * 4;
  padding-right: $gutter * 4;

  @media screen and ( max-width: $large ) {
    padding-left: 0;
    padding-right: 0;
  }

  &.slash.block {
    padding-bottom: 15px;
  }
}

.clients {
  @include clearfix;
  position: relative;
}

.client {
  height: 110px;
  position: relative;

  @media screen and ( max-width: $large ) {
    width: 33.33%;
  }

  @media screen and ( max-width: $medium ) {
    display: inline-block;
    width: 50%;
    transform: scale(0.9);
    margin-top: -20px;
  }

  @media screen and ( max-width: $small ) {
    transform: scale(0.8);
    margin-left: -2px;
    margin-right: -2px;
  }

  .client-logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
}

.client-logo {
  &.az-logo { @include sprite($az-logo); }
  &.pearson-logo { @include sprite($pearson-logo); }
  &.bede-logo { @include sprite($bede-logo); }
  &.cancer-logo { @include sprite($cancer-logo); }
  &.aljazeera-logo { @include sprite($aljazeera-logo); }
  &.lloyds-logo { @include sprite($lloyds-logo); }
  &.bybox-logo { @include sprite($bybox-logo); }
  &.express-logo { @include sprite($express-logo); }
  &.vfs-logo { @include sprite($vfs-logo); }
}
