// CALL-TO-ACTION
.cta-container {
  padding: 65px 20px 30px;
  background-color: lighten($ink, 50);
  position: relative;
  overflow: hidden;

  &::before {
    @include shadow-pseudo;
    z-index: 1;
    top: -30px;
    height: 50px;
    background-color: white;
    transform: rotate(-1.8deg) scale(1.2);
  }
}

.cta-content { text-align: center; }

.cta-title {
  font-size: $beta;
  line-height: 1.1;

  @media screen and ( max-width: $medium ) {
    font-size: $gamma + 2px;
  }
}

.cta-btn {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding-left: 50px;

  &::after {
    @include icon-pseudo;
    top: 19px;
    left: 15px;
    transform: scale(0.75) translateY(-50%);
  }

  &.cta-btn-phone::after { @include sprite($phone-white); }
  &.cta-btn-email::after { @include sprite($mail-white); }
}
