.cta-container {
  padding: 65px 20px 30px;
  background-color: lighten($grey, 65);
  position: relative;

  &::before,
  &::after {
    @include shadow-pseudo;
    z-index: 1;
  }

  &::before {
    top: -15px;
    height: 45px;
    background-color: rgba(black, 0.15);
    transform: rotate(-1.5deg) scale(1.2);
  }

  &::after {
    top: -30px;
    height: 50px;
    background-color: white;
    transform: rotate(-2.2deg) scale(1.2);
  }
}

.cta-content {
  text-align: center;
}

.cta-title {
  font-size: $beta;
  line-height: 1.1;

  @media screen and ( max-width: $medium ) {
    font-size: $gamma + 2px;
  }
}

.cta-btn {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding-left: 50px;

  &::after {
    @include icon-pseudo;
    top: 19px;
    left: 15px;
    transform: scale(0.75) translateY(-50%);
  }

  &.cta-btn-phone::after { @include sprite($phone-white); }
  &.cta-btn-email::after { @include sprite($mail-white); }
}
