//===============================================================================
// GLOBAL FOOTER
//===============================================================================
.gbl-foot {
  position: relative;
  background-color: white;
  border-top: 1px solid $primary;
  padding: 20px $gutter * 2 40px;

  @media screen and ( max-width: $medium + 100px ) {
    padding: 20px $gutter;
  }
}

.gbl-foot-tagline {
  color: rgba($primary, 0.4);
  position: absolute;
  right: $gutter * 2;
  bottom: $gutter;
  width: 100%;
  text-align: right;

  @media screen and ( max-width: $medium + 100px ) {
    position: relative;
    text-align: left;
    bottom: 0;
    right: 0;
  }
}

.gbl-foot-links {
  li {
    display: inline-block;
    margin-right: 20px;

    @media screen and ( max-width: $medium + 100px ) {
      display: block;
    }
  }

  a {
    color: $pink;
    transition: 0.2s;

    &:hover {
      color: rgba($pink, 0.8);
    }
  }
}

.gbl-foot-social {
  position: absolute;
  right: $gutter * 2;
  top: 22px;
  z-index: 3;

  @media screen and ( max-width: $medium + 100px ) {
    right: $gutter;
  }

  li {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;

    @media screen and ( max-width: $medium ) {
      margin-left: 4px;
    }
  }

  a {
    position: relative;
    color: transparent;
    font-size: 1px;
    overflow: hidden;
    width: 25px;
    height: 22px;
    display: block;
    transition: 0.2s;

    &:after {
      @include icon-pseudo;
      top: 0;
      right: 0;
    }

    &:hover {
      opacity: 0.8;
    }

    &.github:after {
      @extend .i-github-pink;
    }

    &.twitter:after {
      @extend .i-twitter-pink;
    }

    &.vimeo:after {
      @extend .i-vimeo-pink;
    }
  }
}