//===============================================================================
// GLOBAL HEADER
//===============================================================================
.gbl-head.show { top: 0; }
.gbl-head.hide { top: -92px; }

.gbl-head-logo:hover {
  color: transparent;
  opacity: 0.8;
}

.gbl-head-nav-item {
  &:hover {
    color: rgba(white, 0.9);
    border-color: rgba(white, 0.4);

    @media screen and ( max-width: $medium ) {
      background-color: rgba(black, 0.12);
    }
  }

  &.active,
  .blog &:last-child,
  .post &:last-child {
    color: white;
    border-color: white;
  }
}

.gbl-head-btn:active::after {
  @include sprite($close-grey);
  top: 14px;
  left: 15px;
}
