.hero-play-btn {
  position: absolute;
  left: 50%;
  bottom: -110px;
  transform: translateX(-50%);

  &:hover {
    transform: translateX(-50%) scale(1.1);
  }
}

.hero .btn {
  margin-top: 30px;
}
