// MEDIA
.media-container {
  padding: 10px 0 0;
}

.media {
  position: relative;
  margin-left: -30px;

  &.video {
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.media-caption {
  padding: 5px 0;
  font-size: $epsilon;
  color: lighten($ink, 20);
  text-align: center;
}
