// RECRUITEE
.careers-container {
  @include clearfix;
  margin-top: $gutter + 10px;
  margin-bottom: $gutter;

  @media screen and ( max-width: $medium ) {
    margin-top: 0;
  }

  .content-title {
    width: auto;
    padding-top: $gutter + 10px;
    margin-bottom: $gutter;
  }
}

.rt-title {
  line-height: 1;
  margin: 0 0 10px;

  @media screen and ( max-width: $medium ) {
    font-size: $alpha - 8px;
  }
}

.rt-subtitle {
  font-size: $gamma;
  padding-bottom: 10px;

  @media screen and ( max-width: $medium ) {
    font-size: $delta;
  }
}

.rt-offer-heading {
  position: relative;
  margin-top: $gutter;
  padding-top: 40px;

  &:after {
    content: "";
    height: 6px;
    width: 150px;
    background-color: lighten($ink, 45);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.rt-offer {
  margin: $gutter 0;
  padding: 10px 0 20px;
  position: relative;

  @media screen and ( max-width: $medium ) {
    padding: 10px 0 $gutter;
  }

  &:last-child {
    margin-bottom: 10px;

    &:after {
      display: none;
    }
  }

  &:after {
    content: "";
    height: 6px;
    width: 150px;
    background-color: lighten($ink, 48);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  h3 {
    font-size: $beta;
    color: $primary;
    margin-bottom: 5px;
    transition: 0.2s;
    line-height: 1;

    @media screen and ( max-width: $medium ) {
      font-size: $beta;
      margin-bottom: 5px;
    }

    @media screen and ( max-width: $small ) {
      font-size: $beta - 4px;
    }

    &:hover {
      color: lighten($primary, 8);
    }
  }

  p {
    font-size: $delta;
    line-height: 1;
    margin-bottom: 15px;
  }
}

.rt-modal {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(darken($ink, 20), 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  overflow: auto;
}

.rt-dialog {
  position: relative;
  margin: 50px auto;
  background-color: white;
  width: 90%;
  max-width: 700px;
  padding: 60px 30px 50px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(black, 0.2);

  @media screen and ( max-width: $medium ) {
    padding: 50px $gutter;
  }
}

.rt-brand-color { color: $primary; }

.rt-close-button {
  position: absolute;
  right: -15px;
  top: -15px;
  height: 49px;
  width: 49px;
  border-radius: 50%;
  background: lighten($ink, 50);
  box-shadow: 0 4px 0 rgba(black, 0.1);
  transition: 0.2s;

  &:after {
    @include icon-pseudo;
    @include sprite($close-grey);
    top: 17px;
    left: 17px;
  }

  &:hover {
    background: lighten($ink, 48);
    transform: scale(1.1);
  }
}

.rt-body {
  h2 {
    color: $primary;
    margin: 20px 0 10px;
    font-size: $beta;
  }

  h3 {
    margin-bottom: 10px;
    font-size: $beta - 4px;
    color: $ink;
  }

  p {
    line-height: 1.4;
    margin-bottom: 18px;
  }

  ul {
    margin-left: $gutter;
  }

  ul li {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 15px;
    margin-bottom: 10px;
  }

  ul li p {
    line-height: 1;
  }
}

.rt-footer {
  @include clearfix;
  position: relative;

  .rt-btn {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-block;
    margin: $gutter * 2 auto 0;
    display: table;
  }

  .rt-btn-link {
    display: none;
  }
}
