//===============================================================================
// RELATED POSTS
//===============================================================================
.related-container {
  background-color: lighten($ink, 50);
  position: relative;
  padding: 10px 0 50px;
  margin-top: 40px;

  @media screen and ( max-width: $large ) {
    padding-bottom: 20px;
  }

  &::before {
    @include shadow-pseudo;
    top: -20px;
    height: 40px;
    z-index: 1;
    background-color: lighten($ink, 50);
    transform: rotate(1.2deg) scale(1.2);
    -ms-transform: rotate(1.2deg) scale(1.2);
    -webkit-transform: rotate(1.2deg) scale(1.2);
  }
}

.related-title {
  padding: 0 40px 30px;
  position: relative;
  z-index: 1;

  @media screen and ( max-width: $medium + 250px ) {
    padding: 0 20px 20px;
  }
}

.related-post-item {
  padding: 35px 50px 35px 40px;
  position: relative;
  z-index: 1;
  transition: 0.3s transform;

  &:hover {
    transform: scale(1.03);

    .btn { @extend .btn-primary:hover; }
    .related-post-title { color: darken($primary, 8); }
  }

  &::before {
    @include shadow-pseudo;
    z-index: -1;
    height: calc(100% - 40px);
    width: calc(100% - 80px);
    top: 20px;
    left: 35px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(black, 0.1);
    transform: rotate(-0.6deg) scale(1.2);
    -ms-transform: rotate(-0.6deg) scale(1.2);
    -webkit-transform: rotate(-0.6deg) scale(1.2);
  }

  &:not(:nth-child(-n+3)) { display: none; }

  &:nth-child(2)::before {
    transform: rotate(0.3deg) scale(1.2);
    -ms-transform: rotate(0.3deg) scale(1.2);
    -webkit-transform: rotate(0.3deg) scale(1.2);
  }

  &:nth-child(3)::before {
    transform: rotate(-0.7deg) scale(1.2);
    -ms-transform: rotate(-0.7deg) scale(1.2);
    -webkit-transform: rotate(-0.7deg) scale(1.2);
  }

  .btn {
    margin-top: 25px;
    display: table;
    padding: 12px 18px;
    font-size: $epsilon;
  }

  @media screen and ( max-width: $medium + 250px ) {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(black, 0.1);
    padding: 35px 30px 30px;
    margin: 0 20px 15px;
    width: calc(100% - 40px);

    &::before { display: none; }
  }
}

.related-post-title {
  font-size: $beta - 2px;
  color: $primary;
  line-height: 1.1;
  margin-bottom: 10px;
  transition: 0.2s;

  @media screen and ( max-width: $medium + 250px ) {
    font-size: $beta - 6px;
  }
}

.related-post-list-meta {
  padding: 0;
  position: relative;
  z-index: 2;
  line-height: 1.3;

  .post-categories { margin-top: 8px; }
}

.related-post-link {
  position: absolute;
  top: -20px;
  left: -10px;
  width: calc(100% + 10px);
  height: calc(100% + 20px);
  z-index: 1;
}
