// SHARING FEATURE
.share-container {
  padding: 5px $gutter 40px;
  position: relative;

  &::before {
    @include icon-pseudo;
    top: -30px;
    width: 200px;
    height: 6px;
    background-color: lighten($ink, 48);
  }
}

.share-title {
  color: $primary;
  font-size: $body-font-size;
  font-weight: $font-regular;
}

.share-btn {
  @include icon;
  display: inline-block;
  transform: scale(1.3);
  margin-right: 10px;
  transition: 0.2s;

  &:hover {
    transform: scale(1.5);
    opacity: 0.9;
  }
}

.share-twitter {
  @include sprite($twitter-pink);
}

.share-linkedin {
  @include sprite($linkedin-pink);
}

.share-facebook {
  @include sprite($facebook-pink);
}
