.tab-head {
  padding-left: 0;
  margin: 0;
  max-width: 100%;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.tab-head-item {
  @extend h2;
  text-transform: none;
  letter-spacing: 0;
  display: inline-block;
  padding: 10px 0;
  margin: 0 20px 0 0;
  transition: 0.2s;
  border: none;
  border-radius: 0;

  @media screen and ( max-width: $large ) {
    margin-top: 15px;
  }

  @media screen and ( max-width: $medium ) {
    margin-right: 15px;
    font-size: $beta;
  }

  @media screen and ( max-width: $small ) {
    margin-right: 15px;
    font-size: $gamma;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 20px;
  }

  &.active {
    color: $ink;
  }
}

.tab-content-container {
  @include clearfix;
  padding-top: 50px;

  @media screen and ( max-width: $medium ) {
    padding-top: 30px;
  }
}

.tab-content {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.8s;

  &.active {
    opacity: 1;
    height: 100%;
    transition: opacity 0.8s;
  }
}
