$font-reg: 400;
$font-bold: 700;
$font-sans: 'Karla', Helvetica, sans-serif;

$tera: 72px;
$giga: 60px;
$mega: 48px;
$alpha: 38px;
$beta: 24px;
$gamma: 18px;
$delta: 16px;
$epsilon: 14px;
$zeta: 12px;
