<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  {% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}

    {% include hero.html %}

    <section class="content-container grid">
      <article class="content col-1-1">
        {{content}}
        <a href="{{ site.baseurl }}/careers" class="btn btn-primary btn-block" data-sr="scale up 20%, vF 0">SOUND GOOD TO YOU? COME JOIN US!</a>
      </article>
    </section>
    <!-- /.content-container -->

    <section class="photo-container about-photo-container">
      <div class="photo-inner" style="background-image: url({{ site.baseurl }}/img/{{page.cover-img}})"></div>
    </section>
    <!-- /.photo-container -->

    <section class="ppl-container">
      <div class="ppl-inner grid" id="aboutDirectors">
        <h2 class="content-title">Our Directors</h2>
        <ul class="ppl-col col-1-2">
          <li class="ppl-item">
            <h3>George Ornbo</h3>
            <h4>Managing Director &amp; Co-founder</h4>
            <div class="ppl-portrait-wrapper">
              <div class="ppl-portrait" style="background-image: url({{ site.baseurl }}/img/directors/george.jpg)"></div>
            </div>
            <p>Expert developer, ex-McKinsey, author of Sam's Teach Yourself Node.js in 24 hours and writes for Guardian on technology matters. Clients include Shell, Cancer Research UK, Energy Saving Trust and Prince's Trust. Edinburgh University.</p>
          </li>
          <li class="ppl-item">
            <h3>Toby Hunt</h3>
            <h4>Director &amp; Co-founder</h4>
            <div class="ppl-portrait-wrapper">
              <div class="ppl-portrait" style="background-image: url({{ site.baseurl }}/img/directors/toby.jpg)"></div>
            </div>
            <p>Board member for various digital businesses and also co-founder of <a href="http://pebbleit.com">pebble.it</a>. Expert in leadership and managing teams on rapid development projects and passionate about affecting positive technological change and digital transformation. Previously worked as a business systems analyst and project manager at M&amp;S. Durham University, Computer Science.</p>
          </li>
          <li class="ppl-item">
            <h3>John Mildinhall</h3>
            <h4>Creative Director</h4>
            <div class="ppl-portrait-wrapper">
              <div class="ppl-portrait" style="background-image: url({{ site.baseurl }}/img/directors/john.jpg)"></div>
            </div>
            <p>On a mission to make people's working lives easier by giving them truly great software. Combining rigorous user research with a dose of inspiration and creativity, his team crafts applications that place power into the hands of the user - saving time, providing deeper insights and smoothing processes.<p>
            <p>He has a Ph.D. in Experimental Psychology, is the co-author of Heads up Psychology, and has designed industrial control interfaces, trading systems for global banks, intelligence systems and scientific research platforms. Clients include EDF, HSBC, National Grid and AstraZeneca.</p>
          </li>
        </ul>
        <!-- /.ppl-col -->
        <ul class="ppl-col col-1-2">
          <li class="ppl-item">
            <h3>Alex Butcher</h3>
            <h4>Director &amp; Co-founder</h4>
            <div class="ppl-portrait-wrapper">
              <div class="ppl-portrait" style="background-image: url({{ site.baseurl }}/img/directors/alex.jpg)"></div>
            </div>
            <p>Expert software architect specialising in fault tolerant system design. Passionate about continuous delivery and the application of agile and lean principles to improve processes. Durham University, Computer Science. </p>
          </li>
          <li class="ppl-item">
            <h3>Stephen Allott</h3>
            <h4>Chairman &amp; Adult Supervision</h4>
            <div class="ppl-portrait-wrapper">
              <div class="ppl-portrait" style="background-image: url({{ site.baseurl }}/img/directors/stephen.jpg)"></div>
            </div>
            <p>Some time Crown Representative for Small &amp; Medium Enterprises in the Cabinet Office and UK delegate for the D5. Chaired BACFI, Jacobs Rimell, Parc Technology, Inforsense, Applied Generics, COE Group Plc, The Red Gate Council of Advisers, Tideway Systems and Trinamo. NXD on Bright Computing, Trampoline and Zeus.</p>
            <p>Founded the Cambridge Computer Lab Ring and co-founded Trinamo. President, CFO and main board director of Micromuse Inc. (NASDAQ: MUSE). Worked for McKinsey, Sun Microsystems, Xerox and Essex Court Chambers.</p>
            <p>Graduate of Trinity College Cambridge, Barrister (Gray’s Inn), Member of the Bar Council of England and Wales, City Fellow of Hughes Hall Cambridge University.</p>
            <p>Bike nut.</p>
          </li>
        </ul>
        <!-- /.ppl-col -->
        <aside class="aside-container ppl-join-container" data-sr="wait 0.1s, scale up 20%, vF 0">
          <h3>Join the Team</h3>
          <p>We put top notch people into small, dynamic teams, give them the best tools and encourage maximum collaboration in our stimulating and spacious work environment.</p>
          <a href="{{ site.baseurl }}/careers" class="btn btn-primary btn-block">Join us</a>
        </aside>
      </div>
    </section>
    <!-- /.ppl-container -->

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.1.min.js""><\/script>')</script>
    <!--[if gt IE 8]><!-->
      <script type="text/javascript"src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
    <!--<![endif]-->
    <script type="text/javascript" src="{{ site.baseurl }}/js/vendor/scrollReveal.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
    <!-- /scripts-->

  </body>
</html>