{% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}

    {% include hero.html %}

    <section class="photo-block">
      <div class="photo" style="background-image: url(/img/features/{{ page.photo1-url }})"></div>
    </section>

    <section class="feature-block block grey-bg slash-shadow slash-top">
      <div class="block-inner block-inner-right grid">
        <div class="col-1-2">
          <img src="/img/illustrations/{{ page.block1-illustration }}" alt="">
        </div>
        <div class="col-1-2">
          <h2>{{ page.block1-title }}</h2>
          <p class="delta">{{ page.block1-summary-lrg }}</p>
          <p class="epsilon">{{ page.block1-summary }}</p>
        </div>
      </div>
    </section>

    <section class="feature-block block slash-shadow slash-right">
      <div class="block-inner grid">
        <div class="col-1-2">
          <img src="/img/illustrations/{{ page.block2-illustration }}" alt="">
        </div>
        <div class="col-1-2">
          <h2>{{ page.block2-title }}</h2>
          <p class="delta">{{ page.block2-summary-lrg }}</p>
          <p class="epsilon">{{ page.block2-summary }}</p>
        </div>
      </div>
    </section>

    <section class="photo-block">
      <div class="photo" style="background-image: url(/img/features/{{ page.photo2-url }})"></div>
    </section>

    <section id="awards" class="feature-block block block-light slash-shadow slash-top pink-bg">
      <div class="block-inner block-inner-right grid">
        <div class="col-1-2">
          <img src="/img/illustrations/{{ page.block3-illustration }}" alt="">
        </div>
        <div class="col-1-2">
          <h2>{{ page.block3-title }}</h2>
          <p class="delta">{{ page.block3-summary-lrg }}</p>
          <p class="epsilon">{{ page.block3-summary }}</p>
          <!-- <a class="btn btn-block btn-med btn-white btn-play">Team Hacking</a> -->
        </div>
      </div>
    </section>

    <section class="block feature-block block block-light pink-dark5-bg slash-shadow">
      <div class="block-inner grid">
        <div class="col-1-2">
          <img src="/img/illustrations/{{ page.block4-illustration }}" alt="">
        </div>
        <div class="col-1-2">
          <h2>{{ page.block4-title }}</h2>
          <p class="delta">{{ page.block4-summary-lrg }}</p>
          <p class="epsilon">{{ page.block4-summary }}</p>
          <a href="{{ page.block4-btn-url }}" class="btn btn-light btn-med btn-arrow">{{ page.block4-btn-text }}</a>
        </div>
      </div>
    </section>

    <section class="photo-block">
      <div class="photo" style="background-image: url(/img/features/{{ page.photo3-url }})"></div>
    </section>

    <section id="team" class="team-block block blue-bg slash-shadow slash-top slash-right">
      <div class="block blue-bg slash-shadow block-light">
        <div class="block-inner grid">
          <h2 class="text-center">{{ page.team-title }}</h2>
          <ul class="team-col col-1-2">
            <li class="person card">
              <div class="card-inner">
                <div class="card-img" style="background-image: url(/img/{{ page.person1-img }})"></div>
                <h3 class="card-title slash-shadow slash-top">{{ page.person1-name }}</h3>
                <h4 class="card-subtitle">{{ page.person1-role }}</h4>
                <p class="card-excerpt">{{ page.person1-summary }}</p>
              </div>
            </li>
            <li class="person card">
              <div class="card-inner">
                <div class="card-img" style="background-image: url(/img/{{ page.person2-img }})"></div>
                <h3 class="card-title slash-shadow slash-top slash-right">{{ page.person2-name }}</h3>
                <h4 class="card-subtitle">{{ page.person2-role }}</h4>
                <p class="card-excerpt">{{ page.person2-summary }}.</p>
              </div>
            </li>
            <li class="person card">
              <div class="card-inner">
                <div class="card-img" style="background-image: url(/img/{{ page.person3-img }})"></div>
                <h3 class="card-title slash-shadow slash-top">{{ page.person3-name }}</h3>
                <h4 class="card-subtitle">{{ page.person3-role }}</h4>
                <p class="card-excerpt">{{ page.person3-summary }}</p>
              </div>
            </li>
          </ul>
          <ul class="team-col col-1-2">
            <li class="person card">
              <div class="card-inner">
                <div class="card-img" style="background-image: url(/img/{{ page.person4-img }})"></div>
                <h3 class="card-title slash-shadow slash-top slash-right">{{ page.person4-name }}</h3>
                <h4 class="card-subtitle">{{ page.person4-role }}</h4>
                <p class="card-excerpt">{{ page.person4-summary }}</p>
              </div>
            </li>
            <li class="person card">
              <div class="card-inner">
                <div class="card-img" style="background-image: url(/img/{{ page.person5-img }})"></div>
                <h3 class="card-title slash-shadow slash-top">{{ page.person5-name }}</h3>
                <h4 class="card-subtitle">{{ page.person5-role }}</h4>
                <p class="card-excerpt">{{ page.person5-summary }}</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="block-inner grid block block-team-intro">
          <div class="col-1-1">
            <h2 class="text-center">{{ page.core-team-title }}</h2>
            <p class="epsilon">{{ page.core-intro }}</p>
            <a href="{{ page.core-btn-url }}" class="btn btn-lrg btn-light btn-center btn-arrow">{{ page.core-btn }}</a>
            </div>
        </div>
      </div>
    </section>

    <section class="photo-block">
      <div class="photo" style="background-image: url(/img/features/{{ page.photo4-url }})"></div>
    </section>

    <section class="action-block intro-block block slash-shadow slash-top">
      <div class="block-inner grid">
        <img class="action-img" src="/img/illustrations/{{ page.action-illustration }}" alt="">
        <h2 class="action-title pink-text">{{ page.action-title }}</h2>
        <p class="pink-text">{{ page.action-summary }}</p>
        <div class="upcoming-hackdays">
        <h4 class="text-center">Upcoming:</h4>
          {% for hackday in page.hackday-events %}
            <div class="col-1-3">
              <a href="{{hackday.link}}">{{hackday.name}}</a>
            </div>
          {% endfor %}
        </div>
        <a href="{{ page.action-btn-url }}" class="btn btn-lrg btn-center btn-arrow">{{ page.action-btn-text }}</a>
     </div>
     <div class="block-inner grid">
        <p class="action-title pink-text">{{ page.action-summary2 }}</p>
        <img class="action-img-middle" src="/img/illustrations/{{ page.ebook-illustration }}" alt="">
        <a href="{{ page.action-btn2-url }}" class="btn btn-lrg btn-center btn-arrow">{{ page.action-btn2-text }}</a>
      </div>

    </section>

    {% include footer.html %}

    <script>
    // Header change colour
    var headerContainer = $('.gbl-head');
    if ($(headerContainer).length > 0) {
      var awards;
      var team;

      var scrollPositions = function () {
        awards = $('#awards');
        team = $('#team');
      };

      var headerBG = function () {
        var windowTop = $(window).scrollTop();
        if (windowTop > team.offset().top - 200 || team.offset().bottom) {
          headerContainer.css({'background-color':'#0ea2dc'});
        } else if (windowTop > awards.offset().top - 200 || awards.offset().bottom) {
          headerContainer.css({'background-color':'#ed4f7e'});
        } else {
          headerContainer.css({'background-color':'#37bec0'});
        }
      };

      $(window).resize(scrollPositions).scroll(headerBG);
      scrollPositions();
      headerBG();
    }
    </script>
  </body>
</html>
