---
layout: blog
---
{% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}

    <section class="hero-block block aqua-bg slash-shadow slash-right">
      <div class="block-inner"></div>
    </section>

    <section class="content-block block">
      <div class="block-inner grid">
        {% include blog-sidebar.html %}
        <ul class="content col-1-1 post-list">
          {% for post in paginator.posts %}
            {% include blog-listpost.html %}
          {% endfor %}
        </ul>
      </div>
    </section>

    {% if paginator.total_pages > 1 %}
    <section class="blog-pagination">
      <div class="grid">
        <div class="pagination col-1-1">
          {% if paginator.previous_page %}
            <a class="btn" rel="prev" href="{{ paginator.previous_page_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
          {% else %}
            <span class="btn">&larr; Newer Posts</span>
          {% endif %}
          {% if paginator.next_page %}
            <a class="btn" rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
          {% else %}
            <span class="btn">Older Posts &rarr;</span>
          {% endif %}
        </div>
      </div>
    </section>
    {% endif %}

    {% include footer.html %}

  </body>
</html>
