---
layout: blog
---
{% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}

    <section class="hero-container hero-container-blog {{ page.colour }}">
      <div class="hero-inner grid">
          <h1 class="hero-title col-1-1">{% if page.hero-title %}{{page.hero-title}}{% else %}{{page.title}}{% endif %}</h1>
      </div>

    </section>
    <!-- /.hero-container -->



    <section class="content-container grid">

      {% include blog-sidebar.html %}

      <ul class="content col-1-1 post-list">
        {% for post in paginator.posts %}
          {% include blog-listpost.html %}
        {% endfor %}
      </ul>
    </section>
    <!-- /.content-container -->

    {% if paginator.total_pages > 1 %}
    <section class="blog-pagination">
      <div class="grid">
        <div class="pagination col-1-1">
          {% if paginator.previous_page %}
            <a class="btn btn-block btn-primary btn-new" rel="prev" href="{{ paginator.previous_page_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
          {% else %}
            <span class="btn btn-block btn-disabled btn-new">&larr; Newer Posts</span>
          {% endif %}
          {% if paginator.next_page %}
            <a class="btn btn-block btn-secondary btn-old" rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
          {% else %}
            <span class="btn btn-block btn-disabled btn-old">Older Posts &rarr;</span>
          {% endif %}
        </div>
      </div>
    </section>
    {% endif %}

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.1.min.js""><\/script>')</script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/vendor/scrollReveal.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
    <!-- /scripts-->

  </body>
</html>
