---
layout: blog
---
{% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}

    <header class="cat-head">
      <div class="cat-head-inner grid">
        <button class="cat-head-btn">All Categories</button>
      </div>
    </header>

    <nav class="cat-modal">
      <header class="cat-modal-head">
        <h3 class="cat-modal-title">Categories</h3>
        <button class="cat-modal-close">Close Categories</button>
      </header>
      <a class="cat-modal-btn">All categories</a>
      <a class="cat-modal-btn">Transport</a>
    </nav>

    <section class="hero-container hero-container-feature">
      <div class="hero-inner grid">
        <div class="meta-title-container">
          <span class="meta-title">Featured Project</span>
          <span class="meta-title pink-bg">Code</span>
        </div>
        <h1 class="hero-title col-1-1">OPTIMISING DEVELOPMENT ENVIRONMENTS IN SOAS</h1>
        <div class="hero-meta">
          <span class="post-author">George Ornbo</span>
          <span class="post-date">May 17, 2016</span>
        </div>
      </div>

    </section>
    <!-- /.hero-container -->

    <section class="content-container grid">

      <!-- {% include blog-sidebar.html %} -->

      <ul class="content col-1-1 post-list">
        {% for post in paginator.posts %}
          {% include blog-listpost.html %}
        {% endfor %}
      </ul>
    </section>
    <!-- /.content-container -->

    {% if paginator.total_pages > 1 %}
    <section class="blog-pagination">
      <div class="grid">
        <div class="pagination col-1-1">
          {% if paginator.previous_page %}
            <a class="btn btn-block btn-primary btn-new" rel="prev" href="{{ paginator.previous_page_path | replace: 'index.html', '/' | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
          {% else %}
            <span class="btn btn-block btn-disabled btn-new">&larr; Newer Posts</span>
          {% endif %}
          {% if paginator.next_page %}
            <a class="btn btn-block btn-secondary btn-old" rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
          {% else %}
            <span class="btn btn-block btn-disabled btn-old">Older Posts &rarr;</span>
          {% endif %}
        </div>
      </div>
    </section>
    {% endif %}

    {% include footer.html %}

  </body>
</html>
