{% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}

    {% include hero.html %}

    <section class="content-container grid">
      <article class="content-intro col-1-1">
        {{content}}
      </article>
    </section>
    <!-- /.content-container -->

    <section class="photo-container">
      <div class="photo-inner" style="background-image: url({{ site.baseurl }}/img/{{page.cover-img-1}})"></div>
    </section>
    <!-- /.photo-container -->

    <section class="project-container project-pink pink-top">
      <div class="project-item-container">
        <div class="project-item-inner">
          <div class="project-item grid">
            <img src="{{ site.baseurl }}/img/projects/titanic.png" class="project-item-img-feat" data-sr="scale up 20%, vF 0.1">
            <h3 class="project-item-title">Harnessing Knowledge</h3>
            <p>AZ had over 200 million documents. Printed out on paper, that would weigh more than the Titanic.</p>
            <p>They used over 100 different applications to search them all. That meant over 100 passwords, interfaces and systems to learn and no common way to collate results.</p>
            <aside class="project-item-aside">
              <img src="{{ site.baseurl }}/img/projects/handcloud.png" class="project-item-aside-img" data-sr="scale up 20%, vF 0.1">
              <p>So we built a simple search portal - providing universal access to all the documents through one application.</p>
              <p>The app works on phones, tablets and PCs and requires no training to use.</p>
              <p>Simplifying search at AZ came in the nick of time because every month 417,000 new documents are added, enough to wallpaper the pyramids every two days.</p>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <!-- /.project-container -->

    <section class="photo-container pink-top">
      <div class="photo-inner" style="background-image: url({{ site.baseurl }}/img/{{page.cover-img-1}})"></div>
    </section>
    <!-- /.photo-container -->
    {% include footer.html %}
  </body>
</html>
