{% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html slash-angle="right" %}

    {% include hero.html %}

    <section class="photo-block">
      <div class="photo" style="background-image: url(/img/features/{{ page.photo1-url }})"></div>
    </section>

    <section class="feature-block block slash-shadow slash-top slash-right grey-bg">
      <div class="block-inner block-inner-right grid">
        <div class="col-1-2">
          <img src="/img/illustrations/{{ page.results-illustration }}" alt="">
        </div>
        <div class="col-1-2">
          <h2>{{ page.problem-title }}</h2>
          <p class="delta">{{ page.problem-summary-lrg }}</p>
          <p class="epsilon">{{ page.problem-summary }}</p>
        </div>
      </div>
    </section>

    <section class="process-block block slash-shadow">
      <div class="block-inner grid">
        <h2 class="text-center">{{ page.method-title }}</h2>
        <ul class="{{ page.colour }} method-list">
          <li class="method">
            <span class="{{ page.colour }}-bg method-count">1</span>
            <h4 class="{{ page.colour }}-text">{{ page.method1-title }}</h4>
            <p>{{ page.method1-summary }}</p>
          </li>
          <li class="method">
            <span class="{{ page.colour }}-bg method-count">2</span>
            <h4 class="{{ page.colour }}-text">{{ page.method2-title }}</h4>
            <p>{{ page.method2-summary }}</p>
          </li>
          <li class="method">
            <span class="{{ page.colour }}-bg method-count">3</span>
            <h4 class="{{ page.colour }}-text">{{ page.method3-title }}</h4>
            <p>{{ page.method3-summary }}</p>
          </li>
        </ul>
        {% if page.quote1 %}
        <blockquote>
          <p class="quote">{{ page.quote1 }}</p>
          <p class="quote-author">{{ page.quote1-author }}</p>
        </blockquote>
        {% endif %}
      </div>
    </section>

    <section id="results" class="feature-block block ink-bg block-light">
      <div class="block-inner grid">
        <div class="col-1-2">
          <img src="/img/illustrations/{{ page.results-illustration }}" alt="">
        </div>
        <div class="col-1-2">
          <h2>{{ page.results-title }}</h2>
          <p class="delta">{{ page.results-summary-lrg }}</p>
          <p class="epsilon">{{ page.results-summary }}</p>
        </div>
      </div>
    </section>

    <aside class="screens-block block ink-bg">
      <img src="/img/case-studies/{{ page.results-screenshot }}" alt="">
    </aside>

    <section class="intro-block block ink-dark5-bg block-light slash-shadow slash-right slash-top">
      <div class="block-inner grid">
        <h2>{{ page.future-title }}</h2>
        <p>{{ page.future-summary }}</p>
        {% if page.quote2 %}
        <blockquote class="block-light">
          <p class="quote">{{ page.quote2 }}</p>
          <p class="quote-author">{{ page.quote2-author }}</p>
        </blockquote>
        {% endif %}
      </div>
    </section>
    <section class="ink-dark5-bg slash-shadow"></section>

    <section class="photo-block">
      <div class="photo" style="background-image: url(/img/features/{{ page.photo2-url }})"></div>
    </section>

    <section class="action-block intro-block block slash-shadow slash-top slash-right">
      <div class="block-inner grid">
        <img class="action-img brain-action-img" src="/img/illustrations/{{ page.action-illustration }}" alt="">
        <h2 class="pink-text">{{ page.action-title }}</h2>
        <a href="mailto:{{site.email}}" class="btn btn-lrg btn-center btn-icon btn-mail">Email us</a>
        <a href="tel:+442033273940" class="btn btn-lrg btn-center btn-icon btn-phone">Call us</a>
      </div>
    </section>

    {% include footer.html %}

    <script>
    // Change header colour
    var headerContainer = $('.gbl-head');
    if ($(headerContainer).length > 0) {
      var results;

      var scrollPositions = function () {
        results = $('#results');
      };

      var headerBG = function () {
        var windowTop = $(window).scrollTop();
        if (windowTop > results.offset().top - 200 || results.offset().bottom) {
          headerContainer.css({'background-color':'#6b7482'});
        } else {
          headerContainer.removeAttr("style");
        }
      };

      $(window).resize(scrollPositions).scroll(headerBG);
      scrollPositions();
      headerBG();
    }
    </script>

  </body>
</html>
