{% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}

    {% include hero.html %}

    <section class="photo-block">
      <div class="photo" style="background-image: url(/img/features/{{ page.photo1-url }})"></div>
    </section>

    <section id="contact" class="contact-block block block-light blue-bg slash-shadow slash-right slash-top">
      <div class="block-inner grid">
        <h2 class="col-1-1">London</h2>
        <ul class="contact">
          <li class="contact-item contact-item-address col-1-2">
            <div class="contact-item contact-item-email">
              <a href="mailto:hello@pebblecode.com">hello@pebblecode.com</a>
            </div>
          </li>
          <li class="contact-col-item col-1-2">
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
                css: '',
                portalId: '2277134',
                formId: 'cc06259d-3ffc-4f5c-a0a7-ebf9f87f3dad'
              });
            </script>
          </li>
        </ul>
      </div>
    </section>


    {% include footer.html %}

    <script>
    var headerContainer = $('.gbl-head');
    if ($(headerContainer).length > 0) {
      var contact;

      var scrollPositions = function () {
        contact = $('#contact');
      };

      var headerBG = function () {
        var windowTop = $(window).scrollTop();
        if (windowTop > contact.offset().top - 200 || contact.offset().bottom) {
          headerContainer.css({'background-color':'#0ea2dc'});
        } else {
          headerContainer.css({'background-color':'#ed4f7e'});
        }
      };

      $(window).resize(scrollPositions).scroll(headerBG);
      scrollPositions();
      headerBG();
    }
  </script>

  </body>
</html>
