{% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}

    {% include hero.html %}

    <section class="location-tab-container">
      <header class="tab-head-container grid">
        <nav class="location-tab-head tab-head">
          <button id="london-btn" data-tab-id="london" class="tab-head-item active">London</button>
          <button id="sofia-btn" data-tab-id="sofia" class="tab-head-item">Sofia</button>
        </nav>
      </header>
      <!-- /.tab-head-container -->
      <ul id="london" class="location-tab-content tab-content grid active">
        <li class="location-item location-item-address col-1-2">
          <a>W214 Westminster Business Square<br> Durham Street<br> London<br> SE11 5JH</a>
        </li>
        <li class="location-col-item col-1-2">
          <div class="location-item location-item-phone">
            <a href="tel:+442033273940">+44 (0) 20 3327 3940</a>
          </div>
          <div class="location-item location-item-email">
            <a href="mailto:hello@pebblecode.com">hello@pebblecode.com</a>
          </div>
        </li>
      </ul>
      <!-- /#london -->
      <ul id="sofia" class="location-tab-content tab-content grid">
        <li class="location-col-item col-1-2">
          <div class="location-item location-item-address">
            <a>TechHuddle<br> Business Center Tetrix<br> 23A Dragan Tsankov Blvd.<br> Sofia 1113<br> Bulgaria</a>
          </div>
        </li>
        <li class="location-col-item col-1-2">
          <div class="location-item location-item-email">
            <a href="mailto:hello@pebblecode.com">hello@pebblecode.com</a>
          </div>
        </li>
      </ul>
      <!-- /#sofia -->
      <!--[if gt IE 8]><!-->
        <div id="map" class="location-map-container"></div>
      <!--<![endif]-->
      <!-- /.location-map-container -->
    </section>
    <!-- /.about-tab-container -->
    {% include footer.html maps=true %}
  </body>
</html>
