---
layout: error
---

{% include head.html %}
  <body class="{{ page.layout }}">

    <section class="error-container grid">
      <article class="error-msg col-1-1">
        <h1>Oops. 404.</h1>
        <p>It seems you have forgotton how to use the interwebs and as a result are lost.</p>
        <p>Let us help you out and carefully guide you in the right direction</p>
        <a href="{{ base.url }}/blog" class="btn btn-block">Take me away</a>
        <img src="../img/features/error.png" alt="">
      </article>
    </section>

  </body>
</html>
