---
layout: events-base
---
{% include head.html %}
<body class="{{ page.layout }} {{ page.colour }}">

  {% include header.html %}

  {% include hero.html %}

<!--  -->

  <section class="photo-block photo-top">
    <div class="photo" style="background-image: url(/img/features/couch.jpg)"></div>
  </section>

    <section class="intro-block post-block block slash-shadow slash-top slash-right grey-bg">
    <div class="block-inner grid">
      <h2>{{page.upcoming-events-title}}</h2>
      <p>{{page.upcoming-events-intro}}</p>
      <ul class="posts">

        {% for upcomingevent in page.upcomingevents %}

        <li class="post card">
          <a class="post-link" href="{{upcomingevent.eventlink}}">
            <div class="post-thumb" style="background-image: url({{upcomingevent.thumbnail}})"></div>
            <div class="post-inner">
              <div class="card-meta meta">
                <span class="meta-date">{{upcomingevent.date}}</span>
                <span class="meta-location">{{upcomingevent.location}}</span>
              </div>
              <h3 class="card-title">{{upcomingevent.name}}</h3>
              <p class="card-excerpt">{{upcomingevent.description}}</p>
              <button class="events-btn btn btn-arrow" href="{{upcomingevent.eventlink}}">View Upcoming Event</button>
            </div>
          </a>
        </li>

        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="intro-block post-block block slash-shadow">
      <div class="block-inner grid">
        <h2>{{page.recent-events-title}}</h2>
        <p>{{page.recent-events-intro}}</p>
        <ul class="posts">

          {% for recentevent in page.recentevents %}

           <li class="post card">
            <a class="post-link" href="{{recentevent.eventlink}}">
              <div class="post-thumb" style="background-image: url({{recentevent.thumbnail}})"></div>
              <div class="post-inner">
                <div class="card-meta meta">
                  <span class="meta-date">{{recentevent.date}}</span>
                  <span class="meta-location">{{recentevent.location}}</span>
                </div>
                <h3 class="card-title">{{recentevent.name}}</h3>
                <p class="card-excerpt">{{recentevent.description}}</p>
                <button class="events-btn btn btn-arrow" href="{{recentevent.eventlink}}">View Recent Event</button>
              </div>
            </a>
          </li>

          {% endfor %}

        </ul>
      </div>
    </section>


  <section id="signup" class="photo-block">
    <div class="photo" style="background-image: url(/img/features/hackday-2.jpg)"></div>
  </section>

  <section class="intro-block block pink-bg block-light slash-shadow slash-top slash-right">
    <div class="block-inner grid">
      <h2>What We've Done</h2>
      <p>We help business propel their digital capabiltiy and enable innovativion.</p>
      <a href="/work/" class="btn btn-lrg btn-light btn-arrow">View our Work</a>
    </div>
  </section>

  {% include footer.html lazyload=true colour="pink" tone="light" %}

</body>
</html>