{% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}

    {% include hero.html %}

    <section class="photo-container home-photo-container pink-top">
      <div class="photo-inner" style="background-image: url({{ site.baseurl }}/img/{{page.cover-img}})"></div>
    </section>
    <!-- /.photo-container -->

    <section class="feat-content-container verticals-content-container blue-bg">
      <div class="feat-content grid">
        <h2 class="feat-content-title col-1-1">{{page.vert-section-title}}</h2>
        <div class="feat-content-text col-1-2" data-sr="enter right move 100px, vF 0.5">
          <ul class="feat-content-list">
            <li class="feat-content-list-item">
              <h3 class="feat-content-list-title">Health</h3>
              <p class="feat-content-list-text">{{page.vert-text-health}} </p>
              <a href="{{ site.baseurl }}/health" class="btn btn-light btn-block">Read More</a>
            </li>
            <li class="feat-content-list-item">
              <h3 class="feat-content-list-title">Transport</h3>
              <p class="feat-content-list-text">{{page.vert-text-transport}}</p>
              <a href="{{ site.baseurl }}/transport" class="btn btn-light btn-block">Read More</a>
            </li>
            <li class="feat-content-list-item">
              <h3 class="feat-content-list-title">Insurance</h3>
              <p class="feat-content-list-text">{{page.vert-text-insurance}}</p>
              <a href="{{ site.baseurl }}/insurance" class="btn btn-light btn-block">Read More</a>
            </li>
          </ul>
        </div>
        <div class="verticals-content-icons col-1-2">
          <a href="{{ site.baseurl }}/transport" class="verticals-home-bubble verticals-bubble-transport">Transport</a>
          <a href="{{ site.baseurl }}/health" class="verticals-home-bubble verticals-bubble-health">Health</a>
          <a href="{{ site.baseurl }}/insurance" class="verticals-home-bubble verticals-bubble-insurance">Insurance</a>
        </div>
      </div>
    </section>
    <!-- /.feat-content-container -->

    <section class="feat-content-container aqua-bg">
      <div class="feat-content grid">
        <div class="feat-content-img col-1-2">
          <img class="feat-content-img-iphone" data-sr="wait 0.3s, enter left move 200px, vF 0.2" src="{{ site.baseurl }}/img/services/featured-iphone.png">
          <img class="feat-content-img-ipad" data-sr="enter left move 200px, vF 0.2" src="{{ site.baseurl }}/img/services/featured-ipad.png">
        </div>
        <div class="feat-content-text col-1-2" data-sr="enter right move 100px, vF 0.5">
          <div class="meta-title-container">
            <span class="meta-title">Featured Project</span>
          </div>
          <h3>{{page.feat-title}}</h3>
          <p>{{page.feat-excerpt}}</p>
          <a href="{{ site.baseurl }}/work" class="btn btn-light btn-block">View More Projects</a>
        </div>
      </div>
    </section>
    <!-- /.feat-content-container -->

    {% include clients.html %}

    {% include cta-contact.html %}

    {% include footer.html %}

  </body>
</html>
