{% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}
    
    {% include hero.html %}

    {% include clients.html %}

    <section class="photo-container home-photo-container">
      <div class="photo-inner" style="background-image: url({{ site.baseurl }}/img/{{page.cover-img}})"></div>
    </section>
    <!-- /.photo-container -->

    <section class="feat-content-container">
      <div class="feat-content grid">
        <div class="feat-content-text col-1-2" data-sr="wait 0.2s, enter left move 100px">
          <div class="meta-title-container">
            <span class="meta-title">Featured Case Study</span>
            <span class="meta-subtitle">{{page.feat-client}}</span>
          </div>
          <h3>{{page.feat-title}}</h3>
          <p>{{page.feat-excerpt}}</p>
          <a href="{{ site.baseurl }}/work" class="btn btn-light btn-block">Read more</a>
        </div>
        <div class="feat-content-img col-1-2">
          <img class="feat-content-img-iphone" data-sr="wait 0.5s, enter right move 200px" src="{{ site.baseurl }}/img/services/services-featured-iphone.png">
          <img class="feat-content-img-ipad" data-sr="enter right move 200px," src="{{ site.baseurl }}/img/services/services-featured-ipad.png">
        </div>
      </div>
    </section>
    <!-- /.feat-content-container -->

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.1.min.js""><\/script>')</script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/vendor/scrollReveal.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
    <!-- /scripts-->

  </body>
</html>
