---
layout: post
---
{% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}

    <section class="hero-container hero-container-blog {{ page.colour }}">
      <div class="hero-inner grid"></div>
    </section>
    <!-- /.hero-container -->

    <section class="content-container post-container grid">
      <header class="post-header col-1-1">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-meta">
          <span class="post-author">{{ page.author }}</span>
          <span class="post-date">{{ page.date | date: "%B %-d, %Y" }}</span>
          <ul class="post-categories">
            {% for category in page.categories %}
              {% assign catLink = category | replace: ' ', '-' %}
              <li><a class="blog-category-title" href="/blog/tag/{{catLink}}">{{category}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </header>
      <article class="content post-content col-1-1">
        {{content}}
      </article>
      <aside class="share-container col-1-1">
        <h5 class="share-title">Share</h5>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter }}&related={{ site.twitter }}" rel="nofollow" target="_blank" class="share-btn share-twitter">Twitter</a>
        <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.excerpt | strip_html }}&source={{ site.url }}" rel="nofollow" target="_blank" class="share-btn share-linkedin">LinkedIn</a>
        <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&p[title]={{ page.title }}" rel="nofollow" target="_blank" class="share-btn share-facebook">Facebook</a>
      </aside>
    </section>
    <!-- /.post-container -->

    <!-- <section class="hero-container hero-container-blog hero-container-related">
      <div class="hero-inner grid">
        <div class="meta-title-container col-1-1">
          <span class="meta-title">Related Post</span>
        </div>
        <a href=""><h1 class="hero-title col-1-1">THE PRESENT AND THE FUTURE OF DATA VISUALISATION</h1></a>
        <span class="post-author col-1-1">John Mildinhall</span>
        <span class="post-date col-1-1">30 January 2015</span>
      </div>
    </section> -->
    <!-- /.related-post-container -->

<!--            {% for category in page.categories %}
              {{category}}
           {% endfor %}

            {% for post in site.posts %}
               <a href="{{ post.url }}"><h3 class="post-title">{{ post.title }}</h3></a>
            {% endfor %} -->

    {% include footer.html prettyprint=true %}

  </body>
</html>
