---
layout: post
---
{% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}

    <section class="hero-container hero-container-blog {{ page.colour }}">
      <div class="hero-inner grid"></div>
    </section>
    <!-- /.hero-container -->

    <section class="content-container post-container grid">
      <header class="post-header col-1-1">
        <h1 class="post-title">{{ page.title }}</h1>
        <span class="post-author">{{ page.author }}</span>
        <span class="post-date">{{ page.date | date: "%B %-d, %Y" }}</span>
      </header>
      <article class="content post-content col-1-1">
        {{content}}
      </article>
      <aside class="twitter-share col-1-1">
        <span class="twitter-share-text">Share your thoughts on <a href="https://twitter.com/{{site.twitter}}" class="twitter" target="_blank">Twitter</a></span>
      </aside>
    </section>
    <!-- /.post-container -->

    <!-- <section class="hero-container hero-container-blog hero-container-related">
      <div class="hero-inner grid">
        <div class="meta-title-container col-1-1">
          <span class="meta-title">Related Post</span>
        </div>
        <a href=""><h1 class="hero-title col-1-1">THE PRESENT AND THE FUTURE OF DATA VISUALISATION</h1></a>
        <span class="post-author col-1-1">John Mildinhall</span>
        <span class="post-date col-1-1">30 January 2015</span>
      </div>
    </section> -->
    <!-- /.related-post-container -->

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.1.min.js""><\/script>')</script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script>
    [].forEach.call(document.getElementsByTagName("pre"), function(el) {
      el.classList.add("prettyprint");
    });
    prettyPrint();
    </script>
    <!-- /scripts-->

  </body>
</html>