---
layout: seminar-new
---
{% include head.html %}

  <body class="{{ page.layout }} {{ page.colour }}">

    {% include header.html %}
    <section class="seminar-container grid">
      <article class="seminar-content">
        <h5 class="seminar-presents-title">{{page.seminar-intro}}</h5>
        <div class="seminar-titlestack">
          <h3 class="seminar-titlestack-top">{{page.seminar-title1}}</h3>
          {% if page.seminar-title2 %}<h3 class="seminar-titlestack-mid">{{page.seminar-title2}}</h3>{% endif %}
          <h3 class="seminar-titlestack-bottom">{{page.seminar-title3}}</h3>
        </div>

        <img src="{{ site.baseurl }}/img/events/{{page.seminar-hero}}" class="seminar-machine-img" alt="pebble {code}'s process">

        <div class="seminar-header-details">
          <h3 class="seminar-header-date">{{page.seminar-date}}</h3>
          <h3 class="seminar-header-time">{{page.seminar-time}}</h3>
        </div>

        <h3 class="seminar-header-location"><a href="#location">{{page.seminar-location-shorthand}}</a></h3>

        {% for paragraph in page.seminar-intro-paragraphs %}
          <p>{{paragraph}}</p>
        {% endfor %}

        <div class="eventbright-register">
          <a href="{{page.eventbright-url}}" class="btn btn-lrg">Register</a>
        </div>

        <div class="seminar-social-links">
          <span>Follow us:</span>
          <a class="linkedin" href="https://www.linkedin.com/company/2512247">linkedIn</a>
          <a class="twitter" href="https://twitter.com/pebblecode">twitter</a>
          <a class="vimeo" href="https://vimeo.com/pebblecode">vimeo</a>
        </div>
      </article>

      <article class="aside-container seminar-speakers-container">
        <!-- <div class="seminar-sprite-lightbulb"></div> -->
        <div class="seminar-sprite-brain"></div>
        <ul class="seminar-speakers">
          {% for speakerloop in page.speakers %}
            {% assign speaker = speakerloop %}
            {% include semi-speaker.html %}
          {% endfor %}
        </ul>
      </article>

      <article id="location" class="aside-container seminar-location-container">
        <div class="seminar-location-wrapper">
          <div class="seminar-sprite-lightbulb"></div>
          <h3 class="seminar-info-item"><strong>{{page.seminar-time}}</strong></h3>
          <h3 class="seminar-info-item">{{page.seminar-date}}</h3>
          <h4 class="seminar-location-heading">Location:</h4>
          <p class="location-item">
            <a href="{{page.invite-map}}" title="View in Google Maps">{{page.seminar-location}}</a>
          </p>
          <a href="#seminar-signup" class="btn btn-lrg btn-center">RSVP Now</a>
          <!-- Map section -->
          <!--[if gt IE 8]><!-->
            <div id="{{page.invite-map-id}}" class="seminar-map-container"></div>
          <!--<![endif]-->
        </div>
      </article>

    </section>
    <!-- /.content-container -->

    {% include footer.html maps=true tone="light" %}

  </body>
</html>
