---
layout: seminar-thanks
---
{% include head.html %}

  <body class="seminar {{ page.colour }}">

    {% include header.html %}
    <section class="seminar-container grid">
      <article class="seminar-content">
        <h5 class="seminar-presents-title"><span class="bold">pebble {code}</span></h5>
        <div class="seminar-titlestack">
          <h3 class="seminar-titlestack-top">{{page.seminar-title1}}</h3>
          <h3 class="seminar-titlestack-mid">{{page.seminar-title2}}</h3>
        </div>

        <img src="{{ site.baseurl }}/img/seminar/seminar-health-montage.png" class="seminar-machine-img grid" alt="pebble {code}'s process">


        <div class="seminar-social-links">
          Follow us on:
          <a class="linkedin" href="https://www.linkedin.com/company/2512247?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2512247%2Cidx%3A2-1-2%2CtarId%3A1453799975290%2Ctas%3Apebble%20c">linkedIn</a>

          <a  class="twitter" href="https://twitter.com/pebblecode">twitter</a>

          <a  class="vimeo" href="https://vimeo.com/pebblecode">vimeo</a>
        </div>

      </article>
      </section>


    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.1.min.js""><\/script>')</script>
        <!--[if gt IE 8]><!-->
      <script type="text/javascript"src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
    <!--<![endif]-->
    <script type="text/javascript" src="{{ site.baseurl }}/js/vendor/scrollReveal.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
    <!-- /scripts-->

  </body>
</html>
