{% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}

    <section class="hero-container {{ page.colour }}">
      <div class="hero-inner grid">
        <h1 class="hero-title col-1-1">{% if page.hero-title %}{{page.hero-title}}{% else %}{{page.title}}{% endif %}</h1>
        {% if page.hero-subtitle %}
          <p class="hero-summary col-1-1">{{page.hero-subtitle}}</p>
        {% endif %}
        {% if page.hero-btn %}
          <a href="{{page.hero-btn-url}}" class="btn btn-primary btn-block" data-sr="scale up 20%, vF 0">{{page.hero-btn}}</a>
        {% endif %}
      </div>
      <div class="grid">
        <div class="vert-bubble"></div>
        <div class="vert-bubble"></div>
        <div class="vert-bubble"></div>
      </div>
    </section>

    <section class="hero-container {{ page.firstitem-colour }}">
      <div class="hero-inner grid">
        <h1 class="hero-title col-1-1">{% if page.hero-title %}{{page.firstitem-title}}{% else %}{{page.title}}{% endif %}</h1>
        <p class="hero-summary col-1-1">{{page.firstitem-body}}</p>
        We discovered:
        {% if page.firstitem-list %}
          <ul class="col-1-1">
            {% for list_item in page.firstitem-list %}
                <li>{{ list_item }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <p class="hero-summary col-1-1">{{page.firstitem-2ndpara}}</p>
      </div>
    </section>

    <section class="hero-container {{ page.item-2-colour }}">
      <div class="hero-inner grid">
        <h1 class="hero-title col-1-1">{% if page.hero-title %}{{page.item-2-title}}{% else %}{{page.title}}{% endif %}</h1>
        <p class="hero-summary col-1-1">{{page.item-2-body}}</p>
        We discovered:
        {% if page.item-2-list %}
          <ul class="col-1-1">
            {% for list_item in page.item-2-list %}
                <li>{{ list_item }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <p class="hero-summary col-1-1">{{page.item-2-2ndpara}}</p>
      </div>
    </section>

    {% for vsecloop in page.sections %}
        <!-- <div>{{ nhtest }}</div> -->
      {% assign vsection = vsecloop %}
      {% include nh-test.html %}
    {% endfor %}


    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.1.min.js""><\/script>')</script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/vendor/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/vendor/scrollReveal.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
    <script>
      jQuery(function ($) {
        $("img.lazy").lazyload({
          threshold : 600
          });
        $("#gif1").attr("src","second.jpg");
      });
    </script>
    <script>

    </script>

    <!-- /scripts-->

  </body>
</html>
