{% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}

    {% include hero.html %}

    {% include clients.html %}

    <section class="project-container">
      <div class="project-item-container photo">
        <div class="project-item-inner photo">
          <div class="project-item photo grid">
            <div class="col-1-1">
              <h3 class="project-item-title">Pharmaceutical Intelligence Platform</h3>
              <p>Combining proprietary and open data sources to create world-leading consensus creation tool, helping to streamline company resources, identify risks, and take advantage of developments before the competition</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.project-container -->

   <section class="photo-container gif-photo-container purple-top">
      <!-- <div class="photo-inner" style="background-image: url(/img/projects/pharma-int.png)"></div> -->
      <div id="video1" class="photo-inner tester">
        <video autoplay muted loop>
          <source src="/img/projects/pharma-int.mp4" type="video/mp4" />
          <source src="/img/projects/pharma-int.webm" type="video/webm" />
          <source src="/img/projects/pharma-int.ogv" type="video/ogg" />
          <img src="/img/projects/pharma-int.png">
        </video>
      </div>
      <div id="gif1" class="photo-inner mobile" style="background-image: url(/img/projects/pharma-int-smlr.gif)"></div>
    </section>

    <section class="project-container project-pink">
      <div class="project-item-container">
        <div class="project-item-inner">
          <div class="project-item projects-item-inner grid">
            <div class="col-2-3 project-item-img alignme">
              <img class="intranet-desktop" src="{{ site.baseurl }}/img/projects/intranet-laptop.gif"  data-sr="enter left move 300px, vF 0.2, wait 0.2s" alt="The mother of all intranets">
              <img class="intranet-mobile" src="{{ site.baseurl }}/img/projects/intranet-mobile.gif" data-sr="enter left move 300px, vF 0.2" alt="The mother of all intranets">
            </div>
            <div class="col-1-3 project-item-text alignme">
              <h3 class="project-item-title">The mother of all intranets</h3>
              <p>Combining the latest design thinking with cutting edge information architecture we have designed the global intranet for a worldwide enterprise. It supports 40 languages and 180 nations.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.project-container -->

    <section class="project-container project-aqua">
      <div class="project-item-container photo">
        <div class="project-item-inner photo">
          <div class="project-item photo grid">
            <div class="col-1-1">
              <h3 class="project-item-title">Self-directed Learning</h3>
              <p>Moving training from a 5-day classroom course to support self-directed digital learning and realising significant cost-savings. A fully responsive course across platforms featuring games, mini-quizzes and a quirky attitude!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.project-container -->

    <section class="photo-container gif-photo-container">
      <!-- <div class="photo-inner" style="background-image: url(/img/projects/pearson-app-1.gif)"></div> -->
      <div id="video2" class="photo-inner tester">
        <video autoplay muted loop>
          <source src="/img/projects/self-directed-learning.mp4" type="video/mp4" />
            <source src="/img/projects/self-directed-learning.webm" type="video/webm" />
          <source src="/img/projects/self-directed-learning.ogv" type="video/ogg" />
          <img src="/img/projects/self-directed-learning.png">
        </video>
      </div>
      <div id="gif2" class="photo-inner mobile" style="background-image: url(/img/projects/self-directed-learning-smlr.gif)"></div>
    </section>

    <section class="project-container project-white">
      <div class="project-item-container">
        <div class="project-item-inner">
          <div class="content-container grid">
            <article class="content col-1-1 ink quote">
              {{content}}
            </article>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content-container -->

    <section class="project-container project-blue">
      <div class="project-item-container">
        <div class="project-item-inner">
          <div class="project-item grid">
            <div class=" col-2-3 alignme">
              <h3 class="project-item-title">ByBox Next Generation Delivery Experience</h3>
              <p>Using the latest cutting edge Bluetooth Low Energy technology to create a seamless locker delivery experience. By loading the smart stuff onto mobile devices, smart lockers are now 90% cheaper than before.</p>
            </div>
            <div class="col-1-3 alignme">
              <img class="project-img-small" src="{{ site.baseurl }}/img/projects/by-box.png" data-sr="enter right move 100px, vF 0.2" alt="By Box">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.project-container -->

    <section class="project-container project-green">
      <div class="project-item-container photo">
        <div class="project-item-inner photo">
          <div class="project-item photo grid">

            <div class="col-1-1">
              <h3 class="project-item-title">Enterprise Mobile Directory</h3>
              <p>A consumer-grade native application allowing users to search 60,000 people, add notes and bookmarks. The go-t o directory for an enterprise transitioning to mobile by default.</p>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- /.project-container -->

    <section class="photo-container gif-photo-container green-top">
      <div id="video3" class="photo-inner tester">
        <video autoplay muted loop>
          <source src="/img/projects/mobile-dir.mp4" type="video/mp4">
          <source src="/img/projects/mobile-dir.webm" type="video/webm" />
          <source src="/img/projects/mobile-dir.ogv" type="video/ogg">
          <img src="/img/projects/mobile-dir.png">
        </video>
      </div>
      <div id="gif3" class="photo-inner mobile" style="background-image: url(/img/projects/mobile-dir-smlr.gif)"></div>
    </section>

    <section class="project-container project-orange">
      <div class="project-item-container">
        <div class="project-item-inner">
          <div class="project-item grid">
            <div class="col-1-2 alignme">
              <h3 class="project-item-title">Rail Travel Customer Experience System</h3>
              <p>A tablet-based quality system allows a national rail company to make a quantum leap in the quality of the experience of passengers in stations and on their trains.</p>
            </div>
            <div class="col-1-2 alignme">
              <img class="project-img-large" src="{{ site.baseurl }}/img/projects/rail-custom-exp.gif" data-sr="enter right move 100px, vF 0.2" alt="Rail Travel Customer Experience System">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.project-container -->

    <section class="project-container project-purple">
      <div class="project-item-container">
        <div class="project-item-inner">
          <div class="project-item projects-item-inner grid">
            <div class="col-1-2 project-item-img alignme">
              <img class="project-img-large" src="{{ site.baseurl }}/img/projects/agile-hub.gif" data-sr="enter left move 200px, vF 0.2" alt="Agile Transformation Hub">
            </div>
            <div class="col-1-2 project-item-text alignme">
              <h3 class="project-item-title">Agile Transformation Hub</h3>
              <p> Companies need to become agile, and fast. Our hub provides the client with all the latest and best information to ensure they develop a robust agile practice.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.project-container -->

    <section class="project-container project-pink project-last">
      <div class="project-item-container">
        <div class="project-item-inner">
          <div class="project-item grid">
            <div class="col-1-2 alignme">
              <h3 class="project-item-title">High Frequency Audio Tagging</h3>
              <p>An innovative project to use web technologies to tag broadcast media content with inaudible high frequency tags. </p>
            </div>
            <div class="col-1-2 alignme">
              <img class="project-img2" src="{{ site.baseurl }}/img/projects/audio.svg" data-sr="enter right move 100px, vF 0.2" alt="High Frequency Audio Tagging">
              <img class="project-img3" src="{{ site.baseurl }}/img/projects/audio-tagging.gif" data-sr="enter right move 300px, vF 0.2, wait 0.2s" alt="High Frequency Audio Tagging">
            </div>
          </div>
          <!-- /.ppl-col -->
        <aside class="aside-container ppl-join-container" data-sr="wait 0.1s, scale up 20%, vF 0">
          <p class="ink">What we do is only one part of the story; what makes all of this possible is the top notch people who make up pebble {code}.</p>
          <a href="{{ site.baseurl }}/careers" class="btn btn-primary btn-block">Join us</a>
        </aside>
        </div>
      </div>
    </section>
    <!-- /.project-container -->


    {% include footer.html %}


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.1.min.js""><\/script>')</script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/vendor/scrollReveal.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
    <!-- /scripts-->

  </body>
</html>
