<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  {% include head.html %}

  <body class="{{ layout }}">

    {% include header.html %}

    <section class="hero-container {{page.colour}}">
      <div class="hero-inner grid">
        <h1 class="hero-title col-1-1">{% if page.hero-title %}{{page.hero-title}}{% else %}{{page.title}}{% endif %}</h1>
        {% if page.hero-subtitle %}
          <p class="hero-summary col-1-1">{{page.hero-subtitle}}</p>
        {% endif %}
      </div>
    </section>
    <!-- /.hero-container -->

    <section class="project-container project-azsearch">
      <hgroup class="project-title-container grid">
        <h2 class="project-title col-1-1">AstraZeneca</h2>
      </hgroup>
      <div class="project-item-container">
        <div class="project-item-inner">
          <div class="project-item grid">
            <img src="{{ site.baseurl }}/img/projects/titanic.png" class="project-item-img-feat">
            <h3 class="project-item-title">Harnessing Knowledge</h3>
            <hr>
            <p>AZ had over 200 million documents. Printed out on paper, that would weigh more than the Titanic.</p>
            <p>They used over 100 different applications to search them all. That meant over 100 passwords, interfaces and systems to learn and no common way to collate results.</p>
            <aside class="project-item-aside">
              <img src="{{ site.baseurl }}/img/projects/handcloud.png" class="project-item-aside-img">
              <p>So we built a simple search portal - providing universal access to all the documents through one application.</p>
              <p>The app works on phones, tablets and PCs and requires no training to use.</p>
              <p>Simplifying search at AZ came in the nick of time because every month 417,000 new documents are added, enough to wallpaper the pyramids every two days.</p>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <!-- /.project-container -->

    <section class="photo-container">
      <div class="photo-inner" style="background-image: url({{ site.baseurl }}/img/{{page.cover-img-1}})"></div>
    </section>
    <!-- /.photo-container -->

    <section class="project-container project-bede">
      <hgroup class="project-title-container grid">
        <h2 class="project-title col-1-1">Bede Gaming</h2>
      </hgroup>
      <div class="project-item-container">
        <div class="project-item-inner">
          <div class="project-item grid">
            <img src="{{ site.baseurl }}/img/projects/slot.png" class="project-item-img-feat">
            <h3 class="project-item-title">A LEADING SUPPLIER IN ONLINE GAMING TECHNOLOGY<br> A NEW BREED OF GAMING PLATFORM</h3>
            <hr>
            <p>Our client used to invent and market games for itself and its customers using industry standard gaming platforms.</p> 
            <p>Yet they were never satisfied with the quality of the service or the software they were buying in.</p>
            <aside class="project-item-aside">
              <img src="{{ site.baseurl }}/img/projects/robot.png" class="project-item-aside-img">
              <p>They decided to start from scratch by building their own software platform to deliver industry leading technology and games, while also integrating best of breed games from other content providers.</p>
              <p>Using pebble {code} and its skills and expertise to bolster their in-house software team, they have built a highly flexible online gaming platform, giving their customers and gamers the freedom to adapt their products and the ability to play them on any device.</p>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <!-- /.project-container -->

    <section class="photo-container">
      <div class="photo-inner" style="background-image: url({{ site.baseurl }}/img/{{page.cover-img-2}})"></div>
    </section>
    <!-- /.photo-container -->

    <section class="project-container project-azinno">
      <hgroup class="project-title-container grid">
        <h2 class="project-title col-1-1">AstraZeneca</h2>
      </hgroup>
      <div class="project-item-container">
        <div class="project-item-inner">
          <div class="project-item grid">
            <img src="{{ site.baseurl }}/img/projects/brain.png" class="project-item-img-feat">
            <h3 class="project-item-title">TURBO-CHARGING INNOVATION</h3>
            <hr>
            <p>AZ used to run innovation competitions for new ideas, but they suffered from a relatively low level of participation.</p>
            <p>The ideas were always submitted as lengthy academic documents which limited the number of people capable of suggesting or appraising ideas.</p>
            <p>So they missed out on the collective brainpower available.</p>
            <aside class="project-item-aside">
              <img src="{{ site.baseurl }}/img/projects/innovation.png" class="project-item-aside-img">
              <p>So with them we developed a collaborative innovation tool, creating a place where new ideas can be captured, shared and appraised anytime, anywhere by anyone.</p>
              <p>Ideas start out as 140 character chunks. The crowd vote on the most attractive and only those selected by the crowd are developed any further.</p>
              <p>All participants get rewarded for being involved. This gets more people than ever from within the organisation involved in innovation.</p>
              <p>Ideas are improved by wider collaboration into more rounded concepts, making the real-world application of the ideas more likely.</p>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <!-- /.project-container -->

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-2.1.1.min.js""><\/script>')</script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
    <!-- /scripts-->

  </body>
</html>