//===============================================================================
// ANIMATIONS
//===============================================================================
// FADE IN
// @extend .fadein
.fadein { animation: fadein 1s; }
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

// FADE OUT
// @extend .fadeout
.fadeout { animation: fadeout 1s; }
@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

// PULSE
// @extend .pulse
.pulse { animation: pulse 0.6s infinite alternate; }
@keyframes pulse {
  from { transform: scale(1); }
  to { transform: scale(1.06) }
}