// INPUT, TEXTAREA
input, textarea {
  padding: 14px 10px;
  display: block;
  border-radius: 0;

  &:focus { outline: none; }
}

input[type="radio"] {
  display: inline-block;
}

// IMAGES
img { display: block; }

// LISTS
ol {
  padding-left: 1.4em;

  ol, ol ol {
    margin-bottom: 0;
  }
}

ul {
  list-style: none;

  ul, ul ul {
    margin-bottom: 0;
  }
}

dt {
  font-weight: $font-bold;
}

dd {
  margin-left: 1.4em;
}

hr {
  margin: 20px auto;
  border: 2px solid rgba(black, 0.08);
}

// Hidden Elements (For Screen Readers)
.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// Pagination
.pagination {
  position: relative;

  .btn {
    margin-right: 5px;
  }
}
