//===============================================================================
// GRID
//===============================================================================
.grid {
  padding-right: $gutter;
  padding-left: $gutter;

  @media screen and ( max-width: $medium + 100px ) {
    padding-left: 0;
    padding-right: 0;
  }
}

.padded { padding: $gutter; }

[class*='col-'] {
  display: inline-block;
  margin-right: -2px;
  margin-left: -2px;
  vertical-align: top;
  padding-right: $gutter;
  padding-left: $gutter;
}

.col-1-1 { width: 100%; }
.col-2-3 { width: 66.66%; }
.col-1-3 { width: 33.33%; }
.col-1-2 { width: 50%; }
.col-1-4 { width: 25%; }
.col-1-8 { width: 12.5%; }

@media screen and ( max-width: $small ) {
  [class*='col-'] {
    width: 100%;
    display: block;
    margin-left: 0;
  }

  .mobile-col-2-3,
  .mobile-col-1-3,
  .mobile-col-1-2,
  .mobile-col-1-4,
  .mobile-col-1-8 {
    display: inline-block;
    margin-left: -4px;
  }

  .mobile-col-2-3 { width: 66.66%; }
  .mobile-col-1-3 { width: 33.33%; }
  .mobile-col-1-2 { width: 50%; }
  .mobile-col-1-4 { width: 25%; }
  .mobile-col-1-8 { width: 12.5%; }

  .show-small {
    display: none;
  }
}
