//===============================================================================
// MIXINS
//===============================================================================
@mixin clearfix {
  clear: both;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin hide-text {
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
  }
}

@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}

// SPRITE ICON
@mixin icon {
  color: transparent;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;

  &:hover {
    color: transparent;
  }
}

// SPRITE ICON (PSEUDO)
@mixin icon-pseudo {
  content: "";
  overflow: hidden;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
}

// BEFORE/AFTER SHADOWS
@mixin shadow-pseudo {
  content: "";
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
}

@mixin display-text {
  line-height: 1.3;
  font-weight: $font-black;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: -1px;
}

@mixin body-text {
  font-weight: $font-regular;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
}
