@each $name, $hexa in $colors {
  .#{$name}-bg.slash::after {
    background-color: #{$hexa};
  }
}

.slash {
  position: relative;

  * {
    position: relative;
    z-index: 3;
  }

  &:not(.slash-top) + & {
    padding-top: 100px;
  }

  &::after {
    @include pseudo;
    top: auto;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    transform: rotate(2deg) scale(1.2);
    bottom: -20px;
    height: 50px;
  }

  &.slash-top::after {
    top: -20px;
    bottom: auto;
  }

  &.slash-right::after {
    transform: rotate(-2deg) scale(1.2);
  }

  & > & {
    bottom: -60px;
  }
}

.slash-shadow {
  @extend .slash;

  &::after {
    box-shadow: 0 10px 0 rgba(black, 0.15);
  }

  &.slash-top::after {
    box-shadow: 0 -10px 0 rgba(black, 0.15);
  }
}
