//===============================================================================
// SPRITE
//===============================================================================
@mixin sprite( $spriteVals ) {
  width: nth( $spriteVals, 1 );
  height: nth( $spriteVals, 2 );
  background-repeat: no-repeat;
  background-image: url( #{ nth( $spriteVals, 3 ) } );
  background-position: nth( $spriteVals, 4 ) nth( $spriteVals, 5 );
}

$gbl-sprite-path: '../img/gbl-sprite.svg';
$logo-white: 170px 29px $gbl-sprite-path 0px 0px;
$charity-white: 21px 26px $gbl-sprite-path -164px -69px;
$gym-white: 26px 19px $gbl-sprite-path -188px -69px;
$pay-white: 26px 26px $gbl-sprite-path -136px -69px;
$beer-white: 25px 26px $gbl-sprite-path -108px -69px;
$ten-white: 24px 26px $gbl-sprite-path -81px -69px;
$snacks-white: 20px 25px $gbl-sprite-path -58px -69px;
$holiday-white: 26px 25px $gbl-sprite-path -28px -69px;
$flexible-white: 25px 26px $gbl-sprite-path 0px -69px;
$mail-black: 29px 25px $gbl-sprite-path -137px -33px;
$phone-black: 30px 30px $gbl-sprite-path -105px -33px;
$location-black: 23px 32px $gbl-sprite-path -79px -33px;
$close-grey: 17px 17px $gbl-sprite-path -191px -33px;
$menu-grey: 19px 19px $gbl-sprite-path -169px -33px;
$octocat-pink: 23px 23px $gbl-sprite-path -53px -33px;
$twitter-pink: 26px 21px $gbl-sprite-path -26px -33px;
$vimeo-pink: 24px 22px $gbl-sprite-path 0px -33px;