//===============================================================================
// SPRITE
//===============================================================================
@mixin sprite( $spriteVals ) {
  width: nth( $spriteVals, 1 );
  height: nth( $spriteVals, 2 );
  background-repeat: no-repeat;
  background-image: url( #{ nth( $spriteVals, 3 ) } );
  background-position: nth( $spriteVals, 4 ) nth( $spriteVals, 5 );
}

$gbl-sprite-path: '../img/gbl-sprite.svg';
$logo-white: 170px 29px $gbl-sprite-path 0px 0px;
$charity-white: 21px 26px $gbl-sprite-path -164px -69px;
$gym-white: 26px 19px $gbl-sprite-path -188px -69px;
$pay-white: 26px 26px $gbl-sprite-path -136px -69px;
$beer-white: 25px 26px $gbl-sprite-path -108px -69px;
$ten-white: 24px 26px $gbl-sprite-path -81px -69px;
$snacks-white: 20px 25px $gbl-sprite-path -58px -69px;
$holiday-white: 26px 25px $gbl-sprite-path -28px -69px;
$flexible-white: 25px 26px $gbl-sprite-path 0px -69px;
$mail-black: 29px 25px $gbl-sprite-path -230px -33px;
$mail-white: 29px 25px $gbl-sprite-path -295px -33px;
$phone-white: 29px 29px $gbl-sprite-path -263px -33px;
$phone-black: 29px 29px $gbl-sprite-path -198px -33px;
$location-black: 23px 32px $gbl-sprite-path -172px -33px;
$close-grey: 17px 17px $gbl-sprite-path -152px -33px;
$menu-grey: 19px 19px $gbl-sprite-path -130px -34px;
$facebook-pink: 22px 22px $gbl-sprite-path -105px -34px;
$linkedin-pink: 23px 22px $gbl-sprite-path -80px -34px;
$octocat-pink: 23px 23px $gbl-sprite-path -53px -33px;
$twitter-pink: 26px 21px $gbl-sprite-path -26px -33px;
$vimeo-pink: 24px 21px $gbl-sprite-path 0px -33px;

$client-sprite-path: '../img/client-sprite.svg';
$bybox-logo: 220px 94px $client-sprite-path -438px -94px;
$express-logo: 219px 94px $client-sprite-path -658px -94px;
$pearson-logo: 219px 94px $client-sprite-path -439px 0px;
$pwc-logo: 219px 94px $client-sprite-path -658px 0px;
$hp-logo: 220px 94px $client-sprite-path -877px 0px;
$dentsu-logo: 219px 94px $client-sprite-path 0px -94px;
$bede-logo: 219px 94px $client-sprite-path -219px -94px;
$lloyds-logo: 220px 94px $client-sprite-path -877px -94px;
$bill-logo: 219px 95px $client-sprite-path 0px -188px;
$cancer-logo: 219px 95px $client-sprite-path -219px -188px;
$aljazeera-logo: 219px 94px $client-sprite-path 0px 0px;
$az-logo: 219px 94px $client-sprite-path -219px 0px;
