//===============================================================================
// SPRITE
//===============================================================================
// GLOBAL
.i-gym-white, .i-10-white, .i-pay-white, .i-charity-white, .i-snacks-white, .i-holidays-white, .i-flexible-white, .i-social-white, .i-vimeo-pink, .i-github-pink, .i-menu-grey, .i-twitter-pink, .i-gbl-logo-white, .i-close-grey, .i-phone-grey, .i-email-grey, .i-location-grey { background: url($gbl-sprite); }

.i-flexible-white, .i-vimeo-pink, .i-location-grey, .i-github-pink { width: 26px; }

.i-10-white { width: 26px; }

.i-snacks-white, .i-menu-grey { width: 20px; }

.i-phone-grey, .i-email-grey { width: 31px; }

.i-10-white, .i-charity-white, .i-email-grey { height: 27px; }

.i-vimeo-pink, .i-twitter-pink { height: 22px; }

.i-pay-white, .i-holidays-white { width: 28px; height: 26px; }

.i-pay-white { width: 30px; height: 26px; }

.i-gym-white, .i-social-white { width: 28px; }

.i-social-white, .i-flexible-white { height: 28px; } 

.i-gym-white { background-position: -467px 0px; height: 20px; }
.i-10-white { background-position: -521px 0px; }
.i-pay-white { background-position: -579px 0px; }
.i-charity-white { background-position: -610px 0px; width: 24px; }
.i-snacks-white { background-position: -498px 0px; height: 25px; }
.i-holidays-white { background-position: -437px 0px; }
.i-flexible-white { background-position: -406px 0px; }
.i-social-white { background-position: -549px 0px; }
.i-vimeo-pink { background-position: -177px 0px; }
.i-github-pink { background-position: -235px 0px; height: 23px; }
.i-menu-grey { background-position: -264px 0px; height: 19px; }
.i-twitter-pink { background-position: -202px 0px; width: 29px; }
.i-gbl-logo-white { background-position: 0px 0px; width: 175px; height: 31px; }
.i-close-grey { background-position: -288px 0px; width: 18px; height: 18px; }
.i-phone-grey { background-position: -338px 0px; height: 30px; }
.i-email-grey { background-position: -372px 0px; }
.i-location-grey { background-position: -309px 0px; height: 33px; }