//===============================================================================
// COLOUR THEMES
//===============================================================================
.pink-bg { background-color: $pink; }
.purple-bg { background-color: $purple; }
.blue-bg { background-color: $blue; }
.aqua-bg { background-color: $aqua; }
.green-bg { background-color: $green; }
.orange-bg { background-color: $orange; }
