//===============================================================================
// VARIABLES
//===============================================================================
// COLOURS
$paper: white;
$ink: #6b7482;

$pink: #ed4f7e;
$purple: #9b5ca4;
$blue: #0ea2dc;
$aqua: #37bec0;
$green: #a4ce4e;
$orange: #faad40;

$grey: darken($ink, 20);
$primary: $pink;


// TYPOGRAPHY
$base-font: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$brandon: 'brandon-grotesque', $base-font;

$font-regular: 300; // $brandon only
$font-bold: 700; // $brandon only
$font-black: 900; // $brandon only

$tera: 78px;
$giga: 60px;
$mega: 52px;
$alpha: 42px;
$beta: 32px;
$gamma: 24px;
$delta: 20px;
$epsilon: 16px;
$zeta: 14px;

$body-font-size: $delta;


// SPACING: Grid, Viewports etc
$large: 1000px;
$medium: 650px;
$small: 500px;

$gutter: 20px;
